{%- set pageCategory = "cat-prestigious" -%}
{%- set cssFile = "prestigious_2020.css" -%}
{%- set jsFile = "prestigious_2020.js" -%}
{%- set cssTimeStamp = "?v=20200803" -%}
{%- set jsTimeStamp = "?v=20200803" -%}
{%- set pageDir = "special/prestigious/" -%}
{%- set pageTitle = "インフィニティ 新プレステジアスライン" -%}
{%- set pageKeyword = "KOSE,コーセー,INFINITY,インフィニティ,Prestigious,プレステジアス,リニューアル,発表会,夏木マリ,美容,筋膜,マッサージ,エイジング" -%}
{%- set pageDescription = "KOSEブランド最高峰のインフィニティよりプレステジアスがリニューアルして新発売。新商品情報をお届けします。" -%}
{%- set pageOgFile = "resources/images/special/prestigious_2020/og.jpg" -%}
{%- set isOG = "true" -%}

{%- block option_js -%}
<script src="https://players.brightcove.net/6034685923001/default_default/index.min.js"></script>
{%- endblock -%}

{%- extends "_layout/_base.njk" -%}

{%- block content_main -%}

<div class="wrap introduction">
	<div class="modal">
		<div class="modal-bg"></div>
		<div class="modal-wrap">
			<div class="modal-box">
				<button class="modal-btn__close modal-close"><img class="w-100" src="/infinity/resources/images/cm_2019/btn_close.png" alt="CLOSE"></button>
				<div class="modal-layer"></div>
			</div>
		</div>
	</div>
	{#- mv -#}
	<section id="mv" class="mv">
		<ul class="mv-box">
			<li class="mv-box__item current">
				<img class="w-100 img_mediaq" src="/infinity/resources/images/special/prestigious_2020/alpha.png" data-src="/infinity/resources/images/special/prestigious_2020/mv_02.jpg" data-path="serial" alt="進化をやめない肌 INFINITY KOSÉ PRESTIGIOUS">
			</li>
			<li class="mv-box__item">
				<img class="w-100 img_mediaq" src="/infinity/resources/images/special/prestigious_2020/alpha.png" data-src="/infinity/resources/images/special/prestigious_2020/mv_01.jpg" data-path="serial" alt="">
			</li>
			<li class="mv-box__item">
				<img class="w-100 img_mediaq" src="/infinity/resources/images/special/prestigious_2020/alpha.png" data-src="/infinity/resources/images/special/prestigious_2020/mv_03.jpg" data-path="serial" alt="美を躍動させる、2つのクリーム。">
			</li>
		</ul>
	</section>
	{#- /mv -#}
	{#- sec-col -#}
	<section class="sec-col">
		<div class="sec-col__wrap">
			<h2 class="sec-col__title"><img class="w-100" src="/infinity/resources/images/special/prestigious_2020/sec_01_title.png" alt="進化をやめない肌"></h2>
			<p class="sec-col__text">肌表面を支える構造を探究したインフィニティは<br class="sp">新たな領域に辿りつきました。<br>
				徹底的にアプローチすれば、<br class="sp">肌はもっと美しく、強くなる。<br>
				SMASに着目し、“効果的機能”で応える<br>
				インフィニティの最高峰スキンケアライン、<br class="sp">プレステジアス。
			</p>
			<p class="sec-col__text sec-col__text--lead">あなたの進化が、今、ここからはじまります。</p>
			<p class="sec-col__code"><img class="w-100" src="/infinity/resources/images/special/prestigious_2020/sec_01_code.png" alt="*SMAS:Skin Moisture Activation System"></p>
		</div>
	</section>
	{#- /sec-col -#}

	{#- sec-product -#}
	<section class="sec-product">
		<div class="sec-product__wrap">
			<div class="product product-01">
				<div class="product-ph">
					<div class="product-ph__wrap">
						<img class="product-ph__bg" src="/infinity/resources/images/special/prestigious_2020/sec_03_product_01_bg.png" alt="">
						<img class="product-ph__img motion-box" src="/infinity/resources/images/special/prestigious_2020/sec_03_product_01.png" alt="インフィニティ プレステジアス クレンジング バーム">
					</div>
				</div>
				<div class="product-box">
					<h2 class="product-title">肌を解きほぐしながら、<br>メイクやくすみを取り除く<br>柔軟効果のあるクレンジングバーム。</h2>
					<h3 class="product-name">インフィニティ プレステジアス<br>クレンジング バーム</h3>
					<p class="product-capacity">容量：120g</p>
					<div class="product-detail">
						<dl class="product-detail__dl js-accordion">
							<dt class="product-detail__dt js-accordion-btn">商品特長</dt>
							<dd class="product-detail__dd js-accordion-contents">
								<div class="product-detail__block">
									<ul class="product-detail__ul">
										<li class="product-detail__li">上質な美容オイルを濃縮した、バーム状のクレンジング料です。コクのあるバームが肌温度でとろけ、肌を解きほぐしながらメイクアップ料や気になるくすみ・よごれをやさしく取り除きます。</li>
										<li class="product-detail__li">潤いを閉じこめるオイルのエモリエント効果により肌をやわらげ、ふっくらハリ感のあるキメ細かな肌へ導きます。</li>
										<li class="product-detail__li">プレステジアス独自のSMAS Rビルド テクノロジー<sup>※</sup>を搭載。</li>
										<li class="product-detail__li">フォンダンショコラの感触をヒントに開発。バームを形作ることができる最小限の固形オイルの配合比率を見出し、ボタニカルオイルを含む濃厚な美容オイルをぎゅっと包みこみました。絶妙にやわらかく、なめらかな取れ感がありながら、肌上でとろけるようにオイルがジュワッと溶け出し、洗い流しもスムーズです。</li>
										<li class="product-detail__li">オイルマッサージをしたあとのように肌がほぐれ、ふかふかでやわらか、しっとりしなやかな肌にととのえます。</li>
										<li class="product-detail__li">ボタニカルオイル配合のバームが、キメひとつひとつが生まれ変わったようにリセットします。</li>
										<li class="product-detail__li">キメをととのえ、明るい透明感をあたえます。</li>
										<li class="product-detail__li">パラベンフリー・鉱物油フリー</li>
										<li class="product-detail__li">肌の生命感を呼び覚ますような、エナジャイズドフローラルの香りです。</li>
									</ul>
									<p class="product-detail__note">くすみは古い角質、よごれは酸化皮脂・大気中の微粒子（ちり・ほこり）など。<br><sup>※</sup> ハリ・ツヤで立体感のある肌へ導く、ハナショウガ・タチジャコウソウエキス配合テクノロジー。</p>
								</div>
							</dd>
						</dl>

						<dl class="product-detail__dl js-accordion">
							<dt class="product-detail__dt js-accordion-btn">配合成分</dt>
							<dd class="product-detail__dd js-accordion-contents">
								<div class="product-detail__block">
									<p class="product-detail__text">［保湿成分］ ＊ハナショウガエキス ＊タチジャコウソウエキス［ワイルドタイム］ ＊ボタニカルオイル</p>
									<p class="product-detail__note product-detail__note--dot">タチジャコウソウエキスはタチジャコウソウ花／葉／茎エキス、ボタニカルオイルは植物性スクワランです。</p>
								</div>
							</dd>
						</dl>

						<dl class="product-detail__dl js-accordion">
							<dt class="product-detail__dt js-accordion-btn">使用方法</dt>
							<dd class="product-detail__dd js-accordion-contents">
								<div class="product-detail__block">
									<ul class="product-detail__ul">
										<li class="product-detail__li">乾いた手のひらに、添付のスパチュラでさくらんぼ粒くらいの量をとり、指先でファンデーションなどのメイクアップ料とよくなじませながら、顔全体にのばします。</li>
										<li class="product-detail__li">そのあと、水かぬるま湯で洗い流します。</li>
									</ul>
								</div>
							</dd>
						</dl>
					</div>
					<a class="btn-more hover-alpha" href="http://www.kose.co.jp/infinity/product/cleansing_balm/">
						<span class="text-vollkorn btn-more__text">MORE</span>
					</a>
				</div>
			</div>

			<div class="product product-08 product-reverse">
				<div class="product-ph">
					<div class="product-ph__wrap">
						<img class="product-ph__bg" src="/infinity/resources/images/special/prestigious_2020/sec_03_product_01_bg.png" alt="">
						<img class="product-ph__img motion-box" src="/infinity/resources/images/special/prestigious_2020/sec_03_product_08.png" alt="インフィニティ プレステジアス クレンジング クリーム">
					</div>
				</div>
				<div class="product-box">
					<h2 class="product-title">肌をときほぐしながら<br>メイクアップ料を落とし、<br>ハリ感まであたえるクレンジングクリーム。<br>まるで生まれ変わったような、<br>ふっくらしなやかな肌へ。</h2>
					<h3 class="product-name">インフィニティ プレステジアス<br>クレンジング クリーム</h3>
					<p class="product-capacity">容量：150g</p>
					<div class="product-detail">
						<dl class="product-detail__dl js-accordion">
							<dt class="product-detail__dt js-accordion-btn">商品特長</dt>
							<dd class="product-detail__dd js-accordion-contents">
								<div class="product-detail__block">
									<ul class="product-detail__ul">
										<li class="product-detail__li">上質な美容成分やボタニカルオイルを贅沢に配合。乾燥の気になる肌も、使うたびにうるおいをあたえ、生まれ変わったような、ふっくらハリのある肌に導くクレンジングクリームです。</li>
										<li class="product-detail__li">クリアエモリエント処方を採用。肌をときほぐしながら、メイクアップ料や気になるくすみ・よごれなどのスキンノイズ<sup>※1</sup>をやさしく取り除き、磨き上げられたようなしなやかな肌に導きます。</li>
										<li class="product-detail__li">プレステジアス独自のSMAS Rビルド テクノロジー<sup>※2</sup>を搭載。</li>
										<li class="product-detail__li">ていねいにスキンケアしたあとのような、やわらかくキメ細やかで、明るい透明感のある肌を叶えます。</li>
										<li class="product-detail__li">肌の生命感を呼び覚ますような、エナジャイズドフローラルの香りです。</li>
										<li class="product-detail__li">パラベンフリー</li>
									</ul>
									<p class="product-detail__note">くすみは古い角質によるもの、よごれは酸化皮脂・大気中の微粒子（ちり・ほこり）などです。</p>
									<p class="product-detail__note">※1 不要な角質・酸化皮脂・メイクよごれ・大気中の微粒子（ちり・ほこり）など</p>
									<p class="product-detail__note">※2 ハリ・ツヤで立体感のある肌へ導く、ハナショウガ・タチジャコウソウエキス配合テクノロジー</p>
								</div>
							</dd>
						</dl>

						<dl class="product-detail__dl js-accordion">
							<dt class="product-detail__dt js-accordion-btn">配合成分</dt>
							<dd class="product-detail__dd js-accordion-contents">
								<div class="product-detail__block">
									<p class="product-detail__text">［保湿成分］ ＊ハナショウガエキス　＊タチジャコウソウエキス　＊ボタニカルオイル</p>
									<p class="product-detail__note product-detail__note--dot">タチジャコウソウエキスはタチジャコウソウ花／葉／茎エキス、ボタニカルオイルは植物性スクワランです。</p>
								</div>
							</dd>
						</dl>

						<dl class="product-detail__dl js-accordion">
							<dt class="product-detail__dt js-accordion-btn">使用方法</dt>
							<dd class="product-detail__dd js-accordion-contents">
								<div class="product-detail__block">
									<ul class="product-detail__ul">
										<li class="product-detail__li">乾いた手のひらにさくらんぼ粒くらいの量をとり、両ほほ・ひたい・鼻・あごの5カ所におきます。</li>
										<li class="product-detail__li">指先でファンデーションなどのメイクアップ料や肌のよごれとよくなじませながら、顔全体にのばします。</li>
										<li class="product-detail__li">そのあと、ティッシュペーパーで肌をつよくこすらないように注意しながらていねいにふきとるか、水またはぬるま湯で洗い流してください。</li>
										<li class="product-detail__li">このあと洗顔料をお使いください。</li>
									</ul>
								</div>
							</dd>
						</dl>
					</div>
					<a class="btn-more hover-alpha" href="https://www.kose.co.jp/infinity/product/cleansing_cream/">
						<span class="text-vollkorn btn-more__text">MORE</span>
					</a>
				</div>
			</div>

			<div class="product product-02">
				<div class="product-ph">
					<div class="product-ph__wrap">
						<img class="product-ph__bg" src="/infinity/resources/images/special/prestigious_2020/sec_03_product_01_bg.png" alt="">
						<img class="product-ph__img motion-box" src="/infinity/resources/images/special/prestigious_2020/sec_03_product_02.png" alt="インフィニティ プレステジアス ウォッシング ミルク">
					</div>
				</div>
				<div class="product-box">
					<h2 class="product-title">濃厚な泡で、<br>まるで乳液で洗ったような<br>しっとりツヤやかな肌を叶える洗顔料。</h2>
					<h3 class="product-name">インフィニティ プレステジアス<br>ウォッシング ミルク</h3>
					<p class="product-capacity">容量：150mL</p>
					<div class="product-detail">
						<dl class="product-detail__dl js-accordion">
							<dt class="product-detail__dt js-accordion-btn">商品特長</dt>
							<dd class="product-detail__dd js-accordion-contents">
								<div class="product-detail__block">
									<ul class="product-detail__ul">
										<li class="product-detail__li">しっとりクリーミーで濃密な泡が豊かに立つ、乳液仕立ての洗顔料です。気になるくすみ・よごれを取り除き、角層のすみずみまで浄化。素肌が磨きあげられたような、つるんとしなやかな肌に洗いあげます。</li>
										<li class="product-detail__li">プレステジアス独自のSMAS Rビルド テクノロジー<sup>※</sup>を搭載。</li>
										<li class="product-detail__li">乳液のスキンケア効果で洗顔ができたら、という想いから誕生。クリア成分と泡質成分とボタニカルオイルの最適なバランスの処方開発により実現。乳液仕立てのとろんと濃厚なベースが素早く豊かに泡立ち、キメ細かくやわらかな泡に心地よく包まれます。ボタニカルオイルを抱えた泡が、キメひとつひとつを生まれかわらせるようにリセットします。</li>
										<li class="product-detail__li">泡切れがよく、しっとりなめらかな肌にととのえます。</li>
										<li class="product-detail__li">キメをととのえ、明るい透明感をあたえます。</li>
										<li class="product-detail__li">パラベンフリー</li>
										<li class="product-detail__li">肌の生命感を呼び覚ますような、エナジャイズドフローラルの香りです。</li>
									</ul>
									<p class="product-detail__note">くすみは古い角質、よごれは酸化皮脂・大気中の微粒子（ちり・ほこり）など。<br>※ ハリ・ツヤで立体感のある肌へ導く、ハナショウガ・タチジャコウソウエキス配合テクノロジー。</p>
								</div>
							</dd>
						</dl>

						<dl class="product-detail__dl js-accordion">
							<dt class="product-detail__dt js-accordion-btn">配合成分</dt>
							<dd class="product-detail__dd js-accordion-contents">
								<div class="product-detail__block">
									<p class="product-detail__text">［保湿成分］ ＊ハナショウガエキス ＊タチジャコウソウエキス ＊センキュウ水 ＊ボタニカルオイル</p>
									<p class="product-detail__note product-detail__note--dot">タチジャコウソウエキスはタチジャコウソウ花／葉／茎エキス、ボタニカルオイルは植物性スクワランです。</p>
								</div>
							</dd>
						</dl>

						<dl class="product-detail__dl js-accordion">
							<dt class="product-detail__dt js-accordion-btn">使用方法</dt>
							<dd class="product-detail__dd js-accordion-contents">
								<div class="product-detail__block">
									<ul class="product-detail__ul">
										<li class="product-detail__li">手のひらと顔をぬらしてから、ポンプを1～ 2 回押した量をとり、よく泡立てて洗顔し、充分にすすぎます。</li>
									</ul>
								</div>
							</dd>
						</dl>
					</div>
					<a class="btn-more hover-alpha" href="http://www.kose.co.jp/infinity/product/washing_milk/">
						<span class="text-vollkorn btn-more__text">MORE</span>
					</a>
				</div>
			</div>

			<div class="product product-03 product-reverse">
				<div class="product-ph">
					<div class="product-ph__wrap">
						<img class="product-ph__bg" src="/infinity/resources/images/special/prestigious_2020/sec_03_product_01_bg.png" alt="">
						<img class="product-ph__img motion-box" src="/infinity/resources/images/special/prestigious_2020/sec_03_product_03.png" alt="インフィニティ プレステジアス ローション">
					</div>
				</div>
				<div class="product-box">
					<h2 class="product-title">豊かな潤いを注ぎ込み<br>弾力感に満ちた、<br>しなやかなハリ肌へ導く美容化粧水。</h2>
					<h3 class="product-name">インフィニティ プレステジアス<br>ローション</h3>
					<p class="product-capacity">容量：160mL</p>
					<div class="product-detail">
						<dl class="product-detail__dl js-accordion">
							<dt class="product-detail__dt js-accordion-btn">商品特長</dt>
							<dd class="product-detail__dd js-accordion-contents">
								<div class="product-detail__block">
									<ul class="product-detail__ul">
										<li class="product-detail__li">美容成分を贅沢なまでに配合し、弾力感あふれる肌にととのえる美容化粧水です。豊かな潤いを肌のすみずみまで瞬時に注ぎ込み、キメひとつひとつが上向きに持ち上がったような、しなやかなハリをあたえます。</li>
										<li class="product-detail__li">プレステジアス独自のSMAS Rビルド テクノロジー<sup>※</sup>を搭載。<br>さらにバウンシングヴェール（ハリの素）で進化した“SMASバウンシングエレメント”を新採用。肌の隙間を充たし、持ち上がるようなハリ感のあるしなやかな肌を実現します。</li>
										<li class="product-detail__li">保湿力の高いペースト状オイルを特殊技術により微細に処理し溶け込ませ配合。みずみずしくまろやかなタッチで、たっぷりの美容成分を含んだ潤いを深部に瞬時に注ぎ込みます。豊かな潤いとハリ感のある肌に導きます。</li>
										<li class="product-detail__li">澄みわたるような明るい肌にととのえます。</li>
										<li class="product-detail__li">パラベンフリー</li>
										<li class="product-detail__li">アレルギーテスト済み（すべてのかたにアレルギーが起きないというわけではありません。）</li>
										<li class="product-detail__li">肌の生命感を呼び覚ますような、エナジャイズドフローラルの香りです。</li>
									</ul>
									<p class="product-detail__note">※ ハリ・ツヤで立体感のある肌へ導く、ハナショウガ・タチジャコウソウエキス配合テクノロジー。</p>
								</div>
							</dd>
						</dl>

						<dl class="product-detail__dl js-accordion">
							<dt class="product-detail__dt js-accordion-btn">配合成分</dt>
							<dd class="product-detail__dd js-accordion-contents">
								<div class="product-detail__block">
									<p class="product-detail__text">［保湿成分］＊ハナショウガエキス ＊タチジャコウソウエキス ＊センキュウ水 ＊グリセリン<br>［ハリ感アップ成分］＊SMASバウンシングエレメント</p>
									<p class="product-detail__note product-detail__note--dot">タチジャコウソウエキスはタチジャコウソウ花／葉／茎エキス、SMASバウンシングエレメントは水添レシチン・アルギン酸Na・ミリスチン酸イソプロピル・コレステロール・ゴツコラ〔ツボクサ〕エキス・レイシエキスです。</p>
								</div>
							</dd>
						</dl>

						<dl class="product-detail__dl js-accordion">
							<dt class="product-detail__dt js-accordion-btn">使用方法</dt>
							<dd class="product-detail__dd js-accordion-contents">
								<div class="product-detail__block">
									<ul class="product-detail__ul">
										<li class="product-detail__li">洗顔後、手のひらまたはコットンにポンプを3 ～ 4 回押した量をとり、やさしくパッティングするように肌になじませます。</li>
									</ul>
								</div>
							</dd>
						</dl>
					</div>
					<a class="btn-more hover-alpha" href="http://www.kose.co.jp/infinity/product/lotion/">
						<span class="text-vollkorn btn-more__text">MORE</span>
					</a>
				</div>
			</div>

			<div class="product product-04">
				<div class="product-ph">
					<div class="product-ph__wrap">
						<img class="product-ph__bg" src="/infinity/resources/images/special/prestigious_2020/sec_03_product_01_bg.png" alt="">
						<img class="product-ph__img motion-box" src="/infinity/resources/images/special/prestigious_2020/sec_03_product_04.png" alt="インフィニティ プレステジアス エマルジョン">
					</div>
				</div>
				<div class="product-box">
					<h2 class="product-title">充実したハリをあたえ<br>メリハリのある弾力肌へ導く美容乳液。</h2>
					<h3 class="product-name">インフィニティ プレステジアス<br>エマルジョン</h3>
					<p class="product-capacity">容量：120mL</p>
					<div class="product-detail">
						<dl class="product-detail__dl js-accordion">
							<dt class="product-detail__dt js-accordion-btn">商品特長</dt>
							<dd class="product-detail__dd js-accordion-contents">
								<div class="product-detail__block">
									<ul class="product-detail__ul">
										<li class="product-detail__li">美容成分を贅沢なまでに配合し、弾力感あふれる肌にととのえる美容乳液です。豊かな潤いが肌に溶け込むようにいきわたり、キメひとつひとつが上向きに持ち上がったような、しなやかなハリをあたえます。</li>
										<li class="product-detail__li">プレステジアス独自のSMAS Rビルド テクノロジー<sup>※1</sup>を搭載。<br>さらにバウンシングヴェール（ハリの素）で進化した“SMASバウンシングエレメント”を新採用。肌の隙間を充たし、持ち上がるようなハリ感のあるしなやかな肌を実現します。</li>
										<li class="product-detail__li">高浸透処方により、植物オイルや美容成分を含んだ潤いを、肌<sup>※2</sup>のすみずみまで素早く届けます。SMASバウンシングゲルの力で重力にさからうような、メリハリのある肌を持続させます。</li>
										<li class="product-detail__li">肌と一体化するようになじみ、ふっくらやわらかな明るい肌にととのえます。</li>
										<li class="product-detail__li">パラベンフリー</li>
										<li class="product-detail__li">アレルギーテスト済み（すべてのかたにアレルギーが起きないというわけではありません。）</li>
										<li class="product-detail__li">肌の生命感を呼び覚ますような、エナジャイズドフローラルの香りです。</li>
									</ul>
									<p class="product-detail__note">※1 ハリ・ツヤで立体感のある肌へ導く、ハナショウガ・タチジャコウソウエキス配合テクノロジー。</p>
									<p class="product-detail__note">※2 角層まで</p>
								</div>
							</dd>
						</dl>

						<dl class="product-detail__dl js-accordion">
							<dt class="product-detail__dt js-accordion-btn">配合成分</dt>
							<dd class="product-detail__dd js-accordion-contents">
								<div class="product-detail__block">
									<p class="product-detail__text">［保湿成分］＊ハナショウガエキス ＊タチジャコウソウエキス ＊センキュウ水 ＊グリセリン ［ハリ感アップ成分］＊SMASバウンシングエレメント<br>［弾力感アップ成分］＊SMASバウンシングゲル</p>
									<p class="product-detail__note product-detail__note--dot">タチジャコウソウエキスはタチジャコウソウ花／葉／茎エキス、SMASバウンシングエレメントは水添レシチン・アルギン酸Na・ミリスチン酸イソプロピル・コレステロール・ゴツコラ〔ツボクサ〕エキス・レイシエキス、SMASバウンシングゲルは（PEG－240 ／デシルテトラデセス－20 ／ HDI）コポリマー・ポロキサマー407・（PPG－12 ／ SMDI）コポリマーです。</p>
								</div>
							</dd>
						</dl>

						<dl class="product-detail__dl js-accordion">
							<dt class="product-detail__dt js-accordion-btn">使用方法</dt>
							<dd class="product-detail__dd js-accordion-contents">
								<div class="product-detail__block">
									<ul class="product-detail__ul">
										<li class="product-detail__li">化粧水のあと、手のひらまたはコットンにポンプを2 ～3 回押した量をとり、肌にやさしくなじませます。</li>
									</ul>
								</div>
							</dd>
						</dl>
					</div>
					<a class="btn-more hover-alpha" href="http://www.kose.co.jp/infinity/product/emulsion/">
						<span class="text-vollkorn btn-more__text">MORE</span>
					</a>
				</div>
			</div>


			<div class="product product-05 product-reverse">
				<div class="product-ph">
					<div class="product-ph__wrap">
						<img class="product-ph__bg" src="/infinity/resources/images/special/prestigious_2020/sec_03_product_01_bg.png" alt="">
						<img class="product-ph__img motion-box" src="/infinity/resources/images/special/prestigious_2020/sec_03_product_05.png" alt="インフィニティ プレステジアス セラム インダルジェンス">
					</div>
				</div>
				<div class="product-box">
					<h2 class="product-title">生命感みなぎる<br>力強いハリ・弾力感をあたえ<br>輪郭までも美しい、<br>引き締まった印象の肌へ導く美容液。</h2>
					<h3 class="product-name">インフィニティ プレステジアス<br>セラム インダルジェンス</h3>
					<p class="product-capacity">容量：40mL</p>
					<div class="product-detail">
						<dl class="product-detail__dl js-accordion">
							<dt class="product-detail__dt js-accordion-btn">商品特長</dt>
							<dd class="product-detail__dd js-accordion-contents">
								<div class="product-detail__block">
									<ul class="product-detail__ul">
										<li class="product-detail__li">肌悩みが深く、強くなるほど、スキンケアへの期待が高まるのにその効果が実感できないジレンマを帳消しにする美容液。<br>
											美容成分リブーティングCPXを、無数のマイクロカプセルひとつひとつに凝縮。<br>
											生命感みなぎる力強いハリ・弾力を呼び覚まし、引き締まった印象の肌へ導きます。</li>
										<li class="product-detail__li">マテ茶エキスを配合した「活力感をあたえるエッセンスベース」にリブーティングCPX配合のマイクロカプセルが融合。<br>
											手のひらにカプセルがフレッシュに弾け、とろんと濃厚なエッセンスベースと混ざり合い、角層まで溶けこむように浸透します。</li>
										<li class="product-detail__li">引き上がるような密着感で上向きのハリをあたえます。ベースにはナノサイズのリン脂質が入っており、キメひとつひとつがツヤやかに輝くうるおいに満ちた肌を実現します。</li>
										<li class="product-detail__li">プレステジアス独自のSMAS Rビルド テクノロジー※を搭載。<br>
											さらにバウンシングヴェール（ハリの素）で進化した「SMASバウンシングエレメント」を採用。<br>
											肌の隙間を充たし、ハリのあるしなやかな肌を実現します。</li>
										<li class="product-detail__li">肌の生命感を呼び覚ますような、エナジャイズドフローラルの香りです。</li>
										<li class="product-detail__li">アレルギーテスト済み（すべてのかたにアレルギーが起きないというわけではありません。）</li>
									</ul>
									<p class="product-detail__note">※ ハリ・ツヤで立体感のある肌へ導く、ハナショウガ・タチジャコウソウエキス配合テクノロジー。</p>
								</div>
							</dd>
						</dl>

						<dl class="product-detail__dl js-accordion">
							<dt class="product-detail__dt js-accordion-btn">配合成分</dt>
							<dd class="product-detail__dd js-accordion-contents">
								<div class="product-detail__block">
									<p class="product-detail__text">［美容成分］ ＊リブーティングCPX〔ウコン根茎エキス・ゴールデンカモミールエキス・金時ショウガエキス〕 ＊マテ茶エキス ＊ハナショウガエキス ＊タチジャコウソウエキス ＊センキュウ水 ＊グリセリン（保湿）<br>［ハリ感アップ成分］ ＊SMAS バウンシングエレメント</p>
									<p class="product-detail__note product-detail__note--dot">ゴールデンカモミールエキスはクリサンテルムインジクムエキス、金時ショウガエキスはショウガ根エキス、マテ茶エキスはマテチャ葉エキス、タチジャコウソウエキスはタチジャコウソウ花／葉／茎エキス、SMAS バウンシングエレメントは水添レシチン・アルギン酸Na・ミリスチン酸イソプロピル・コレステロール・ゴツコラ〔ツボクサ〕エキス・レイシエキスです。</p>
								</div>
							</dd>
						</dl>

						<dl class="product-detail__dl js-accordion">
							<dt class="product-detail__dt js-accordion-btn">使用方法</dt>
							<dd class="product-detail__dd js-accordion-contents">
								<div class="product-detail__block">
									<ul class="product-detail__ul">
										<li class="product-detail__li">朝・夜のお手入れに、化粧水で肌をととのえたあとにお使いください。</li>
										<li class="product-detail__li">手のひらにポンプを2 ～ 3 回押した量をとり、肌になじませます。</li>
									</ul>
									<p class="product-detail__note">※ 中身が出にくくなったときは、ポンプをはずし手のひらにうけ、指でカプセルをつぶしてからお使いください。</p>
								</div>
							</dd>
						</dl>
					</div>
					<a class="btn-more hover-alpha" href="https://www.kose.co.jp/infinity/product/serum_indulgence/">
						<span class="text-vollkorn btn-more__text">MORE</span>
					</a>
				</div>
			</div>

			<!--product-06-->
			<div class="product product-06">
				<div class="product-ph">
					<div class="product-ph__wrap">
						<img class="product-ph__bg" src="/infinity/resources/images/special/prestigious_2020/sec_03_product_01_bg.png" alt="">
						<img class="product-ph__img motion-box" src="/infinity/resources/images/special/prestigious_2020/sec_03_product_06.png" alt="インフィニティ プレステジアス デュアル クリーム アッパーゾーン クリーム　20g ロウアーゾーン クリーム　40g">
					</div>
				</div>
				<div class="product-box">
					<h2 class="product-title">顔の上下の悩みに<br class="sp">アプローチする新発想。<br>至極のタッチで浸透<sup>※1</sup>し、ゆるみのない<br>上質なハリ・弾力感を与えるクリーム。</h2>
					<h3 class="product-name">インフィニティ プレステジアス<br>デュアル クリーム</h3>
					<p class="product-capacity">容量：60g</p>
					<div class="product-detail">
						<dl class="product-detail__dl js-accordion">
							<dt class="product-detail__dt js-accordion-btn">商品特長</dt>
							<dd class="product-detail__dd js-accordion-contents">
								<div class="product-detail__block">
									<ul class="product-detail__ul">
										<li class="product-detail__li">贅沢に処方されたハイパフォーマンスクリームが、美しさへの予感を確信に。目の上、目の下、それぞれに効果的な2 つのアプローチが、生命感みなぎる肌へ導きます。</li>
										<li class="product-detail__li">ハリ・弾力をもたらすトータルケアで、ゆるみのない、しなやかで明るさ溢れる、いきいきとした肌印象を叶えます。</li>
										<li class="product-detail__li">プレステジアス独自のSMAS R ビルド テクノロジー※2を搭載。さらにバウンシングヴェール（ハリの素）で進化した“SMAS バウンシングエレメント”を採用。肌の隙間を充たし、ハリと弾力感のあるしなやかな肌を実現します。</li>
										<li class="product-detail__li">肌の生命感を呼び覚ますような、エナジャイズドフローラルの香りです。</li>
										<li class="product-detail__li">パラベンフリー</li>
										<li class="product-detail__li">アレルギーテスト済み（すべてのかたにアレルギーが起きないというわけではありません。）</li>
									</ul>
									<p class="product-detail__note">※1 角層まで　※2 ハリ・ツヤで立体感のある肌へ導く、ハナショウガ・タチジャコウソウエキス配合テクノロジー。</p>
									<p class="product-detail__note">＊SMAS：Skin Moisture Activation System</p>
									<h4 class="product-detail__title">＊（目から上用）アッパーゾーン クリーム</h4>
									<ul class="product-detail__ul">
										<li class="product-detail__li">ゴールドの輝きを放つ、なめらかなテクスチャーで、肌を心地よく包みこむクリームです。こわばった肌を解きほぐすようにふっくらやわらげ、額のすみずみまで美しい、しなやかなハリに満ちた肌に導きます。</li>
										<li class="product-detail__li">消えるようにスーッと浸透。軽いタッチでありながら、ウォーターインオイル処方のため、たっぷりのオイルをベースに配合できました。</li>
										<li class="product-detail__li">スムースオイルを最高濃度※で配合。ベタつきのもととなる成分を最小限に抑えた処方のため、フォギーでなめらかな肌へ。</li>
									</ul>
									<p class="product-detail__note">※自社内比</p>
									<h4 class="product-detail__title">＊（目から下用）ロウアーゾーン クリーム</h4>
									<ul class="product-detail__ul">
										<li class="product-detail__li">ひとたび触れると虜になってしまう、甘美なコクのある感触で、肌温で心地よく溶けこむクリームです。“ バターのようなコク感はあっても、ベタつかない”心地よさを叶えるため、肌なじみのよいオイルをはじめ複数のオイルを厳選配合。</li>
										<li class="product-detail__li">豊潤なオイルと、うるおいで充たす保湿成分とのダブル効果でやわらげ、ゆるみが気になる肌を鍛え上げるように、すっきり引き締まった印象へ。</li>
										<li class="product-detail__li">フェイスラインまで美しい、ハリ・弾力感に満ちたツヤやかな肌を叶えます。</li>
									</ul>
								</div>
							</dd>
						</dl>

						<dl class="product-detail__dl js-accordion">
							<dt class="product-detail__dt js-accordion-btn">配合成分</dt>
							<dd class="product-detail__dd js-accordion-contents">
								
								<div class="product-detail__block">
									<h4 class="product-detail__title">＊（目から上用）アッパーゾーン クリーム</h4>
									<p class="product-detail__text">［保湿成分］ ＊ハナショウガエキス　＊タチジャコウソウエキス　＊センキュウ水　＊アセチルヘキサペプチドー8　＊グリセリン</p>
									<p class="product-detail__text">［ハリ感アップ成分］ ＊SMASバウンシングエレメント</p>
									<h4 class="product-detail__title">＊（目から下用）ロウアーゾーン クリーム</h4>
									<p class="product-detail__text">［保湿成分］ ＊ハナショウガエキス　＊タチジャコウソウエキス　＊センキュウ水　＊BCAA成分　＊グリセリン　＊グリセリン</p>
									<p class="product-detail__text">［ハリ感アップ成分］ ＊SMASバウンシングエレメント</p>
									<p class="product-detail__text">［弾力感アップ成分］ ＊SMASバウンシングゲル</p>
									<p class="product-detail__note">タチジャコウソウエキスはタチジャコウソウ花／葉／ 茎エキス、SMASバウンシングエレメントは水添レシチン・アルギン酸Na・ミリスチン酸イソプロピル・コレステロール・ゴツコラ〔ツボクサ〕エキス・レイシエキス、BCAA成分はバリン、SMASバウンシングゲルは（PEG－240 ／デシルテトラデセス－20 ／ HDI）コポリマー・ポロキサマー407・（PPG－12 ／ SMDI ）コポリマー、スムースオイルは（ジメチコン／ビニルジメチコン）クロスポリマーです。</p>
								</div>
							</dd>
						</dl>

						<dl class="product-detail__dl js-accordion">
							<dt class="product-detail__dt js-accordion-btn">使用方法</dt>
							<dd class="product-detail__dd js-accordion-contents">
								<div class="product-detail__block">
									<p class="product-detail__use--all"><img class="w-100" src="/infinity/resources/images/special/prestigious_2020/sec_06_use_all.png" alt=""></p>
									<ul class="product-detail__ul">
										<li class="product-detail__li">おやすみ前のお手入れの最後にお使いください。</li>
										<li class="product-detail__li">内ぶたをはずし、下用クリーム、上用クリームの順にお使いください。</li>
										<li class="product-detail__li">添付のスパチュラまたは指先に下用クリーム（パール粒1個くらいの量）をとり、指先で両頬・あごの3ヵ所におき、図のように目から下の顔半分にのばします。</li>
										<li class="product-detail__li">そのあと、スパチュラまたは指先に上用クリーム（米粒2 個くらいの量）をとり、指先で眉間におき、目から上の顔半分にのばします。</li>
									</ul>
									<h4 class="product-detail__title">効果的な使用方法</h4>
									<p class="product-detail__text">下用クリーム、上用クリームをのばしたあとに行ってください。</p>
									<ol class="product-detail__use--ol">
										<li class="product-detail__use--li">
											<p class="product-detail__use--text">① 親指をあご先の裏にあて、人さし指を小鼻の横に置きます。</p>
											<div class="product-detail__use--ph"><img class="w-100" src="/infinity/resources/images/special/prestigious_2020/sec_06_use_01.png" alt=""></div>
										</li>
										<li class="product-detail__use--li">
											<p class="product-detail__use--text">② 人さし指の側面を使い、フェイスラインを引き上げるように、こめかみまでスライドさせます。</p>
											<div class="product-detail__use--ph"><img class="w-100" src="/infinity/resources/images/special/prestigious_2020/sec_06_use_02.png" alt=""></div>
										</li>
										<li class="product-detail__use--li">
											<p class="product-detail__use--text">③ 手のひら全体を額にぴったりと密着させ、はえぎわに向かって左右交互に引き上げます。</p>
											<div class="product-detail__use--ph"><img class="w-100" src="/infinity/resources/images/special/prestigious_2020/sec_06_use_03.png" alt=""></div>
										</li>
									</ol>
								</div>
							</dd>
						</dl>
					</div>
					<a class="btn-more hover-alpha" href="https://www.kose.co.jp/infinity/product/dual_cream/">
						<span class="text-vollkorn btn-more__text">MORE</span>
					</a>
				</div>
			</div>
			<!--/product-06-->

			<!--product-07-->
			<div class="product product-07 product-reverse">
				<div class="product-ph">
					<div class="product-ph__wrap">
						<img class="product-ph__bg" src="/infinity/resources/images/special/prestigious_2020/sec_03_product_01_bg.png" alt="">
						<img class="product-ph__img motion-box" src="/infinity/resources/images/special/prestigious_2020/sec_03_product_07.png" alt="インフィニティ プレステジアス アイゾーン セラム">
					</div>
				</div>
				<div class="product-box">
					<h2 class="product-title">目もとの複合的なゆるみ印象に<br class="sp">アプローチ。<br class="pc">肌を引き締め、<br class="sp">満ち溢れるツヤとハリを与える<br>目もと用美容液。</h2>
					<h3 class="product-name">インフィニティ プレステジアス　<br>アイゾーン セラム</h3>
					<p class="product-capacity">容量：25g</p>
					<div class="product-detail">
						<dl class="product-detail__dl js-accordion">
							<dt class="product-detail__dt js-accordion-btn">商品特長</dt>
							<dd class="product-detail__dd js-accordion-contents">
								<div class="product-detail__block">
									<ul class="product-detail__ul">
										<li class="product-detail__li">贅沢に処方されたアイセラムが、まなざしに革新をもたらす。目もとから始まる集中ケアで、輝き溢れるツヤとゆるみのないハリ感、顔立ち印象まで変えてしまうほどの、みなぎる生命感を目もとに与えます。</li>
										<li class="product-detail__li">充実感のある、オイルリッチなテクスチャー。確かな効果を期待させる、濃密なタッチ。繊細な目もとにやさしく、花びらのようになめらかに溶けこみフィットするトータルケアで、明るさ溢れるいきいきとした肌印象を叶えます。</li>
										<li class="product-detail__li">目もとの複合的なゆるみ印象にアプローチ。目もとの輝きにこだわり、光の屈折率の高いオイルを配合。密着するヴェールによって、ツヤ高さが持続します。</li>
										<li class="product-detail__li">プレステジアス独自のSMAS R ビルド テクノロジー※を搭載。さらにバウンシングヴェール（ハリの素）で進化した“SMAS バウンシングエレメント”を採用。肌の隙間を充たし、ハリと弾力のあるしなやかな肌を実現します。やわらかさと、ゆるみのないハリ感を両立し、輝き溢れるツヤを与え、美しさ際立つ存在感を生み出します。</li>
										<li class="product-detail__li">肌の生命感を呼び覚ますような、エナジャイズドフローラルの香りです。</li>
										<li class="product-detail__li">パラベンフリー</li>
										<li class="product-detail__li">アレルギーテスト済み（すべてのかたにアレルギーが起きないというわけではありません。）</li>
									</ul>
									<p class="product-detail__note">※ ハリ・ツヤで立体感のある肌へ導く、ハナショウガ・タチジャコウソウエキス配合テクノロジー。</p>
									<p class="product-detail__note">＊SMAS：Skin Moisture Activation System</p>
								</div>
							</dd>
						</dl>

						<dl class="product-detail__dl js-accordion">
							<dt class="product-detail__dt js-accordion-btn">配合成分</dt>
							<dd class="product-detail__dd js-accordion-contents">
								<div class="product-detail__block">
									<p class="product-detail__text">［保湿成分］ ＊ハナショウガエキス　＊タチジャコウソウエキス　＊センキュウ水　＊アセチルヘキサペプチドー8　＊BCAA成分　＊グリセリン</p>
									<p class="product-detail__text">［ハリ感アップ成分］ ＊SMASバウンシングエレメント</p>
									<p class="product-detail__text">［弾力感アップ成分］ ＊SMASバウンシングゲル</p>
									<p class="product-detail__note product-detail__note--dot">タチジャコウソウエキスはタチジャコウソウ花／葉／茎エキス、BCAA成分はバリン、SMASバウンシングエレメントは水添レシチン・アルギン酸Na・ミリスチン酸イソプロピル・コレステロール・ゴツコラ〔ツボクサ〕エキス・レイシエキス、SMASバウンシングゲルは（PEG－240 ／デシルテトラデセス－20 ／ HDI ）コポリマー・ポロキサマー407・（PPG-12 ／ SMDI)コポリマーです。</p>
								</div>
							</dd>
						</dl>

						<dl class="product-detail__dl js-accordion">
							<dt class="product-detail__dt js-accordion-btn">使用方法</dt>
							<dd class="product-detail__dd js-accordion-contents">
								<div class="product-detail__block">
									<ul class="product-detail__ul">
										<li class="product-detail__li">お手入れの最後にお使いください。<br>※クリームをお使いのかたは、そのあとに本品をお使いください。</li>
										<li class="product-detail__li">使いはじめは、中身が出るまでポンプを数回押してください。</li>
										<li class="product-detail__li">指先にポンプを1 回押した量をとり、両方の目のまわりの肌にていねいになじませます。</li>
										<li class="product-detail__li">メイクアップをするときは、やや少なめの量をお使いください。。</li>
									</ul>
									<h4 class="product-detail__title">効果的な使用方法</h4>
									<p class="product-detail__text">両方の目のまわりの肌に、軽くなじませてから行ってください。</p>
									<ol class="product-detail__use--ol">
										<li class="product-detail__use--li">
											<p class="product-detail__use--text">① 親指をあごの下にあて、マッサージの支点にします。中指と薬指を、目の下の目頭から目じりへやさしくすべらせます。</p>
											<div class="product-detail__use--ph"><img class="w-100" src="/infinity/resources/images/special/prestigious_2020/sec_07_use_01.png" alt=""></div>
										</li>
										<li class="product-detail__use--li">
											<p class="product-detail__use--text">② 中指で、目頭から目じりへ、目の下の3ヵ所をやさしく押します。</p>
											<div class="product-detail__use--ph"><img class="w-100" src="/infinity/resources/images/special/prestigious_2020/sec_07_use_02.png" alt=""></div>
										</li>
										<li class="product-detail__use--li">
											<p class="product-detail__use--text">③ 中指と薬指を、目の上の目頭から目じりへやさしくすべらせます。</p>
											<div class="product-detail__use--ph"><img class="w-100" src="/infinity/resources/images/special/prestigious_2020/sec_07_use_03.png" alt=""></div>
										</li>
										<li class="product-detail__use--li">
											<p class="product-detail__use--text">④ 中指で、目頭から目じりへ、目の上の3ヵ所をやさしく押します。</p>
											<div class="product-detail__use--ph"><img class="w-100" src="/infinity/resources/images/special/prestigious_2020/sec_07_use_04.png" alt=""></div>
										</li>
									</ol>
								</div>
							</dd>
						</dl>
					</div>
					<a class="btn-more hover-alpha" href="https://www.kose.co.jp/infinity/product/eye_zone_serum/">
						<span class="text-vollkorn btn-more__text">MORE</span>
					</a>
				</div>
			</div>
			<!--product-07-->

		</div>
	</section>
	{#- /sec-product -#}
	{#- sec-event -#}
	<section class="sec-event">
		<div class="sec-event__wrap">
			<a href="/infinity/special/prestigious/massage/" class="sec-event__bnr hover-alpha">
				<img class="w-100 img_mediaq" src="/infinity/resources/images/special/prestigious_2020/alpha.png" data-src="/infinity/resources/images/special/prestigious_2020/sec_04_bnr_massage.png" data-path="serial" alt="美容筋膜マッサージ 詳細はこちら">
			</a>
		</div>
	</section>
	{#- /sec-event -#}
	{#- aside -#}
	<aside id="aside" class="aside">
		<a href="/infinity/product/series/prestigious/" class="aside-bnr hover-alpha">
			<img class="img_mediaq" src="/infinity/resources/images/cm_2019/alpha.png" data-src="/infinity/resources/images/special/prestigious_2020/bnr.png" data-path="serial" alt="進化をやめない肌 INFINITY KOS&#201; PRESTIGIOUS">
		</a>
	</aside>
	{#- /aside -#}
	<a class="btn-more btn-more-top hover-alpha" href="/infinity/">
		<span class="btn-more__text">サイトトップに戻る</span>
	</a>
</div>
{%- endblock -%}