{%- set pageCategory = "cat-morning" -%}
{%- set cssFile = "morning_2021.css" -%}
{%- set jsFile = "morning_2021.js" -%}
{%- set cssTimeStamp = "?v=20200803" -%}
{%- set jsTimeStamp = "?v=20200803" -%}
{%- set pageDir = "special/morning/" -%}
{%- set pageTitle = "インフィニティ モーニングリニュー" -%}
{%- set pageDescription = "朝の肌をつるんとツヤやかに洗いあげる、泡立てない“ツヤ足し洗顔”が誕生。インフィニティ モーニングリニューをご紹介します。" -%}
{%- set pageOgFile = "resources/images/special/morning_2021/og.jpg" -%}
{%- set isOG = "true" -%}
{%- set noKeyword = "true" -%}
{%- block option_js -%}
<script src="https://players.brightcove.net/6034685923001/default_default/index.min.js"></script>
{%- endblock -%}

{%- extends "_layout/_base.njk" -%}

{%- block content_main -%}

<div class="wrap introduction">
	<div class="modal">
		<div class="modal-bg"></div>
		<div class="modal-wrap">
			<div class="modal-box">
				<button class="modal-btn__close modal-close"><img class="w-100" src="/infinity/resources/images/cm_2019/btn_close.png" alt="CLOSE"></button>
				<div class="modal-layer"></div>
			</div>
		</div>
	</div>
	{#- mv -#}
	<section id="mv" class="mv">
		<div class="mv-box__awards">
			<img class="w-100" src="/infinity/resources/images/special/morning_2021/awards_gba.png" alt="GINGER BEAUTY AWARD2021年 下半期洗顔・クレンジング部門">
		</div>
		<ul class="mv-box">
			<li class="mv-box__item">
				<div class="mv-box__product">
					<img class="w-100" src="/infinity/resources/images/special/morning_2021/mv_product.png" alt="INFINITY KOS&#201; Morning Renew Wash">
				</div>
				<div class="mv-box__text">
					<img class="w-100" src="/infinity/resources/images/special/morning_2021/mv_text.png" alt="泡立てない“ツヤ足し洗顔” INFINITY KOS&#201; Morning Renew Wash">
				</div>
			</li>
		</ul>
		<a href="https://www.kose.co.jp/infinity/product/morning_renew/" class="btn-more hover-alpha">
			<span class="btn-more__text">商品詳細はこちら</span>
		</a>
	</section>
	{#- /mv -#}
	{#- sec-trouble -#}
	<section class="sec-trouble">
		<div class="sec-trouble_block">
			<h2 class="sec-trouble_title">朝の洗顔、こんな風に<br class="pc">思っていませんか？</h2>
			<ul class="sec-trouble_ul">
				<li><img class="w-100" src="/infinity/resources/images/special/morning_2021/trouble_ball_001.png" alt="朝の支度はパッと済ませたい！"></li>
				<li><img class="w-100" src="/infinity/resources/images/special/morning_2021/trouble_ball_002.png" alt="朝の肌は汚れていなさそう！"></li>
				<li><img class="w-100" src="/infinity/resources/images/special/morning_2021/trouble_ball_003.png" alt="乾燥肌だからあんまり洗いたくないな…"></li>
				<li><img class="w-100" src="/infinity/resources/images/special/morning_2021/trouble_ball_004.png" alt="面倒くさい！"></li>
				<li><img class="w-100" src="/infinity/resources/images/special/morning_2021/trouble_ball_005.png" alt="泡立てるのに時間がかかる…"></li>
			</ul>
			<div class="sec-trouble_arrow">
				<img class="w-100" src="/infinity/resources/images/special/morning_2021/trouble_arrow.png" alt="">
			</div>
			<div class="sec-trouble_col">
				<p class="sec-trouble_text">そんなお悩みを解消するために<br>朝の肌をつるんとツヤやかに洗いあげる</p>
				<p class="sec-trouble_read"><strong>朝用の<br class="sp">泡立てない“ツヤ足し洗顔”</strong><br><span>が誕生しました<i>！</i></span></p>
			</div>
		</div>
	</section>
	{#- /sec-trouble -#}

	{#- sec-point -#}
	<section class="sec-point">
		<div class="sec-point__block">
			<div class="sec-point__product">
				<div class="sec-point__product--ph">
					<img class="w-100" src="/infinity/resources/images/special/morning_2021/point_product.png" alt="INFINITY KOS&#201; Morning Renew Wash">
				</div>
			</div>
			<div class="sec-point__col">
				<ul class="sec-point__ul">
					<li>
						<div class="sec-point__cover">
							<div class="sec-point__item">
								<h2 class="sec-point__item--title">朝の肌に<br>特化した洗顔料</h2>
								<p class="sec-point__item--text">油性汚れを落とす洗浄成分は最小限にとどめ、朝の肌特有の肌のゴワつき・角栓の原因である<span class="blue">タンパク汚れ</span>に対応した<span class="blue">朝用の洗顔料</span>です。</p>
							</div>
						</div>
					</li>
					<li>
						<div class="sec-point__cover">
							<div class="sec-point__item">
								<h2 class="sec-point__item--title">高配合の<br>うるおい成分・<br class="pc">美容成分<br class="sp">配合</h2>
								<p class="sec-point__item--text">美容成分の配合比率を高めることで、<br><span class="blue">美容液の効果を併せ持つ洗顔料</span>を実現。</p>
							</div>
						</div>
					</li>
					<li>
						<div class="sec-point__cover">
							<div class="sec-point__item">
								<h2 class="sec-point__item--title">
									<span class="sec-point__item--obj"><img class="w-100 img_mediaq" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQI12NgYAAAAAMAASDVlMcAAAAASUVORK5CYII=" data-src="/infinity/resources/images/special/morning_2021/point_03_object.png" data-path="serial" alt=""></span>
									泡立てない洗顔
								</h2>
								<p class="sec-point__item--text">ジェルタイプだから泡立ての手間が不要。<br class="pc"><span class="blue">忙しい朝でも手軽に洗顔できます。</span></p>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="sec-point__lead">
			<img class="w-100 img_mediaq" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQI12NgYAAAAAMAASDVlMcAAAAASUVORK5CYII=" data-src="/infinity/resources/images/special/morning_2021/point_lead.png" data-path="serial" alt="モーニングリニューの朝洗顔がつるんとツヤやかな、化粧のりのよい肌を叶えます。">
		</div>
	</section>
	{#- /sec-point -#}
	{#- sec-channel -#}
	<section class="sec-channel">
		<a href="6259417728001" class="btn-modal__block modal-open btn-brightcove hover-scale-c hover-alpha" data-cover="/infinity/resources/images/special/morning_2021/channel_ph.jpg">
			<div class="sec-channel__block">
				<div class="sec-channel__col">
					<div class="sec-channel__text">
						<img class="w-100" src="/infinity/resources/images/special/morning_2021/channel_text.png" alt="使い方を動画でcheck!">
					</div>
				</div>
				<div class="sec-channel__ph">
					<img class="w-100" src="/infinity/resources/images/special/morning_2021/channel_ph.jpg" alt="">
				</div>
				<div class="btn-play"><img class="w-100 target" src="/infinity/resources/images/cm_2019/btn_play.png" alt="PLAY"></div>
			</div>
		</a>
	</section>
	{#- /sec-channel -#}
	<div class="parallax">
	<img class="ball ball_001" src="/infinity/resources/images/special/morning_2021/detail_ball_001.png" alt="">
	<img class="ball ball_002" src="/infinity/resources/images/special/morning_2021/detail_ball_001.png" alt="">
	<img class="ball ball_003" src="/infinity/resources/images/special/morning_2021/detail_ball_001.png" alt="">
	<img class="ball ball_004" src="/infinity/resources/images/special/morning_2021/detail_ball_001.png" alt="">
	<img class="ball ball_005" src="/infinity/resources/images/special/morning_2021/detail_ball_002.png" alt="">
	<img class="ball ball_006" src="/infinity/resources/images/special/morning_2021/detail_ball_002.png" alt="">
	<img class="ball ball_007" src="/infinity/resources/images/special/morning_2021/detail_ball_002.png" alt="">
	<img class="ball ball_008" src="/infinity/resources/images/special/morning_2021/detail_ball_003.png" alt="">
	<img class="ball ball_009" src="/infinity/resources/images/special/morning_2021/detail_ball_003.png" alt="">
	{#- sec-product -#}
	<section class="sec-product">
		<div class="sec-product__wrap">
			<div class="product product-01">
				<div class="product-ph">
					<div class="product-ph__awards">
						<img class="w-100" src="/infinity/resources/images/special/morning_2021/awards_gba.png" alt="GINGER BEAUTY AWARD2021年 下半期洗顔・クレンジング部門">
					</div>
					<div class="product-ph__wrap">
						<img class="product-ph__img" src="/infinity/resources/images/special/morning_2021/detail_product.png" alt="INFINITY KOS&#201; Morning Renew Wash">
					</div>
				</div>
				<div class="product-box">
					<h2 class="product-title">肌のゴワつきや角栓をオフ。<br>つるんとなめらか、<br>化粧のりのよい肌に洗いあげる<br>朝用洗顔料。</h2>
					<h3 class="product-name">インフィニティ　<br class="sp">モーニング リニュー</h3>
					<p class="product-capacity">容量：100g</p>
					<div class="product-detail">
						<dl class="product-detail__dl js-accordion">
							<dt class="product-detail__dt js-accordion-btn">商品特長</dt>
							<dd class="product-detail__dd js-accordion-contents">
								<div class="product-detail__block">
									<ul class="product-detail__ul">
										<li class="product-detail__li">洗顔料と美容液の効果を併せ持つエッセンスジェルが、朝の肌をしっとりツヤやかに洗いあげる、泡立てないタイプの“ツヤ足し洗顔”。ゴワつき、角栓を洗い流し、肌をつるんとなめらかに整え、やわらかくツヤの溢れる化粧のりのよい肌へ。</li>
										<li class="product-detail__li">皮脂汚れが少ない朝の肌の“タンパク汚れ”に着目。衣類、コンタクト、浴室などのタンパク汚れには、専用の洗剤を使用するように、肌のゴワつき、角栓にはタンパク汚れに対応した洗顔料が効果的です。皮脂汚れを落とす洗浄成分は必要最小限にとどめ、タンパク汚れにアプローチする成分および美容成分の配合比率を高め、タンパク汚れをすっきりオフします。また高配合<sup>※１</sup>のうるおい成分や美容成分、洗い流す水と反応して形成される3種のオイルのラディアントヴェール<sup>※２</sup>が肌にツヤを与え、もちもちとした、しなやかな肌へ導きます。
										<ol class="product-detail__att">
											<li>※１ インフィニティ　トリートメント ウォッシュとの比較</li>
											<li>※２ 洗浄成分とオイルを含む</li>
										</ol>
										</li>
										<li class="product-detail__li">タンパク汚れに対応した洗浄成分スムースクリア成分と、毛穴に詰まった頑固な角栓をほぐす角栓メルトオイルを配合。毛穴の角栓や古い角質によるゴワつき、くすみなどのタンパク汚れをオフし、凹凸のない透明感のある肌を叶えます。</li>
										<li class="product-detail__li">とろんと濃密なエッセンスジェルが、心地よいタッチで肌にやさしくのび広がります。</li>
										<li class="product-detail__li">心まで弾むフレッシュフローラルブーケの香りです。</li>
										<li class="product-detail__li">パラベンフリー</li>
										<li class="product-detail__li">ノンコメドジェニックテスト済み</li>
										<li class="product-detail__li">アレルギーテスト済み</li>
									</ul>
									<p class="product-detail__note">（すべてのかたにコメド（ニキビのもと）やアレルギーが起きないというわけではありません。）</p>
								</div>
							</dd>
						</dl>

						<dl class="product-detail__dl js-accordion">
							<dt class="product-detail__dt js-accordion-btn">配合成分</dt>
							<dd class="product-detail__dd js-accordion-contents">
								<div class="product-detail__block">
									<p class="product-detail__text"><span class="product-detail__item">［肌なめらか成分］</span>＊スムースクリア成分　＊角栓メルトオイル</p>
									<p class="product-detail__text"><span class="product-detail__item">［ツヤアップ成分］</span>＊ラディアントヴェール成分</p>
									<p class="product-detail__note">スムースクリア成分はTEA、角栓メルトオイルはミリスチン酸イソプロピル、ラディアントヴェール成分はトリメチルシロキシケイ酸・ジフェニルシロキシフェニルトリメチコン・（ジメチコン／フェニルビニルジメチコン）クロスポリマー・ココイルグリシンKです。</p>
									<p class="product-detail__text"><span class="product-detail__item">［保湿成分］</span>＊エーデルワイスエキス　＊紅景天［コウケイテン根］エキス　＊センキュウ水　＊ゴツコラ［ツボクサ］エキス　＊レイシエキス　＊玉露茶［チャ葉］エキス　＊ノニ果汁　＊グリセリン</p>
									<p class="product-detail__note">エーデルワイスエキスはエーデルワイス花／葉エキス、ノニ果汁はヤエヤマアオキ果汁です。</p>
								</div>
							</dd>
						</dl>

						<dl class="product-detail__dl js-accordion">
							<dt class="product-detail__dt js-accordion-btn">使用方法</dt>
							<dd class="product-detail__dd js-accordion-contents">
								<div class="product-detail__block">
									<p class="product-detail__text indent">※ 夜、クレンジングのあとにお使いいただくこともできます。</p>
									<ul class="product-detail__ul product-detail__ul--mt">
										<li class="product-detail__li color-bule">ご使用前に、手や顔をぬらさないでください。</li>
										<li class="product-detail__li">乾いた手のひらにさくらんぼ粒くらいの量をとり、円を描きながら３０秒ほどマッサージするように顔全体にやさしくなじませます。ゴワつきやＴゾーンなどの皮脂や角栓の気になる部分には、特にていねいになじませます。</li>
										<li class="product-detail__li">このあと、水かぬるま湯を加えながら、円を描くように洗い流します。<br>（ジェルの感触が消えたら、洗い流しが終了したサインです。しっとりとした洗いあがりです。）</li>
									</ul>
								</div>
							</dd>
						</dl>
					</div>
				</div>
			</div>
		</div>
	</section>
	{#- /sec-product -#}

	{#- sec-onlineshop -#}
	<section class="sec-online">
		<h2 class="sec-online__title text-vollkorn">ONLINE SHOP</h2>
		<p class="sec-online__text">下記オンラインショップでもお求めいただけます。</p>
		<ul class="sec-online__ul">
			<li>
				<a href="https://maison.kose.co.jp/site/infinity/g/gBAWX/" target="_blank">
					<img class="w-100" src="/infinity/resources/images/special/morning_2021/online_logo_001.png" alt="maisonkose">
				</a>
			</li>
			<li>
				<a href="https://aeonretail.com/list/infinity" target="_blank">
					<img class="w-100" src="/infinity/resources/images/special/morning_2021/online_logo_002.png" alt="aeon">
				</a>
			</li>
			<li>
				<a href="https://iyec.omni7.jp/basic/10400?intpr=iy_frmng_top_headnav_cate" target="_blank">
					<img class="w-100" src="/infinity/resources/images/special/morning_2021/online_logo_003.png" alt="omni7">
				</a>
			</li>
			<li>
				<a href="https://www.e-welcia.com/products/list.php?category_id=54200" target="_blank">
					<img class="w-100" src="/infinity/resources/images/special/morning_2021/online_logo_004.png" alt="welcia">
				</a>
			</li>
		</ul>
		<p class="sec-online__note">ここから先は外部サイトへ移動します。価格やサービス内容については、外部サイトの利用規約に従うもので、当社は一切責任を負いません。</p>
	</section>
	{#- /sec-onlineshop -#}
	


	{#- aside -#}
	<aside id="aside" class="aside">
		<a href="/infinity/counseling/" class="aside-bnr hover-alpha">
			<img class="w-100" src="/infinity/resources/images/special/morning_2021/bnr.png" alt="INFINITY KOS&#201; WEBカウンセリング　あなたにオススメのINFINITYの商品をご提案します。">
		</a>
	</aside>
	{#- /aside -#}
	<a class="btn-more non-blank btn-more-top hover-alpha" href="/infinity/">
		<span class="btn-more__text">サイトトップに戻る</span>
	</a>
	</div>
	{#- /parallax -#}
</div>
{%- endblock -%}