<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{jsPath}}tools_2021.js"></script>
{# <script src="{{jsPath}}sns_share.js"></script> #}
<script src="{{jsPath}}lib_2019.js{{jsTimeStamp}}"></script>
<script src="{{jsPath}}{{jsFile}}{{jsTimeStamp}}"></script>
{# 本サイト用 #}
{# <script type="text/javascript" src="//typesquare.com/3/tsst/script/ja/typesquare.js?BwczFxws7-4%3D" charset="utf-8"></script> #}
{# テストサイト用 #}
{# <script type="text/javascript" src="//typesquare.com/3/tsst/script/ja/typesquare.js?jR~ET2g2pJI%3D" charset="utf-8"></script> #}
{%- block option_js %}{% endblock -%}