<div id="mv" class="mv">
  <div class="mv-box">
    <ul class="mv-ul">
			<li class="mv-li mv-li__key">
				<a href="/infinity/special/therepair/">
					<picture>
						<source srcset="/infinity/resources/images/home_2019/sp/mv_ph_20250703.webp" media="(max-width: 640px)" type="image/webp" />
						<source srcset="/infinity/resources/images/home_2019/sp/mv_ph_20250703.jpg" media="(max-width: 640px)">
						<source srcset="/infinity/resources/images/home_2019/mv_ph_20250703.webp" type="image/webp" />
						<img class="w-100" src="/infinity/resources/images/home_2019/mv_ph_20250703.jpg" alt="卓越した、シワ改善・うるおい改善　コーセー史上、最高濃度配合 ライスパワー®	No.11 9月16(火)発売 INFINITY KOSÉ 商品詳細はこちら">
					</picture>
				</a>
      </li>

			<li class="mv-li mv-li__key">
				<a href="https://www.kose.co.jp/infinity/topics/">
					<picture>
						<source srcset="/infinity/resources/images/home_2019/sp/mv_ph_20250416_01.webp" media="(max-width: 640px)" type="image/webp" />
						<source srcset="/infinity/resources/images/home_2019/sp/mv_ph_20250416_01.jpg" media="(max-width: 640px)">
						<source srcset="/infinity/resources/images/home_2019/mv_ph_20250416_01.webp" type="image/webp" />
						<img class="w-100" src="/infinity/resources/images/home_2019/mv_ph_20250416_01.jpg" alt="ひんやりタッチで、素肌ひきしめて。ハーブの香りで目覚める、夏の朝。5月16(金)限定発売 INFINITY KOSÉ 商品詳細はこちら">
					</picture>
				</a>
      </li>

			<li class="mv-li mv-li__key">
				<a href="https://www.kose.co.jp/infinity/product/skin_luminance_foundation/">
					<picture>
						<source srcset="/infinity/resources/images/home_2019/sp/mv_ph_20250120.webp" media="(max-width: 640px)" type="image/webp" />
						<source srcset="/infinity/resources/images/home_2019/sp/mv_ph_20250120.jpg" media="(max-width: 640px)">
						<source srcset="/infinity/resources/images/home_2019/mv_ph_20250120.webp" type="image/webp" />
						<img class="w-100" src="/infinity/resources/images/home_2019/mv_ph_20250120.jpg" alt="年齢もくすみも、跳ね返す艶肌へ 光を操り、内側から発光するようなパウダーファンデーション INFINITY KOSÉ 商品詳細はこちら">
					</picture>
				</a>
      </li>
			
			<li class="mv-li mv-li__key">
				<a href="/infinity/special/innovative_brightXX/">
					<picture>
						<source srcset="/infinity/resources/images/home_2019/sp/mv_ph_20250120_01.webp" media="(max-width: 640px)" type="image/webp" />
						<source srcset="/infinity/resources/images/home_2019/sp/mv_ph_20250120_01.jpg" media="(max-width: 640px)">
						<source srcset="/infinity/resources/images/home_2019/mv_ph_20250120_01.webp" type="image/webp" />
						<img class="w-100" src="/infinity/resources/images/home_2019/mv_ph_20250120_01.jpg" alt="美白の正解。 INFINITY KOSÉ 商品詳細はこちら">
					</picture>
				</a>
      </li>

			<li class="mv-li mv-li__key">
				<a href="https://www.kose.co.jp/infinity/product/unlimited_key/">
					<picture>
						<source srcset="/infinity/resources/images/home_2019/sp/mv_ph_20230605_01.webp" media="(max-width: 640px)" type="image/webp" />
						<source srcset="/infinity/resources/images/home_2019/sp/mv_ph_20230605_01.jpg" media="(max-width: 640px)">
						<source srcset="/infinity/resources/images/home_2019/mv_ph_20230605_01.webp" type="image/webp" />
						<img class="w-100" src="/infinity/resources/images/home_2019/mv_ph_20230605_01.jpg" alt="肌の生命感を、底上げする美容液。 INFINITY KOSÉ">
					</picture>
				</a>
      </li>
    </ul>
  </div>
</div>