$contentsPcW: 1200;
$basicPcW: 1360;
$maxPcW: 1400;
$contentsSpW: 560;
// @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300;400;500;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;500;600;700&display=swap');
@keyframes arrowalpha {
	0% {
		opacity: 0.2;
	}
	100% {
		opacity: 1;
	}
}
.cat-morning {
	min-width: 1180px;
	background-color: #fff;
	font-family: 'Shippori Mincho', serif;
	font-feature-settings: 'palt';
	letter-spacing: -0.02em;
	@include mediaQuery(sp) {
		width: 100%;
		min-width: 100%;
	}

	section {
		// font-family: 'Noto Serif JP', serif;
		font-weight: normal;
	}
	.color-bule {
		color: #0a7eb8;
	}
	.btn-play {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: pxToVw(60, 1360);
		min-width: 60px;
		z-index: 100;
		@include mediaQuery(sp) {
			width: pxToVw(60);
			min-width: auto;
		}
	}

	.wrap {
		color: #fff;
		box-sizing: border-box;
		// padding-bottom: 100px;
		overflow: hidden;
		@include mediaQuery(sp) {
			// padding-bottom: 50px;
		}
		h2 {
			font-weight: bold;
		}
		sup {
			font-size: 10px;
			vertical-align: super;
		}

		.mv {
			position: relative;
			.btn-more {
				position: absolute;
				top: percent(345, 504);
				left: percent(875, 1360);
				width: percent(240, 1360);
				height: percent(50, 504);
				margin: 0;
				&::after {
					content: none;
					display: none;
				}

				@include mediaQuery(sp) {
					width: pxToVw(241);
					height: pxToVw(61);
					// top: pxToVw(750);
					top: auto;
					bottom: pxToVw(100);
					left: 50%;
					transform: translate(-50%, 0);
				}
			}
			.btn-more__text {
				font-size: pxToVw(15, 1360);
				margin: 0 auto;
				white-space: nowrap;
				margin-top: -2px;
				@media screen and (min-width: 641px) and (max-width: 1360px) {
					@include font-rem(15);
				}
				@include mediaQuery(sp) {
					font-size: pxToVw(18);
				}
			}
		}

		.mv-box {
			// opacity: 0;
			width: 100%;
			overflow: hidden;
			@include aspect(2040, 750);
			@include mediaQuery(sp) {
				@include aspect(640, 890);
			}
		}

		.mv-box__item {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: 0;
			background: url(/infinity/resources/images/special/morning_2021/mv_bg.jpg);
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			margin: 0 auto;
			@include mediaQuery(sp) {
				// padding: pxToVw(100) 0;
				background: url(/infinity/resources/images/special/morning_2021/sp/mv_bg.jpg);
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
			}
			&.prev {
				z-index: 5;
			}
			&.current {
				z-index: 10;
			}
		}

		.mv-box__product {
			position: absolute;
			width: percent(233, 2040);
			top: percent(75, 750);
			left: percent(420, 2040);
			@include mediaQuery(sp) {
				position: absolute;
				width: pxToVw(130);
				top: pxToVw(100);
				left: 50%;
				transform: translate(-50%, 0);
			}
		}

		.mv-box__awards {
			position: absolute;
			width: percent(141, 1360);
			// max-width: 141px;
			top: percent(50, 500);
			left: percent(110, 1360);
			z-index: 100;
			@include mediaQuery(sp) {
				position: absolute;
				width: pxToVw(138);
				top: pxToVw(50);
				left: pxToVw(80);
			}
		}

		.mv-box__text {
			position: absolute;
			width: percent(763, 2040);
			top: percent(100, 504);
			left: percent(1096, 2040);
			opacity: 0;
			@include mediaQuery(sp) {
				position: absolute;
				width: pxToVw(533);
				top: pxToVw(480);
				left: 50%;
				transform: translate(-50%, 0);
			}
		}

		.mv-box__day {
			position: absolute;
			width: percent(440, 2040);
			top: percent(301, 504);
			left: percent(1270, 2040);
			@include mediaQuery(sp) {
				position: absolute;
				width: pxToVw(293);
				top: pxToVw(665);
				left: 50%;
				transform: translate(-50%, 0);
			}
		}

		.mv-link {
			display: block;
		}

		.sec-col {
			width: 100%;

			.btn-more {
				position: relative;
				margin: 0 auto;
				width: 380px;
				height: 50px;
				margin: 50px auto;
				// &::after {
				// 	content: none;
				// 	display: none;
				// }
				@include mediaQuery(sp) {
					width: pxToVw(450);
					height: pxToVw(61);
					margin: pxToVw(50) auto;
					// top: pxToVw(750);
				}
			}
			.btn-more__text {
				@include font-rem(15);
				margin: 0 auto;
				white-space: nowrap;
				margin-top: -2px;
				@include mediaQuery(sp) {
					font-size: pxToVw(18);
					margin-top: 0;
				}
			}
		}

		.sec-col__wrap {
			margin: 0 auto;
			display: block;
			text-align: center;
			@include aspect(1360, 380);
			background: url(/infinity/resources/images/special/morning_2021/pv.jpg);
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			margin: 0 auto;
			@include mediaQuery(sp) {
				@include aspect(640, 330);
				background: url(/infinity/resources/images/special/morning_2021/sp/pv.jpg);
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
			}
			a {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
			}
		}

		.sec-col__title {
			position: absolute;
			width: percent(1066, 2040);
			top: percent(168, 609);
			left: 50%;
			transform: translate(-50%, 0);
			@include mediaQuery(sp) {
				width: pxToVw(619);
				top: pxToVw(60);
			}
		}

		.sec-col__text {
			@include font-rem(20);
			line-height: 2.5;
			margin-bottom: 1em;
			@include mediaQuery(sp) {
				@include font-rem(11);
			}
			&--lead {
				@include font-rem(26);
				line-height: 1.7;
				margin-bottom: 40px;
				@include mediaQuery(sp) {
					@include font-rem(13);
					margin-bottom: pxToVw(45);
				}
			}
		}

		.sec-trouble {
			width: 100%;
			padding: 115px 0 100px;
			box-sizing: border-box;
			background-image: url(/infinity/resources/images/special/morning_2021/trouble_bg.jpg);
			background-color: #fff;
			background-repeat: no-repeat;
			background-position: center top;
			background-size: cover;
			margin: 0 auto;
			@include mediaQuery(sp) {
				// padding: pxToVw(100) 0;
				background-image: url(/infinity/resources/images/special/morning_2021/sp/trouble_bg.jpg);
				background-color: #fff;
				background-repeat: no-repeat;
				background-position: center top;
				background-size: 100% auto;
				padding: pxToVw(55) 0 pxToVw(80);
			}
		}

		.sec-trouble_title {
			@include font-rem(42);
			color: #000;
			margin: 0 auto;
			text-align: center;
			line-height: 1.4;
			font-weight: normal;
			@include mediaQuery(sp) {
				font-size: pxToVw(32);
			}
		}

		.sec-youtuber__wrap {
			width: 100%;
			max-width: 1000px;
			margin: 0 auto;
			box-sizing: border-box;
			padding-top: 70px;
			@include mediaQuery(sp) {
				padding: pxToVw(60) pxToVw(40) 0;
			}
		}
		.sec-youtuber__movie {
			display: flex;
			align-items: center;
			justify-content: space-between;
			background-color: #e4f2fb;
			margin-bottom: 40px;
			@include mediaQuery(sp) {
				display: block;
				margin-bottom: pxToVw(40);
			}
			.btn-more {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 280px;
				margin: 0 auto;
				@include mediaQuery(sp) {
					width: pxToVw(280);
					height: pxToVw(50);
				}
				&::after {
					width: 13px;
					height: 11px;
					@include mediaQuery(sp) {
						width: pxToVw(13);
						height: pxToVw(11);
					}
				}
				span {
					@include font-rem(18);
					@include mediaQuery(sp) {
						font-size: pxToVw(18);
					}
				}
			}
		}
		.sec-youtuber__col {
			margin: 0 auto;
			@include mediaQuery(sp) {
				box-sizing: border-box;
				padding: pxToVw(50) 0;
			}
		}
		.sec-youtuber__col--title {
			@include font-rem(36);
			text-align: center;
			@include mediaQuery(sp) {
				font-size: pxToVw(36);
			}
		}
		.sec-youtuber__col--text {
			@include font-rem(18);
			text-align: center;
			font-weight: bold;
			margin: 20px auto 35px;
			@include mediaQuery(sp) {
				font-size: pxToVw(20);
				margin: pxToVw(20) auto pxToVw(30);
			}
		}

		.sec-youtuber__col {
			color: #000;
		}
		.sec-youtuber__ph {
			width: 462px;
			@include mediaQuery(sp) {
				width: 100%;
			}
		}

		.sec-youtuber__profile {
			border: solid 1px #0a7eb8;
			box-sizing: border-box;
			padding: 40px;
			display: flex;
			justify-content: space-between;
			color: #000;
			background-color: #fff;
			@include mediaQuery(sp) {
				display: block;
				padding: pxToVw(40);
			}
		}

		.sec-youtuber__profile--ph {
			width: 200px;
			margin-right: 40px;
			@include mediaQuery(sp) {
				width: pxToVw(200);
				margin: 0 auto pxToVw(40);
			}
		}

		.sec-youtuber__profile--title {
			@include font-rem(22);
			margin-bottom: 30px;
			font-weight: bold;
			@include mediaQuery(sp) {
				font-size: pxToVw(22);
				margin-bottom: pxToVw(30);
			}
		}

		.sec-youtuber__profile--text {
			@include font-rem(16);
			line-height: 1.6;
			@include mediaQuery(sp) {
				font-size: pxToVw(20);
			}
		}
		.sec-product {
			box-sizing: border-box;
			padding: 100px 0;
			margin-bottom: 50px;
			// overflow: hidden;
			// background-color: #fff;
			@include mediaQuery(sp) {
				padding: pxToVw(170) 0 pxToVw(100);
				margin-bottom: 0;
			}
		}

		.sec-trouble_ul {
			position: relative;
			width: 100%;
			max-width: 1160px;
			margin: -70px auto 0;
			@include aspect(1160, 716);
			@include mediaQuery(sp) {
				margin: pxToVw(40) auto 0;
				@include aspect(640, 735);
			}
			li {
				position: absolute;
				&:nth-child(1) {
					width: percent(320, 1160);
					top: percent(50, 716);
					left: 0;
					@include mediaQuery(sp) {
						width: pxToVw(240);
						top: pxToVw(50);
						left: pxToVw(30);
					}
				}
				&:nth-child(2) {
					width: percent(380, 1160);
					top: percent(152, 716);
					left: percent(364, 1160);
					@include mediaQuery(sp) {
						width: pxToVw(285);
						top: pxToVw(252);
						left: pxToVw(188);
					}
				}
				&:nth-child(3) {
					width: percent(360, 1160);
					top: 0;
					right: 0;
					@include mediaQuery(sp) {
						width: pxToVw(270);
						top: 0;
						left: auto;
						right: pxToVw(40);
					}
				}
				&:nth-child(4) {
					width: percent(239, 1160);
					top: percent(415, 716);
					left: percent(111, 1160);
					@include mediaQuery(sp) {
						width: pxToVw(180);
						top: pxToVw(495);
						left: pxToVw(70);
					}
				}
				&:nth-child(5) {
					width: percent(300, 1160);
					top: percent(400, 716);
					right: percent(110, 1160);
					@include mediaQuery(sp) {
						width: pxToVw(225);
						top: pxToVw(505);
						left: auto;
						right: pxToVw(40);
					}
				}
			}
		}

		.sec-trouble_arrow {
			width: 87px;
			margin: -90px auto 0;
			@include mediaQuery(sp) {
				width: pxToVw(65);
				margin: 0 auto;
			}
		}

		.sec-trouble_col {
			margin-top: 90px;
			@include mediaQuery(sp) {
				margin-top: pxToVw(40);
			}
		}

		.sec-trouble_text {
			@include font-rem(30);
			text-align: center;
			color: #000;
			line-height: 1.4;
			margin-bottom: 20px;
			@include mediaQuery(sp) {
				font-size: pxToVw(30);
				margin-bottom: pxToVw(10);
			}
		}

		.sec-trouble_read {
			@include font-rem(30);
			text-align: center;
			color: #000;
			line-height: 1.4;
			@include mediaQuery(sp) {
				font-size: pxToVw(36);
			}
			strong {
				@include font-rem(60);
				color: #0a7eb8;
				display: inline-block;
				margin-left: 0.4em;
				@include mediaQuery(sp) {
					font-size: pxToVw(48);
				}
			}
			span {
				display: block;
				margin-top: 20px;
				@include mediaQuery(sp) {
					margin-top: pxToVw(10);
				}
			}
		}

		.sec-point {
			position: relative;
			width: 100%;
			// height: 2232px;
			// height: 3232px;
			padding: 120px 0 140px;
			box-sizing: border-box;
			background-image: url(/infinity/resources/images/special/morning_2021/point_bg.jpg);
			background-color: #9cd2f5;
			background-repeat: no-repeat;
			background-position: center top;
			background-size: cover;
			margin: 0 auto;
			position: relative;
			z-index: 10;
			@include mediaQuery(sp) {
				// padding: pxToVw(100) 0;
				background-image: url(/infinity/resources/images/special/morning_2021/sp/point_bg.jpg);
				background-color: #9ad1f3;
				background-repeat: no-repeat;
				background-position: center top;
				background-size: 100% auto;
				height: auto;
				padding: pxToVw(160) 0 pxToVw(110);
			}
		}

		.sec-point__block {
			width: 100%;
			max-width: 1160px;
			// height: 540px;
			margin: 0 auto 100px;
			// display: flex;
			@include mediaQuery(sp) {
				display: block;
				height: auto;
				margin: 0 auto pxToVw(50);
			}
			&.content-fixed {
				position: fixed;
				// top: 120px;
				// top: 240px;
				top: 200px;
				// top:162px;
				left: 50%;
				transform: translate(-50%, 0);
			}
			&.content-bottom {
				position: absolute;
				bottom: 270px;
				top: auto;
				left: 50%;
				transform: translate(-50%, 0);
			}
		}

		.sec-point__product {
			// width: percent(580, 1160);
			width: 100%;
			@include mediaQuery(sp) {
				width: 100%;
				margin-bottom: pxToVw(130);
			}
		}

		.sec-point__product--ph {
			// width: percent(200, 580);
			width: 200px;
			// width: 120px;
			margin: 0 auto 100px;
			@include mediaQuery(sp) {
				width: pxToVw(200);
				margin: 0 auto;
			}
		}

		.sec-point__col {
			width: percent(1000, 1160);
			margin: 0 auto;
			@include mediaQuery(sp) {
				width: 100%;
			}
		}

		.sec-point__ul {
			li {
				// width: 540px;
				width: 1000px;
				// height: 500px;
				height: 280px;
				background-color: rgba($color: #fff, $alpha: 0.85);
				margin-bottom: 70px;
				// position: absolute;
				// display: none;
				// &.active {
				//     display: block;
				// }
				@include mediaQuery(sp) {
					width: pxToVw(480);
					height: pxToVw(450);
					margin: 0 auto pxToVw(60);
					position: static;
					display: block;
				}
				.sec-point__item {
					display: flex;
					align-items: center;
					width: 100%;
					@include mediaQuery(sp) {
						display: block;
						width: auto;
					}
				}
				.sec-point__item--title {
					width: percent(495, 1000);
					@include mediaQuery(sp) {
						width: auto;
					}
				}
				.sec-point__item--text {
					width: percent(505, 1000);
					@include mediaQuery(sp) {
						width: auto;
					}
				}
				&:nth-child(1) {
					.sec-point__cover {
						&::before {
							width: 88px;
							height: 76px;
							background-image: url(/infinity/resources/images/special/morning_2021/point_num_01.png);
							background-repeat: no-repeat;
							background-position: center top;
							background-size: contain;
							@include mediaQuery(sp) {
								width: pxToVw(88);
								height: pxToVw(76);
							}
						}
					}
				}
				&:nth-child(2) {
					.sec-point__cover {
						&::before {
							width: 97px;
							height: 76px;
							background-image: url(/infinity/resources/images/special/morning_2021/point_num_02.png);
							background-repeat: no-repeat;
							background-position: center top;
							background-size: contain;
							@include mediaQuery(sp) {
								width: pxToVw(97);
								height: pxToVw(76);
							}
						}
					}
					.sec-point__item {
						padding: 0 20px;
						text-align: center;
						margin: 0 auto;
						@include mediaQuery(sp) {
							padding: 0;
						}
					}
					.sec-point__item--text {
						text-align: left;
						display: inline-block;
					}
				}
				&:nth-child(3) {
					.sec-point__cover {
						&::before {
							width: 96px;
							height: 76px;
							background-image: url(/infinity/resources/images/special/morning_2021/point_num_03.png);
							background-repeat: no-repeat;
							background-position: center top;
							background-size: contain;
							@include mediaQuery(sp) {
								width: pxToVw(96);
								height: pxToVw(76);
							}
						}
					}
					.sec-point__item {
						transform: none;
						top: 0;
					}
					.sec-point__item--obj {
						display: block;
						width: 130px;
						height: auto;
						margin: 0 auto 30px;
						@include mediaQuery(sp) {
							margin: 0 auto;
							position: absolute;
							top: 0;
							left: calc(50% + #{pxToVw(40)});
							transform: translate(-50%, 0);
						}
					}

					.sec-point__item--title {
						// font-weight: normal;
						@include mediaQuery(sp) {
							box-sizing: border-box;
							padding-top: pxToVw(180);
						}
					}
				}
			}
		}

		.sec-point__cover {
			position: relative;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			&::before {
				content: '';
				display: block;
				position: absolute;
				top: -40px;
				left: -15px;
				@include mediaQuery(sp) {
					top: pxToVw(-45);
					left: pxToVw(-20);
				}
			}
		}

		.sec-point__item {
			position: relative;
			// top: 50%;
			// transform: translate(0, -50%);
			box-sizing: border-box;
			padding: 0 75px;
			@include mediaQuery(sp) {
				padding: 0 pxToVw(60);
			}
			&--title {
				@include font-rem(42);
				// margin-bottom: 50px;
				text-align: center;
				color: #000;
				line-height: 1.4;
				font-weight: normal;
				@include mediaQuery(sp) {
					font-size: pxToVw(42);
					margin-bottom: pxToVw(50);
				}
			}
			&--text {
				@include font-rem(20);
				// text-align: center;
				color: #000;
				line-height: 1.8;
				@include mediaQuery(sp) {
					font-size: pxToVw(20);
				}
				.blue {
					color: #0a7eb8;
				}
			}
		}

		.sec-point__lead {
			position: relative;
			width: 919px;
			// left: 50%;
			// bottom: 140px;
			// transform: translate(-50%, 0);
			margin: 0 auto;
			@include mediaQuery(sp) {
				width: pxToVw(567);
				position: relative;
				transform: none;
				left: auto;
				bottom: 0;
			}
		}

		.sec-point__arrow {
			position: fixed;
			bottom: 10px;
			left: 50%;
			transform: translate(-50%, 0);
			width: 48px;
			display: none;
			animation-name: arrowalpha;
			animation-duration: 1s;
			animation-timing-function: ease-in;
			animation-delay: 0.5s;
			animation-iteration-count: infinite;
			animation-direction: alternate;
			animation-fill-mode: forwards;
			animation-play-state: running;
			&.show {
				display: block;
			}
			@include mediaQuery(sp) {
				display: none;
				&.show {
					display: none;
				}
			}
		}

		.sec-channel {
			position: relative;
			z-index: 10;
			width: 100%;
			box-sizing: border-box;
			padding: 80px 0;
			background: url(/infinity/resources/images/special/morning_2021/channel_bg.jpg);
			background-color: #e3f2fb;
			background-repeat: no-repeat;
			background-position: center top;
			background-size: 100% auto;
			margin: 0 auto;
			@include mediaQuery(sp) {
				padding: pxToVw(80) 0;
				background: url(/infinity/resources/images/special/morning_2021/sp/channel_bg.jpg);
				background-repeat: no-repeat;
				background-position: center top;
				background-size: 100% auto;
				background-color: #e3f2fb;
			}
			.btn-play {
				width: 65px;
				@include mediaQuery(sp) {
					width: pxToVw(60);
				}
			}
		}

		.sec-channel__block {
			display: block;
			width: 100%;
			max-width: 1000px;
			// min-width: 100%;
			margin: 0 auto;
			@include mediaQuery(sp) {
				display: block;
				width: 100%;
				max-width: 100%;
				// min-width: 100%;
			}
		}

		// .sec-channel__col {
		//     display: flex;
		//     align-items: center;
		//     @include mediaQuery(sp) {
		//         display: block;
		//     }
		// }

		.sec-channel__text {
			width: percent(435, 1000);
			max-width: 435px;
			margin: 0 auto 60px;
			@include mediaQuery(sp) {
				width: pxToVw(321);
				margin: 0 auto pxToVw(30);
			}
		}

		.sec-channel__ph {
			@include mediaQuery(sp) {
				// width: pxToVw(360);
				// width: 100%;
				width: pxToVw(560);
				margin: 0 auto;
			}
		}

		.sec-product__wrap {
			position: relative;
			width: 100%;
			max-width: 1440px;
			left: 0%;
			// padding-left: 4%;
			margin: 0 auto;
			box-sizing: border-box;
			@media screen and (min-width: 1400px) {
				left: 4%;
			}
			@include mediaQuery(sp) {
				// padding-left: 0;
				left: 0;
			}
		}

		.product {
			width: 100%;
			// max-width: 1120px;
			max-width: 1420px;
			position: relative;
			box-sizing: border-box;
			margin: 0 auto 120px;
			padding: 0 10px;
			display: flex;
			&:last-child {
				margin: 0 auto;
			}
			@include mediaQuery(sp) {
				display: block;
				padding: 0;
				margin: 0 auto 110px;
				&:last-child {
					margin: 0 auto;
				}
			}
		}

		.product-ph {
			width: percent(530, 1100);
			@include mediaQuery(sp) {
				width: 100%;
			}
			&__img {
				position: relative;
				display: block;
				margin: 0 auto;
			}
		}

		.product-ph__wrap {
			position: relative;
		}

		.product-box {
			position: relative;
			width: percent(570, 1100);
			@include mediaQuery(sp) {
				width: pxToVw(560);
				margin: 0 auto;
				box-sizing: border-box;
				padding-top: pxToVw(665);
			}
		}

		.product-title {
			color: #000;
			@include font-rem(28);
			line-height: 1.5;
			font-weight: normal;
			margin-bottom: 50px;
			letter-spacing: 0.05em;
			@include mediaQuery(sp) {
				@include font-rem(17);
				text-align: center;
				margin-bottom: 25px;
				text-align: left;
				letter-spacing: 0;
			}
		}

		.product-day {
			@include font-rem(16);
			color: #0a7eb8;
			line-height: 1.2;
			margin-bottom: 10px;
			@include mediaQuery(sp) {
				@include font-rem(11);
				text-align: center;
				margin-bottom: 10px;
				text-align: left;
			}
		}

		.product-name {
			@include font-rem(28);
			color: #0a7eb8;
			line-height: 1.6;
			margin: 10px 0 15px;
			letter-spacing: -0.1em;
			// font-weight: bold;
			@include mediaQuery(sp) {
				@include font-rem(17);
				margin: 10px 0;
				text-align: left;
				line-height: 1.2;
			}
		}

		.product-capacity {
			@include font-rem(18);
			color: #000;
			line-height: 1.6;
			@include mediaQuery(sp) {
				@include font-rem(11);
				text-align: left;
			}
		}

		.product-detail {
			margin: 30px 0 0;
			width: 100%;
			max-width: 480px;

			@include mediaQuery(sp) {
				box-sizing: border-box;
				margin: 20px auto 0;
				padding: 0;
			}
			.product-detail__dl {
				&:first-child {
					border-top: solid 1px #dfe2e2;
				}
			}
		}

		.product-detail__dl {
			border-bottom: solid 1px #dfe2e2;
			&.open {
				.product-detail__dt::after {
					display: none;
				}
			}
		}

		.product-detail__dt {
			@include font-rem(16);
			color: #000;
			line-height: 1.2;
			position: relative;
			box-sizing: border-box;
			padding: 20px 10px;
			cursor: pointer;
			@include mediaQuery(sp) {
				@include font-rem(11);
				padding: 10px 5px;
			}
			&::before {
				content: '';
				position: absolute;
				width: 15px;
				height: 2px;
				top: 50%;
				right: 10px;
				transform: translate(0, -50%);
				background: #000;
				@include mediaQuery(sp) {
					width: 7px;
					height: 1px;
					right: 5px;
				}
			}
			&::after {
				content: '';
				position: absolute;
				width: 2px;
				height: 15px;
				top: 50%;
				right: 16px;
				transform: translate(0, -50%);
				background: #000;
				@include mediaQuery(sp) {
					width: 1px;
					height: 7px;
					right: 8px;
				}
			}
		}

		.product-detail__dd {
			overflow: hidden;
			height: 0;
			// padding-bottom: 30px;
			box-sizing: border-box;
			padding: 0 10px;
			@include mediaQuery(sp) {
				padding: 0 5px;
			}
		}

		.product-detail__block {
			box-sizing: border-box;
			padding-bottom: 30px;
		}

		.product-detail__ul {
			box-sizing: border-box;
			// padding-bottom: 30px;
			@include font-rem(16);
			color: #000;
			line-height: 1.6;
			&.product-detail__ul--mt {
				margin-top: 20px;
			}
		}

		.product-detail__li {
			position: relative;
			box-sizing: border-box;
			padding-left: 1em;
			margin-bottom: 10px;
			&::before {
				content: '・';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
			}
			@include mediaQuery(sp) {
				@include font-rem(11);
			}
		}

		.product-detail__text {
			@include font-rem(16);
			color: #000;
			line-height: 1.6;
			letter-spacing: -0.03em;
			display: flex;
			@include mediaQuery(sp) {
				@include font-rem(11);
			}
			span {
				display: block;
				&.product-detail__item {
					white-space: nowrap;
				}
			}
			&.indent {
				box-sizing: border-box;
				padding-left: 1em;
				text-indent: -1em;
			}
		}
		.product-detail__att {
			position: relative;
			box-sizing: border-box;
			margin: 15px 0;
			li {
				padding-left: 1em;
				text-indent: -1em;
				box-sizing: border-box;
				@include font-rem(14);
				color: #666;
				line-height: 1.4;
				margin-bottom: 10px;
				@include mediaQuery(sp) {
					@include font-rem(10);
				}
			}
		}
		.product-detail__note {
			position: relative;
			box-sizing: border-box;
			padding-left: 1em;
			@include font-rem(12);
			line-height: 1.4;
			color: #999;
			margin: 15px 0;
			@include mediaQuery(sp) {
				@include font-rem(10);
			}
			&--dot {
				&::before {
					content: '・';
					display: block;
					position: absolute;
					top: 0;
					left: 0;
				}
			}
		}
		.product-ph__bg {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: percent(970, 530);
			max-width: 970px;
			z-index: -1;
		}

		.product-01 {
			.product-ph__wrap {
				margin-top: 125px;
				@include mediaQuery(sp) {
					margin-top: 0;
				}
			}

			.product-ph {
				position: relative;
				@include mediaQuery(sp) {
					width: 100%;
				}
				.product-ph__awards {
					position: absolute;
					top: 0;
					left: 50px;
					z-index: 100;
					max-width: 138px;
					@include mediaQuery(sp) {
						width: pxToVw(143);
						max-width: 143px;
						left: pxToVw(50);
						top: pxToVw(-50);
					}
				}
				.product-ph__img {
					position: absolute;
					width: 971px;
					top: calc(50% + 165px);
					left: 50%;
					transform: translate(-50%, -50%);
					// width: pxToVw(971, 1360);
					// top: calc(50% + #{pxToVw(165, 1360)});
					// left: 50%;
					// transform: translate(-50%, -50%);
					// @media screen and (min-width: 1360px) {
					//     width: 971px;
					//     top: calc(50% + 165px);
					//     left: 50%;
					//     transform: translate(-50%, -50%);
					// }
					@include mediaQuery(sp) {
						position: absolute;
						width: pxToVw(971);
						top: pxToVw(-235);
						left: 50%;
						transform: translate(-50%, 0);
					}
				}
			}
		}

		.sec-event__wrap {
			padding: 0 10px;
			box-sizing: border-box;
			@include mediaQuery(sp) {
				padding: 0 20px;
			}
		}
		.sec-event__bnr {
			position: relative;
			width: 100%;
			max-width: 1020px;
			margin: 0 auto;
			text-align: center;
			margin-bottom: 40px;
			display: block;
			&:last-child {
				margin-bottom: 0;
			}
			@include mediaQuery(sp) {
				// padding: 0 10px;
				box-sizing: border-box;
				margin-bottom: pxToVw(50);
				&:last-child {
					margin-bottom: 0;
				}
			}
			img {
				max-width: 1000px;
			}
		}

		.aside {
			text-align: center;
			margin: 100px 0;
			box-sizing: border-box;
			@include mediaQuery(sp) {
				margin: 30px 0;
				padding: 0 20px;
			}
			.aside-bnr {
				width: 738px;
				box-sizing: border-box;
				display: block;
				position: relative;
				margin: 0 auto;
				@include mediaQuery(sp) {
					width: pxToVw(560);
					width: 100%;
				}
			}
		}

		.btn-more {
			position: relative;
			background: #000;
			width: 200px;
			height: 50px;
			margin: 30px 0 0;
			border-radius: 50px;
			display: block;
			line-height: 1;
			color: #fff;
			@include font-rem(18);
			@include mediaQuery(sp) {
				margin: 30px 0 0 0;
				@include font-rem(12);
				width: 120px;
				height: 30px;
			}
			&__text {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				margin-top: 2px;
				@include mediaQuery(sp) {
					margin-top: 0;
				}
			}
			&::after {
				position: absolute;
				top: 50%;
				right: 25px;
				transform: translate(0, -50%);
				content: '';
				display: block;
				width: 17px;
				height: 14px;
				background: url(/infinity/resources/images/special/morning_2021/ico_blank.png);
				background-repeat: no-repeat;
				background-position: center center;
				background-size: contain;
				margin: 0 auto;
				@include mediaQuery(sp) {
					// padding: pxToVw(100) 0;
					background: url(/infinity/resources/images/special/morning_2021/ico_blank.png);
					background-repeat: no-repeat;
					background-position: center center;
					background-size: contain;
					width: 8px;
					height: 7px;
					right: 15px;
				}
			}
			&.non-blank {
				&::after {
					content: none;
				}
			}
			img {
				width: percent(49, 200);
				vertical-align: middle;
			}
		}
		.btn-more-top {
			width: 280px;
			margin: 30px auto 0;
			@include mediaQuery(sp) {
				// width: 120px;
				// height: 30px;
				width: 164px;
				height: 38px;
			}
			.btn-more__text {
				white-space: nowrap;
				@include font-rem(14);
				font-weight: normal;
				margin-top: 0;
				margin-top: -2px;
				@include mediaQuery(sp) {
					@include font-rem(11);
					// letter-spacing: -0.1em;
				}
			}
		}
	}

	.sec-online {
		text-align: center;
		box-sizing: border-box;
		margin-bottom: 135px;
		@include mediaQuery(sp) {
			width: pxToVw(560);
			margin: 0 auto pxToVw(136);
		}
	}

	.sec-online__title {
		@include font-rem(28);
		color: #0a7eb8;
		text-align: center;
		box-sizing: border-box;
		padding: 0 40px 20px;
		border-bottom: solid 1px #0a7eb8;
		display: inline-block;
		margin: 0 auto 35px;
		font-weight: normal !important;
		letter-spacing: 0.1em;
		@include mediaQuery(sp) {
			font-size: pxToVw(35);
			margin: 0 auto pxToVw(40);
		}
	}

	.sec-online__text {
		color: #000;
		text-align: center;
		@include font-rem(18);
		@include mediaQuery(sp) {
			font-size: pxToVw(24);
		}
	}

	.sec-online__ul {
		display: flex;
		margin: 40px auto 30px;
		width: 100%;
		max-width: 1180px;
		border: solid 1px #ebebeb;
		@include mediaQuery(sp) {
			margin: pxToVw(40) auto pxToVw(30);
			flex-wrap: wrap;
		}
		li {
			border-right: solid 1px #ebebeb;
			width: 25%;
			@include mediaQuery(sp) {
				width: calc(50% - 1px);
			}
			&:nth-child(1) {
				@include mediaQuery(sp) {
					border-bottom: solid 1px #ebebeb;
				}
			}
			&:nth-child(2) {
				@include mediaQuery(sp) {
					border-right: none;
					border-bottom: solid 1px #ebebeb;
				}
			}
			&:last-child {
				border-right: none;
			}
		}
	}

	.sec-online__note {
		color: #000;
		text-align: center;
		@include font-rem(14);
		line-height: 1.4;
		@include mediaQuery(sp) {
			font-size: pxToVw(20);
			text-align: left;
		}
	}

	.sec-voice__wrap {
		text-align: center;
		@include mediaQuery(sp) {
			background: url(/infinity/resources/images/special/morning_2021/voice/sp_bg.jpg);
			background-repeat: no-repeat;
			background-position: center top;
			background-size: 100% auto;
		}
	}

	.sec-voice__title {
		@include font-rem(28);
		color: #0a7eb8;
		text-align: center;
		box-sizing: border-box;
		padding: 0 40px 20px;
		border-bottom: solid 1px #0a7eb8;
		display: inline-block;
		margin: 0 auto 55px;
		font-weight: normal !important;
		letter-spacing: 0.1em;
		@include mediaQuery(sp) {
			font-size: pxToVw(35);
			margin: 0 auto pxToVw(100);
		}
	}

	.sec-voice__ul {
		position: relative;
		box-sizing: border-box;
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
		border-top: solid 1px #ccc;
		border-left: solid 1px #ccc;
		@include mediaQuery(sp) {
			width: pxToVw(560);
		}
	}

	.sec-voice__ul {
		position: relative;
		box-sizing: border-box;
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
		border-top: solid 1px #ccc;
		border-left: solid 1px #ccc;
		@include mediaQuery(sp) {
			width: pxToVw(560);
		}
	}

	.sec-voice__box {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}

	.sec-voice__li {
		width: 25%;
		background-color: rgba($color: #fff, $alpha: 0.5);
		border-right: solid 1px #ccc;
		border-bottom: solid 1px #ccc;
		box-sizing: border-box;
		cursor: pointer;
		@include mediaQuery(sp) {
			width: 50%;
		}
	}

	.modal-contents {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		// height: 100%;
		box-sizing: border-box;
		padding: percent(55, 1110);
		@include mediaQuery(sp) {
			padding: pxToVw(40);
		}
	}

	.modal-col {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100%;
		z-index: 1000;
		display: none;
		box-sizing: border-box;
		padding: 0 20px;
		@include mediaQuery(sp) {
			padding: 0;
		}
		&.active {
			display: block;
		}
	}

	.modal-col__bg {
		position: fixed;
		background: rgba(0, 0, 0, 0.6);
		width: 100vw;
		height: 100%;
		box-sizing: border-box;
		left: 0;
		top: 0;
		// padding: 30px 80px;
	}

	.modal-col__wrap {
		position: relative;
		// max-width: 1360px;
		max-width: 1110px;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		pointer-events: none;
	}
	.modal-col__ui--close {
		position: absolute;
		// right: 60px;
		// right: -5px;
		right: -20px;
		top: 10px;
		width: 60px;
		height: 60px;
		z-index: 50;
		pointer-events: auto;
		@include mediaQuery(sp) {
			width: 30px;
			height: 30px;
			right: pxToVw(10);
			top: calc(#{pxToVw(50)} - 15px);
		}
	}
	.modal-col__base {
		// @include aspect(16, 9);
		position: absolute;
		z-index: 10;
		// width: calc(100% - 160px);
		width: calc(100%);
		max-width: 1110px;
		height: calc(100% - 60px);
		max-height: 1510px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: #fff;
		overflow: auto;

		box-sizing: border-box;
		pointer-events: auto;
		@include mediaQuery(sp) {
			width: pxToVw(560);
			height: calc(100% - #{pxToVw(100)});
		}
	}

	.modal-col__box {
		box-sizing: border-box;
		// padding: percent(100, 1110);
		@include mediaQuery(sp) {
			// padding: pxToVw(60);
		}
		// height: 100px;
	}

	.modal-li {
		width: 100%;
		display: none;
		&.active {
			display: flex;
			justify-content: space-between;
			@include mediaQuery(sp) {
				display: block;
			}
		}
		&:nth-child(1) {
			.modal-text {
				width: pxToVw(466, 1110);
				max-width: 466px;
				@include mediaQuery(sp) {
					width: pxToVw(466);
					max-width: 466px;
				}
			}
		}
		&:nth-child(2) {
			.modal-text {
				width: pxToVw(465, 1110);
				max-width: 465px;
				@include mediaQuery(sp) {
					width: pxToVw(465);
					max-width: 465px;
				}
			}
		}
		&:nth-child(3) {
			.modal-text {
				width: pxToVw(423, 1110);
				max-width: 423px;
				@include mediaQuery(sp) {
					width: pxToVw(423);
					max-width: 423px;
				}
			}
		}
		&:nth-child(4) {
			.modal-text {
				width: pxToVw(466, 1110);
				max-width: 466px;
				@include mediaQuery(sp) {
					width: pxToVw(466);
					max-width: 466px;
				}
			}
		}
		&:nth-child(5) {
			.modal-text {
				width: pxToVw(463, 1110);
				max-width: 463px;
				@include mediaQuery(sp) {
					width: pxToVw(463);
					max-width: 463px;
				}
			}
		}
		&:nth-child(6) {
			.modal-text {
				width: pxToVw(467, 1110);
				max-width: 467px;
				@include mediaQuery(sp) {
					width: pxToVw(467);
					max-width: 467px;
				}
			}
		}
		&:nth-child(7) {
			.modal-text {
				width: pxToVw(465, 1110);
				max-width: 465px;
				@include mediaQuery(sp) {
					width: pxToVw(465);
					max-width: 465px;
				}
			}
		}
		&:nth-child(8) {
			.modal-text {
				width: pxToVw(467, 1110);
				max-width: 467px;
				@include mediaQuery(sp) {
					width: pxToVw(467);
					max-width: 467px;
				}
			}
		}
		&:nth-child(9) {
			.modal-text {
				width: pxToVw(466, 1110);
				max-width: 466px;
				@include mediaQuery(sp) {
					width: pxToVw(466);
					max-width: 466px;
				}
			}
		}
		&:nth-child(10) {
			.modal-text {
				width: pxToVw(461, 1110);
				max-width: 461px;
				@include mediaQuery(sp) {
					width: pxToVw(461);
					max-width: 461px;
				}
			}
		}
		&:nth-child(11) {
			.modal-text {
				width: pxToVw(462, 1110);
				max-width: 462px;
				@include mediaQuery(sp) {
					width: pxToVw(461);
					max-width: 462px;
				}
			}
		}
		&:nth-child(12) {
			.modal-text {
				width: pxToVw(466, 1110);
				max-width: 466px;
				@include mediaQuery(sp) {
					width: pxToVw(466);
					max-width: 466px;
				}
			}
		}
		&:nth-child(13) {
			.modal-text {
				width: pxToVw(468, 1110);
				max-width: 468px;
				@include mediaQuery(sp) {
					width: pxToVw(468);
					max-width: 468px;
				}
			}
		}
		&:nth-child(14) {
			.modal-text {
				width: pxToVw(466, 1110);
				max-width: 466px;
				@include mediaQuery(sp) {
					width: pxToVw(466);
					max-width: 466px;
				}
			}
		}
		&:nth-child(15) {
			.modal-text {
				width: pxToVw(465, 1110);
				max-width: 465px;
				@include mediaQuery(sp) {
					width: pxToVw(466);
					max-width: 466px;
				}
			}
		}
		&:nth-child(16) {
			.modal-text {
				width: pxToVw(485, 1110);
				max-width: 485px;
				@include mediaQuery(sp) {
					width: pxToVw(485);
					max-width: 485px;
				}
			}
		}
		&:nth-child(17) {
			.modal-text {
				width: pxToVw(404, 1110);
				max-width: 404px;
				@include mediaQuery(sp) {
					width: pxToVw(404);
					max-width: 404px;
				}
			}
		}
		&:nth-child(18) {
			.modal-text {
				width: pxToVw(488, 1110);
				max-width: 488px;
				@include mediaQuery(sp) {
					width: pxToVw(488);
					max-width: 488px;
				}
			}
		}
		&:nth-child(19) {
			.modal-text {
				width: pxToVw(466, 1110);
				max-width: 466px;
				@include mediaQuery(sp) {
					width: pxToVw(466);
					max-width: 466px;
				}
			}
		}
	}

	.modal-media {
		width: percent(455, 900);
		max-width: 455px;
		@include mediaQuery(sp) {
			width: 100%;
			max-width: 100%;
		}
	}

	.modal-media__ui {
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin-top: 30px;
		@include mediaQuery(sp) {
			margin-top: pxToVw(25);
			margin-bottom: pxToVw(40);
		}
	}

	.modal-media__wrap {
		@include aspect(1, 1);
		width: 100%;
		background-color: #f6f6f6;

		img {
			position: absolute;
			top: 0;
			left: 0;
			/*  left: 50%;
            width: auto;
            height: 100%;
            transform: translate(-50%, 0); */
		}

		video {
			position: absolute;
			top: 0;
			left: 50%;
			width: auto;
			height: 100%;
			transform: translate(-50%, 0);
		}
	}

	.modal-media__button {
		@include aspect(71, 81);
		width: percent(71, 455);
		max-width: 71px;
		@include mediaQuery(sp) {
			width: pxToVw(71);
		}
		&--back {
			background: url(/infinity/resources/images/special/morning_2021/voice/sec_voice_btn_back_on.png);
			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain;
			&.off {
				background: url(/infinity/resources/images/special/morning_2021/voice/sec_voice_btn_back_off.png);
				background-repeat: no-repeat;
				background-position: center center;
				background-size: contain;
				cursor: default;
				&:hover {
					opacity: 1 !important;
				}
			}
		}
		&--next {
			background: url(/infinity/resources/images/special/morning_2021/voice/sec_voice_btn_next_on.png);
			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain;
			&.off {
				background: url(/infinity/resources/images/special/morning_2021/voice/sec_voice_btn_next_off.png);
				background-repeat: no-repeat;
				background-position: center center;
				background-size: contain;
				cursor: default;
				&:hover {
					opacity: 1 !important;
				}
			}
		}
	}
	.text-vollkorn {
		font-family: 'Vollkorn', serif;
	}
	.modal-parag {
		// width: pxToVw(464, 1110);
		/* width: percent(464,900);
		max-width: 464px;
		@include mediaQuery(sp){
			width: 100%;
			max-width: 100%;
		}; */
	}

	.parallax {
		position: relative;
		// background-color: #fff;
		box-sizing: border-box;
		padding-bottom: 140px;
		width: 100%;
		max-width: 1360px;
		margin: 0 auto;
		@include mediaQuery(sp) {
			padding-bottom: pxToVw(140);
			background: url(/infinity/resources/images/special/morning_2021/sp/ball_bg.jpg);
			background-repeat: no-repeat;
			background-position: center top;
			background-size: 100% auto;
		}
		.ball {
			position: absolute;
			z-index: -1;
			@include mediaQuery(sp) {
				display: none;
			}
			&_001 {
				width: 516px;
				height: 516px;
				// top:-395px;
				top: -200px;
				right: -300px;
			}
			&_002 {
				width: 516px;
				height: 516px;
				top: 890px;
				right: -187px;
			}
			&_003 {
				width: 516px;
				height: 516px;
				top: 2515px;
				right: -187px;
			}
			&_004 {
				width: 516px;
				height: 516px;
				top: 4147px;
				right: -187px;
			}
			&_005 {
				width: 274px;
				height: 274px;
				top: 902px;
				left: -120px;
			}
			&_006 {
				width: 274px;
				height: 274px;
				top: 2530px;
				left: 325px;
			}
			&_007 {
				width: 274px;
				height: 274px;
				top: 4140px;
				left: 325px;
			}
			&_008 {
				width: 383px;
				height: 383px;
				top: 1205px;
				left: -120px;
			}
			&_009 {
				width: 383px;
				height: 383px;
				top: 2820px;
				left: -120px;
			}
		}
	}

	.sec-voice {
		padding: 130px 0;
		@include mediaQuery(sp) {
			margin: 0 auto;
			padding: 0 0 pxToVw(100);
		}
	}

	.voice-mask {
		display: none;
		overflow: hidden;
		width: 100%;
		&.active {
			display: block;
		}
	}

	.page-btn {
		background-color: #000;
		width: 240px;
		height: 50px;
		border-radius: 25px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 45px auto 0;
		@include mediaQuery(sp) {
			width: pxToVw(240);
			height: pxToVw(50);
			border-radius: pxToVw(25);
			margin: pxToVw(45) auto 0;
		}
	}
	.page-btn__text {
		font-family: 'Shippori Mincho', serif;
		color: #fff;
		@include font-rem(16);
		line-height: 1;
		margin-top: -1px;
		@include mediaQuery(sp) {
			font-size: pxToVw(16);
		}
	}

	.modal-media__wrap {
		.w-100 {
			width: 100%;
			height: auto;
			top: 50%;
			transform: translate(0, -50%);
		}
		.h-100 {
			width: auto;
			height: 100%;
			left: 50%;
			transform: translate(-50%, 0);
		}
	}
}
