<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8"><!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-W8F3SXC');</script>
<!-- End Google Tag Manager -->
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>Story｜呼び覚ます、無限の美しさ。INFINITY インフィニティ</title>
  <meta name="description" content="INFINITYのストーリー。呼び覚ます、無限の美しさ。INFINITY インフィニティスペシャルサイト。“この肌は、幸せの証し” 確かな手応えのあるアイテムで、肌に眠る無限の可能性を引き出し、もっと輝く肌へと導く総合ブランド">
  <meta name="author" content="KOSE Corporation.">
  <meta name="copyright" content="">
  <meta name="keywords" content="ストーリー,Story,infinity,インフィニティ,kose,コーセー,スキンケア,ベース,ポイント,メイク,取扱,店舗">
  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:description" content="">
  <meta property="og:site_name" content="">
  <meta property="og:image" content="">
  
  <!--<meta name="viewport" content="width=1000, user-scalable=0">-->
  <!--<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">-->
  
  <link rel="canonical" href="">
  <link rel="shortcut icon" href="">
  <link rel="apple-touch-icon" href="">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

  <script type="text/javascript">
      var ua = navigator.userAgent;
      if((ua.indexOf('Android') > 0 && ua.indexOf('Mobile') == -1) || ua.indexOf('iPad') > 0 || ua.indexOf('Kindle') > 0 || ua.indexOf('Silk') > 0){
          document.write('<meta name="viewport" content="width=1200, user-scalable=no">');
      } else if ((ua.indexOf('Android') > 0 && ua.indexOf('Mobile') > 0) || ua.indexOf('iPhone') > 0 || ua.indexOf('Blackberry') > 0 || ua.indexOf('iPhone') > 0){
          document.write('<meta name="viewport" content="width=device-width, user-scalable=no">');
      }
  </script>

  <SCRIPT LANGUAGE="javascript" TYPE="text/javascript">
    <!--
    var milisec　 = 　 (new Date).getTime();
    document.write('<link rel="stylesheet" href="/infinity/resources/css/main.css?v=' + milisec + '">')
    document.write('<link rel="stylesheet" href="/infinity/resources/css/story.css?v=' + milisec + '">')
    // -->
  </SCRIPT>
  <link rel="stylesheet" href="/infinity/resources/css/header.css" type="text/css">
  <link rel="stylesheet" href="/infinity/resources/css/fotter.css" type="text/css">
</head>

<body class="story">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W8F3SXC"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  <p class="acc_nav"><a href="#end_header">ナビゲーションをスキップ</a></p>
	<header class="global-header">
	{% include "_layout/_module/_globalnavigation.njk" %}
	</header>
  <p class="acc_nav" id="end_header">ここから本文です</p>

  <div class="body">
    <main>
      <div class="content_width">

        <header>
          <h1 class="pagetitle"><span>Story</span></h1>
          <div class="pankuzu">
            <ol itemscope itemtype="http://schema.org/BreadcrumbList">
              <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="https://www.kose.co.jp/infinity/">
                    <span itemprop="name">HOME</span></a>
                <meta itemprop="position" content="1">
              </li>
              <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="https://www.kose.co.jp/infinity/story/">
                  <span itemprop="name">Story</span></a>
                <meta itemprop="position" content="2">
              </li>
            </ol>
          </div>
        </header>

        <article>
          <section class="story-contents philosophy">
            <h2 class="story-contents__title">Philosophy</h2>
            <p class="story-contents__lead">肌に眠る<br><strong>“無限の美しさ”</strong><br>を呼び覚ます</p>
            <p class="story-contents__text">あなたの中には、美しさの可能性が広がっている。<br>
              <br>
              輝こうとするあなたに応えるため、<br>今日も私たちは、まだ見ぬ美しさを探求する。<br>
              <br>
              「無限」という名に込めたのは、<br class="sp">果てしない可能性への信念。<br>“美しくなるチカラ”を極限まで高め、<br class="sp">心にまで響かせる。<br>
              <br>
              明日も、あなたの美しさを更新したい。</p>
          </section>
          <section class="story-contents concept">
            <h2 class="story-contents__title">Brand Concept</h2>
            <p class="story-contents__lead"><strong>肌五感</strong><br>美しさを司る“肌の五感”を究める</p>
            <p class="concept__hadagokan-image"><img src="/infinity/resources/images/story/sp/concept_hadagokan.png" alt="肌五感イメージ"></p>
            <div class="concept__hadagokan-list">
              <dl class="concept__hadagokan-list__item">
                <dt class="title">立体感</dt>
                <dd class="text">ゆるみがなく、<br class="pc">メリハリのある引き締まった肌。</dd>
              </dl>
              <dl class="concept__hadagokan-list__item">
                <dt class="title">弾力感</dt>
                <dd class="text">ぎゅっと詰まった、<br class="pc">ハリのあるやわらかな肌。</dd>
              </dl>
              <dl class="concept__hadagokan-list__item">
                <dt class="title">光沢感</dt>
                <dd class="text">みずみずしく満たされて、<br class="pc">つやのある肌。</dd>
              </dl>
              <dl class="concept__hadagokan-list__item">
                <dt class="title">質感</dt>
                <dd class="text">うるおいに満ちた、<br class="pc">キメ細かくなめらかな肌。</dd>
              </dl>
              <dl class="concept__hadagokan-list__item">
                <dt class="title">色感</dt>
                <dd class="text">血色感があり、<br class="pc">明るくて透明感もある肌。</dd>
              </dl>
            </div>
          </section>
          <section class="story-contents promise">
            <h2 class="story-contents__title">Promise</h2>
            <p class="story-contents__lead"><strong>まだ見ぬ美しさを探求する</strong></p>
            <div class="promise__list">
              <dl class="promise__list__item">
                <dt class="title">最新科学で“肌の真理”を探求</dt>
                <dd class="text">たゆみのない<br class="pc">皮膚科学研究を通して<br>「美しさの可能性」を<br class="pc">発見し続けます。</dd>
              </dl>
              <dl class="promise__list__item">
                <dt class="title">厳選素材で“効果”を探求</dt>
                <dd class="text">厳選した素材を<br class="pc">高濃度に配合し<br>肌悩みの根本原因へ<br class="pc">アプローチします。</dd>
              </dl>
              <dl class="promise__list__item">
                <dt class="title">独自技術で“新しい価値”を探求</dt>
                <dd class="text">既成概念に<br class="pc">囚われない発想で<br>効果と使い心地を両立させた、<br>新しい価値を提供します。</dd>
              </dl>
              <dl class="promise__list__item">
                <dt class="title">カウンセリングで“合う”を探求</dt>
                <dd class="text">肌と徹底的に向き合う<br class="pc">的確なアドバイスで<br>あなたの美しさを<br class="pc">最大限に引き出します。</dd>
              </dl>
            </div>
          </section>
        </article>
      </div>
    </main>


  </div>

	<footer class="global-footer">
  {% include "_layout/_module/_fotter.njk" %}
	</footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/infinity/resources/js/tools_2021.js"></script>
<script src="/infinity/resources/js/sns_share.js"></script>
<script type="text/javascript" src="//typesquare.com/3/tsst/script/ja/typesquare.js?BwczFxws7-4%3D" charset="utf-8"></script>

<!-- AudienceOne tag start -->
<script type="text/javascript">(function(d,u){var b=d.getElementsByTagName("script")[0],j=d.createElement("script");j.async=true;j.src=u;b.parentNode.insertBefore(j,b);})(document,"//img.ak.impact-ad.jp/ut/ca930a77f22336c5_4135.js");</script><noscript><iframe src="//nspt.unitag.jp/ca930a77f22336c5_4135.php" width="0" height="0" frameborder="0"></iframe></noscript>
<!-- AudienceOne tag end-->

<!-- ga tag start -->
<script>
(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
e=o.createElement(i);r=o.getElementsByTagName(i)[0];
e.src='//www.google-analytics.com/analytics.js';
r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
ga('create','UA-5965208-1');ga('send','pageview');
</script>
<!-- ga tag end -->



</body>

</html>