{%- set pageCategory = "cat-therepair" -%}
{%- set cssFile = "therepair_2025.css" -%}
{%- set jsFile = "therepair_2025.js" -%}
{%- set cssTimeStamp = "?v=20231220" -%}
{%- set jsTimeStamp = "?v=20231220" -%}
{%- set pageDir = "special/therepair/" -%}
{%- set pageTitle = "インフィニティ　ザ リペア ライン | コーセー　インフィニティ[公式]" -%}
{%- set pageDescription = "はじめれば、10年後の肌印象に自信を。シワ改善とうるおいのエイジングケア※。※年齢に応じたお手入れ" -%}
{%- set pageKeyword = "KOSE,コーセー,INFINITY,インフィニティ,ザ リペア セラム,ザ リペア ローション,ザ リペア エマルジョン,ザ リペア ジェルクリーム,シワ改善,うるおい,エイジング" -%}
{%- set pageOgFile = "resources/images/special/therepair_2025/og.jpg" -%}
{%- set isOG = "true" -%}
{%- set isOnlyTitle = "true" -%}
{%- block option_js -%}
<script src="https://players.brightcove.net/6034685923001/default_default/index.min.js"></script>
{%- endblock -%}

{%- extends "_layout/_base.njk" -%}

{%- block content_main -%}

<div class="wrap introduction">
	<div class="modal">
		<div class="modal-bg"></div>
		<div class="modal-wrap">
			<div class="modal-box">
				<button class="modal-btn__close modal-close"><img class="w-100" src="/infinity/resources/images/cm_2019/btn_close.png" alt="CLOSE"></button>
				<div class="modal-layer"></div>
			</div>
		</div>
	</div>
	{#- mv -#}
	<section id="mv" class="mv">
		<div class="mv-bg">
			<h1 class="mv-kv">
				<picture>
					<source srcset="/infinity/resources/images/special/therepair_2025/kv_sp.jpg" media="(max-width: 640px)">
					<img class="w-100" src="/infinity/resources/images/special/therepair_2025/kv.jpg" alt="はじめれば、10年後の肌印象に自信を。シワ改善とうるおいのエイジングケア※ INFINITY KOSE">
				</picture>
			</h1>
		</div>
	</section>
	{#- /mv -#}

	<div class="bg-03">
		{#- sec-01 -#}
		<section class="sec-01">
			<div class="sec-01_wrap">
				<h2 class="sec-01_title motion-box" data-mode="move-Y"><img class="w-100" src="/infinity/resources/images/special/therepair_2025/sec_02_title.png" alt="インフィニティ=無限"></h2>
				<div class=" motion-box" data-mode="fade">
					<p class="sec-01_text">あなたの肌には、無限の美の可能性が広がっている。</p>
					<p class="sec-01_text">確かな効果感と、心まで豊かに満たすビューティを<span><br class="sp"></span>届けるインフィニティより<br>加齢<span class="u-text-pack">による</span>肌悩みの最多<span class="u-text-pack">とも</span>言われるシワケアと、<br>肌の土台<span class="u-text-pack">づくり</span>に必要なうるおい機能に<span><br class="sp"></span>ぐっとフォーカスした、<span><br class="pc"></span>“充実のハリ満ち肌”を叶える<span><br class="sp"></span>スキンケアライン“ザ リペア”シリーズが誕生します。</p>
					<p class="sec-01_text">日本初<sup>*</sup>の、うるおいもシワも改善する<span><br class="sp"></span>有効成分ライスパワー<sub>&reg;</sub> No.11＋(プラス)や、<br>保湿成分ライスパワー<sub>&reg;</sub> No.7、<span><br class="pc"></span>さらに、シワ改善有効<span><br class="sp"></span>成分ナイアシンアミドを、アイテムによって最適解で配合。</p>
					<p class="sec-01_text">湧き上がるようなうるおい・つや・弾力。<br>そして、珠玉の素肌に出逢えます。</p>
					<p class="u-text-color__white u-text-note u-text-center font-not">*肌の水分保持能改善とシワ改善の効能をもつ有効成分ライスパワー<sub>&reg;</sub>No.11＋​</p>
				</div>
			</div>
		</section>
		{#- /sec-01 -#}
		{#- sec-channel -#}
			<section class="sec-channel">
				<a href="6375664936112" class="btn-modal__block modal-open btn-brightcove hover-scale-c hover-alpha">
					<div class="sec-channel__block">
						<div class="sec-channel__ph">
							<picture>
								<source srcset="/infinity/resources/images/special/therepair_2025/movie_th_sp.jpg" media="(max-width: 640px)">
								<img class="w-100" src="/infinity/resources/images/special/therepair_2025/movie_th.jpg" alt="">
							</picture>
						</div>
						<div class="btn-play"><img class="w-100 target" src="/infinity/resources/images/cm_2019/btn_play.png" alt="PLAY"></div>
					</div>
				</a>
			</section>
		{#- /sec-channel -#}
		{#- sec-02 -#}
		<section class="sec-02">
			<div class="sec-02_wrap max-wrap">
				<h2 class="sec-02_title motion-box u-title-lettr" data-mode="fade">年齢を重ねるとともに、<span><br class="pc"></span>いつもの<span><br class="sp"></span>お手入れでは効果を感じづらい…<br>あきらめるのは、まだ早い…?</h2>
				<div class="sec-02_pop motion-box" data-mode="fade">
					<picture>
						<source srcset="/infinity/resources/images/special/therepair_2025/sec_02_popill_sp.png" media="(max-width: 640px)">
						<img class="w-100" src="/infinity/resources/images/special/therepair_2025/sec_02_popill.png" alt>
					</picture>
				</div>
				<hr class="hr-001 hr-001--deep">
				<h3 class="sec-02_detail__title u-title-lettr motion-box" data-mode="fade">加齢によって、肌内部で<br>『肌密度の低下＋弾力低下』が<span><br class="sp"></span>起こってしまう</h3>
				<div class="sec-02_detail_box max-contents motion-box" data-mode="fade">
					<dl class="sec-02_detail_dl">
						<dt class="sec-02_detail_dt">
							<img class="w-100" src="/infinity/resources/images/special/therepair_2025/sec_02_ph_001.png" alt>
						</dt>
						<dd class="sec-02_detail_dd sec-02_detail_dd--01"><span>シワが目立たない肌</span></dd>
					</dl>
					<dl class="sec-02_detail_dl">
						<dt class="sec-02_detail_dt">
							<img class="mark" src="/infinity/resources/images/special/therepair_2025/sec_02_ph_002_mark.png" alt="注目!">
							<img class="w-100" src="/infinity/resources/images/special/therepair_2025/sec_02_ph_002.png" alt>
						</dt>
						<dd class="sec-02_detail_dd sec-02_detail_dd--02"><span>シワが目立つ肌</span></dd>
					</dl>
				</div>
				<hr class="hr-001 hr-001--deep">
				<h3 class="sec-02_detail__title sec-02_detail__title-2 u-title-lettr motion-box" data-mode="fade">加えて<span><br class="sp"></span>「表皮のうるおい機能低下」で<br>『さらなる！肌密度の低下＋弾力低下』へ</h3>
				<div class="sec-02_detail__ill motion-box" data-mode="fade">
					<picture>
						<source srcset="/infinity/resources/images/special/therepair_2025/sec_02_detail_sp.png" media="(max-width: 640px)">
						<img class="w-100" src="/infinity/resources/images/special/therepair_2025/sec_02_detail.png" alt>
					</picture>
					<p class="u-p-note text-right2 font-not max-contents">※イメージ</p>
				</div>
			</div>
		</section>
		{#- /sec-02 -#}
	</div>

	<div class="bg-03">
		{#- sec-03 -#}
		<section class="sec-03">
			<div class="sec-03_wrap">
				<h2 class="sec-03_title motion-box" data-mode="move-Y">
					<picture>
						<source srcset="/infinity/resources/images/special/therepair_2025/sec_03_title_01_sp.png" media="(max-width: 640px)">
						<img class="w-100" src="/infinity/resources/images/special/therepair_2025/sec_03_title_01.png" alt="大人のための「エイジングケア※1」 シワ改善・うるおい・透明感のある“ハリ満ち肌”へ">
					</picture>
				</h2>
				<p class="u-text-color__light u-text-note u-text-center font-not">※1 年齢に応じたお手入れ </p>
			</div>

			<!--point01-->
			<div class="max-wrap point__wrap">
				<p class="point__lead u-text-weight motion-box" data-mode="fade">独自のテクノロジーと<span><br class="sp"></span>選び抜かれた成分が奏でる濃密処方で、<br>シワ改<span class="u-text-pack">善と</span>うるおいへの全方位アプローチ。</p>
				<div class="sec-02_detail_box max-contents motion-box" data-mode="fade">
					<dl class="sec-02_detail_dl">
						<dt class="sec-02_detail_dt">
							<img class="w-100" src="/infinity/resources/images/special/therepair_2025/sec_03_ph_001.jpg" alt>
						</dt>
						<dd class="sec-02_detail_dd sec-02_detail_dd--01"><span>塗布前</span></dd>
					</dl>
					<dl class="sec-02_detail_dl">
						<dt class="sec-02_detail_dt">
							
							<img class="w-100" src="/infinity/resources/images/special/therepair_2025/sec_03_ph_002.jpg" alt>
						</dt>
						<dd class="sec-02_detail_dd sec-02_detail_dd--02"><span>塗布後</span></dd>
					</dl>
				</div>
				<p class="u-p-note text-right font-not max-contents">※イメージ</p>
				<p class="point__beforeafter__copy  motion-box" data-mode="move-Y">
					<picture>
						<source srcset="/infinity/resources/images/special/therepair_2025/sec_03_copy_sp.png" media="(max-width: 640px)">
						<img class="w-100" src="/infinity/resources/images/special/therepair_2025/sec_03_copy.png" alt="肌密度の高い“ハリツヤ”で満たされた“ハリ満ち肌”">
					</picture>
				</p>
				<hr class="hr-001 hr-001--deep">

				<!--20250625-->
				<h3 class="point__title motion-box u-color--blue" data-mode="fade">ライスパワー<sub>&reg;</sub>No.11+を<span><br class="sp"></span>コーセー史上最高濃度配合</h3>
				<p class="point__text text-center font-not">うるおい改善＋シワ改善を叶える日本初<sup>※</sup>の<span><br class="sp"></span>有効成分「ライスパワー<sub>&reg;</sub>No.11+（プラス）」</p>
				<p class="u-p-note text-center font-not">※肌の水分保持能改善とシワ改善の効能をもつ有効成分<span><br class="sp"></span>ライスパワー<sub>&reg;</sub> No.11＋（プラス）</p>
				<div class="point-product motion-box" data-mode="fade">
					<div class="point-product__ph">
						<img class="w-100" src="/infinity/resources/images/special/therepair_2025/sec_03_product.png" alt="美容液">
					</div>
					<div class="point-product__detail">
						<h4 class="point-product__title u-color--blue u-text-weight">インフィニティ<br>ザ リペア セラム <span class="point-product__title--sub">［医薬部外品］</span></h4>
						<p class="point-product__lead u-color--blue u-text-weight">販売名 インフィニティ　セラム Ｗ</p>
						<a class="lineup-col__btn hover-alpha" href="https://www.kose.co.jp/infinity/product/the_repair_serum/"><span>MORE</span></a>
					</div>
				</div>
				<hr class="hr-001 hr-001--deep">
				<h3 class="point__title point__title--s motion-box u-color--blue u-text-weight" data-mode="fade">ライスパワー<sub>&reg;</sub>No.11+は、​<br>うるおい改善＋シワ改善を叶える、<span><br class="sp"></span>日本で唯一の有効成分です。</h3>
				<p class="u-p-note text-center font-not">※ライスパワー<sub>&reg;</sub>No.11+は有効成分。<span><br class="sp"></span>うるおい改善とは肌の水分保持能改善のこと。</p>
				<div class="point-col motion-box" data-mode="fade">
					<div class="point-col__ph max-contents">
						<div class="point-image__ill">
							<h4 class="point-image__title u-text-weight"><span>肌表面にうるおいをすばやく与え、<br>角層深くにまで浸透</span></h4>
							<div class="point-image__wrap">
								<p class="point-image__ph"><img class="w-100" src="/infinity/resources/images/special/therepair_2025/sec_03_detail_001.png" alt></p>
								<p class="point-image__text font-not">セラミドの産生を促し、肌が水分を保つ力を改善。<span><br class="pc"></span>うるおいのすき間を埋め、美肌の基礎を立て直します。</p>
							</div>
						</div>
						<div class="point-image__ill">
							<h4 class="point-image__title u-text-weight"><span>肌全体がすこやかな細胞に満たされ、<br>乾燥悩みとシワ悩みを同時に解決</span></h4>
							<div class="point-image__wrap">
								<p class="point-image__ph"><img class="w-100" src="/infinity/resources/images/special/therepair_2025/sec_03_detail_002.png" alt></p>
								<p class="point-image__text font-not">NMF（天然保湿因子）・表皮ヒアルロン酸の産生を促し、基底膜と真皮のコラーゲンを増やすことで、シワを改善します。</p>
							</div>
						</div>
					</div>
				</div>
				<p class="u-p-note text-right font-not max-contents">※イメージ</p>
			</div>
			<!--/point01-->

			<div class="sec-03__step">
				<h2 class="sec-03_title--2 motion-box" data-mode="move-Y">
					<picture>
						<source srcset="/infinity/resources/images/special/therepair_2025/sec_03_title_02_sp.png" media="(max-width: 640px)">
						<img class="w-100" src="/infinity/resources/images/special/therepair_2025/sec_03_title_02.png" alt="化粧水＋美容液＋乳液 で叶える、こだわりの品質 「満たし、効かせ、閉じ込める」ことで感じる“ハリ満ち肌”">
					</picture>
				</h2>
				<div class="sec-03_step--all motion-box" data-mode="fade">
					<picture>
						<source srcset="/infinity/resources/images/special/therepair_2025/sec_03_step_all_sp.png" media="(max-width: 640px)">
						<img class="w-100" src="/infinity/resources/images/special/therepair_2025/sec_03_step_all.png" alt="STEP 01 ほぐして満たす 化粧水 STEP 02 効かせる 美容液 STEP 03 閉じ込める 乳液">
					</picture>
				</div>
			</div>

		</section>
		{#- /sec-03 -#}
	</div>
	<div class="bg-white">
		<section class="lineup">
			<h3 class="lineup-title motion-box" data-mode="move-Y">
				<picture>
					<source srcset="/infinity/resources/images/special/therepair_2025/lineup_title__sp.png" media="(max-width: 640px)">
					<img class="w-100" src="/infinity/resources/images/special/therepair_2025/lineup_title.png" alt="シワ改善有効成分「ナイアシンアミド」×保湿成分「ライスパワー®No.7」高濃度※1配合 「シワ改善」×「うるおい」成分が、素早く・深く・届く※2">
				</picture>
				<p class="u-text-note u-text-center font-not u-mt--2em">※1 エマルジョンを除く。コーセー内比。※2角層まで<br>＊ライスパワー<sub>&reg;</sub> No.7はライスパワーNo.7－A（米発酵エキスNo.7－A）​</p>
			</h3>

			<h3 class="lineup-subtitle u-color--blue">ほぐして満たす</h3>
			<div class="lineup-wrap lineup-01">
				<div class="lineup-box">
					<div class="lineup-ph motion-box" data-mode="move-l">
						<img class="w-100" src="/infinity/resources/images/special/therepair_2025/sec_05_product_001.png" alt="化粧水">
					</div>
					<div class="lineup-col motion-box" data-mode="fade">
						<p class="lineup-col__lead u-color--blue">湧き上がる、<span><br class="sp"></span>ハリ・ツヤ・明るさを目覚めさせる<br>薬用シワ改善化粧水</p>
						<p class="lineup-col__title u-color--blue">インフィニティ<br>ザ リペア ローション<span> <br>[医薬部外品]</span></p>
						<p class="lineup-col__name u-color--blue">販売名 インフィニティ　ローション W</p>
						<a class="lineup-col__btn hover-alpha" href="https://www.kose.co.jp/infinity/product/the_repair_lotion/"><span>MORE</span></a>
					</div>
				</div>
			</div>

			<h3 class="lineup-subtitle u-color--blue">閉じ込める</h3>
			<div class="lineup-wrap lineup-02">
				<div class="lineup-box">
					<div class="lineup-ph motion-box" data-mode="move-l">
						<img class="w-100" src="/infinity/resources/images/special/therepair_2025/sec_05_product_002.png" alt="乳液">
					</div>
					<div class="lineup-col motion-box" data-mode="fade">
						<p class="lineup-col__lead u-color--blue">ふっくら、もっちりと弾むような、<br>ハリ・ツヤ・明るさを目覚めさせる<span><br class="sp"></span>薬用シワ改善乳液</p>
						<p class="lineup-col__title u-color--blue">インフィニティ<br>ザ リペア エマルジョン<br><span>[医薬部外品]</span></p>
						<p class="lineup-col__name u-color--blue">販売名 インフィニティ　エマルジョン W</p>
						<a class="lineup-col__btn hover-alpha" href="https://www.kose.co.jp/infinity/product/the_repair_emulsion/"><span>MORE</span></a>
					</div>
				</div>
			</div>

			<h3 class="lineup-subtitle u-color--blue">一品で驚くほどの満足感</h3>
			<div class="lineup-wrap lineup-03">
				<div class="lineup-box">
					<div class="lineup-ph motion-box" data-mode="move-l">
						<img class="w-100" src="/infinity/resources/images/special/therepair_2025/sec_05_product_003.png" alt="ジェルクリーム">
					</div>
					<div class="lineup-col motion-box" data-mode="fade">
						<p class="lineup-col__lead u-color--blue">みずみずしいハリ・ツヤ・明るさを目覚めさせる、<br>薬用シワ改善多機能ジェルクリーム<br>お手入れの時短が可能に</p>
						<p class="lineup-col__title u-color--blue">インフィニティ<br>ザ リペア ジェルクリーム<br><span>[医薬部外品]</span></p>
						<p class="lineup-col__name u-color--blue">販売名 インフィニティ　ジェルクリーム W</p>
						<a class="lineup-col__btn hover-alpha" href="https://www.kose.co.jp/infinity/product/the_repair_gelcream/"><span>MORE</span></a>
					</div>
				</div>
			</div>

		</section>

		<section class="sec-combination">
			<div class="sec-combination__wrap">
				<h2 class="sec-combination__title motion-box" data-mode="fade"><img class="w-100" src="/infinity/resources/images/special/therepair_2025/sec-combination_title.png" alt="全品共通配合"></h2>
				<p class="sec-combination__text u-text-weight motion-box" data-mode="move-Y">ブランド独自のカプセル技術により<span><br class="sp"></span>美肌成分をカプセル化した<span><br class="sp"></span>「スキンフュージョニングエレメント<sup>※</sup>」を配合。</p>
				<p class="u-p-note text-center font-not">※スキンフュージョニングエレメントは水素添加大豆リン脂質・ミリスチン酸イソプロピル・<span><br class="pc"></span>コレステロール・ツボクサエキス・レイシエキス・植物性スクワランです。</p>

				<div class="point-col motion-box" data-mode="fade">
					<div class="point-col__ph max-contents">
						<div class="point-image__ill">
							<h4 class="point-image__title u-text-weight"><span class="point-image__title--main">エーデルワイスエキス<br><span class="point-image__title--sub">(保湿)</span></span></h4>
							<div class="point-image__wrap">
								<p class="point-image__ph">
									<img class="w-100" src="/infinity/resources/images/special/therepair_2025/sec-combination_ph_01.jpg" alt>
								</p>
							</div>
						</div>
						<div class="point-image__ill">
							<h4 class="point-image__title u-text-weight"><span class="point-image__title--main">イザヨイバラエキス<br><span class="point-image__title--sub">(保湿)</span></span></h4>
							<div class="point-image__wrap">
								<p class="point-image__ph">
									<img class="w-100" src="/infinity/resources/images/special/therepair_2025/sec-combination_ph_02.jpg" alt="">
								</p>
							</div>
						</div>
					</div>
				</div>
				<p class="u-p-note text-right font-not max-contents">※画像はイメージです</p>
			</div>

		</section>
		<a class="lineup-col__btn lineup-col__btn--all hover-alpha" href="/infinity/"><span>サイトトップに戻る</span></a>
	</div>

</div>
{%- endblock -%}