{%- set pageCategory = "cat-rfc2021" -%}
{%- set cssFile = "rfc2021.css" -%}
{%- set jsFile = "rfc2021.js" -%}
{%- set cssTimeStamp = "?v=20201030" -%}
{%- set jsTimeStamp = "?v=20201030" -%}
{%- set pageTitle = "ロイヤルフラワーコレクション X コンパクトパウダー" -%}
{%- set pageDescription = "力強く花開くアフリカンローズに共鳴し、誕生したロイヤルフラワーコレクションX。対象商品の売上を通じて、エチオピアの働く女性を応援します。" -%}
{%- set noKeyword = "true" -%}
{%- block option_js -%}
<script src="https://players.brightcove.net/6034685923001/default_default/index.min.js"></script>
{%- endblock -%}

{%- extends "_layout/_base.njk" -%}

{%- block content_main -%}

<div class="wrap">
	<div class="modal">
		<div class="modal-bg"></div>
		<div class="modal-wrap">
			<div class="modal-box">
				<button class="modal-btn__close modal-close"><img class="w-100" src="/infinity/resources/images/cm_2019/btn_close.png" alt="CLOSE"></button>
				<div class="modal-layer"></div>
			</div>
		</div>
	</div>
	{#- mv -#}
	<section id="mv" class="mv">
		<img class="mv-left img_mediaq" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQI12NgYAAAAAMAASDVlMcAAAAASUVORK5CYII=" data-src="/infinity/resources/images/rfc2021/kv_side_left.png" data-path="serial" alt="">
		<img class="mv-right img_mediaq" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQI12NgYAAAAAMAASDVlMcAAAAASUVORK5CYII=" data-src="/infinity/resources/images/rfc2021/kv_side_right.png" data-path="serial" alt="">
		<div class="mv-box">
			<h1 class="mv-title"><img class="w-100" src="/infinity/resources/images/rfc2021/kv_logo.png" alt="Share the Bloom"></h1>
			<div class="mv-box__area">
				<div class="mv-box__col">
					<h2 class="mv-box__area--title">美しさは力になる。<br>咲かせよう、可能性の花。</h2>
					<p class="mv-box__area--ph"><img class="w-100" src="/infinity/resources/images/rfc2021/kv_product.png" alt=""></p>
					<h3 class="mv-box__area--text">インフィニティ <br>ロイヤルフラワーコレクション X<br>コンパクトパウダー</h3>
					<a href="#detail" class="page-btn hover-alpha">
						<span class="page-btn__text">商品詳細はこちら</span>
					</a>
				</div>
			</div>
		</div>
	</section>
	{#- /mv -#}
	<div class="bg">
		{#- about -#}
		<section id="about" class="about">
			<div class="flower-box">
				<img class="motion-box flower-side flower-side__001" src="/infinity/resources/images/rfc2021/flower/side_001.png" alt="">
				<img class="motion-box flower-side flower-side__002" src="/infinity/resources/images/rfc2021/flower/side_002.png" alt="">
				<img class="motion-box flower-side flower-side__003" src="/infinity/resources/images/rfc2021/flower/side_003.png" alt="">
			</div>
			<div class="sec-wrap">
				<p class="about-say__text motion-box">世界にはまだ見ぬ可能性が眠っている。<br>一人ひとりの可能性が花開き、<span><br class="sp"></span>シェアされることで<br>世界はもっと強く、自由に、美しくなれる。<br>私たちはそう考えています。</p>
				<p class="about-say__lead motion-box">インフィニティ　<span><br class="sp"></span>ロイヤルフラワーコレクションは<br>One of Loveプロジェクトとともに、<br>アフリカのバラ農園で働く人々の<span><br class="sp"></span>生活環境改善に貢献します。
				</p>
				<div class="about-product">
					<div class="about-product__ph motion-box">
						<img class="w-100 img_mediaq" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQI12NgYAAAAAMAASDVlMcAAAAASUVORK5CYII=" data-src="/infinity/resources/images/rfc2021/about_product.png" data-path="serial" alt="">
					</div>
					<div class="about-product__panel  motion-box">
						<div class="about-product__panel--box">
							<h2 class="about-product__title">Share the Bloomキャンペーン</h2>
							<h3 class="about-product__lead">&lt;対象期間&gt;</h3>
							<p class="about-product__text text-center">2021年11月16日（火）～　2021年12月31日（金）</p>
							<h3 class="about-product__lead">&lt;内容&gt;</h3>
							<p class="about-product__text">お客様にご購入頂いた対象商品1点につき、再利用可能な生理用品1枚を、エチオピアのバラ農園で働く女性にお届けします。<br>※お一人につき複数枚のお渡しを想定しております。</p>
							<h3 class="about-product__lead">&lt;対象商品&gt;</h3>
							<p class="about-product__text text-center">2021年11月16日 限定発売<br>インフィニティ　ロイヤルフラワーコレクション X <br>コンパクトパウダー</p>
						</div>
					</div>
				</div>
				<div class="about-sdgs motion-box">
					<p class="about-lead">わたしたちは、国連が定める持続可能な<span><br class="sp"></span>開発目標（SDGs）を支援しています。</p>
					<p class="about-ph"><img class="w-100" src="/infinity/resources/images/rfc2021/about_sdgs.png" alt="SDGs"></p>
					<p class="about-text">17の目標のうち、特に「目標3:すべての人に健康と福祉を」<br>「目標5:ジェンダー平等を実現しよう」の<span><br class="sp"></span>達成に向けて、貢献していきます。</p>
				</div>

				<div class="about-ethiopia motion-box">
					<h2 class="section-title">環境がまだ十分に整って<span><br class="sp"></span>いない国、エチオピア。</h2>
					<div class="about-ethiopia">
						<div class="about-ethiopia__block">
							<div class="about-ethiopia__col">
								<p class="section-text">「アフリカの角」と呼ばれる<span><br class="pc"></span>アフリカ大陸の東側に位置するエチオピア。<br>アフリカ最古の独立国といわれる歴史を持ち、<span><br class="pc"></span>日本の約3倍の大地が広がる大国です。<br>しかし近年高い成長率を記録しながらも、<span><br class="pc"></span>衛生事情も未発達で、その環境はまだ十分に整っているとはいえません。<br>干ばつによる飢饉や長引く内戦に加え、2020年には<span><br class="pc"></span>バッタが大量に発生し、100万人が緊急食糧援助を<span><br class="pc"></span>必要とすると国連が発表するなど、貧困解決の道のりにはさまざまな課題が待ち受けています。<br>その一つに挙げられるのが、所得の理由などで女性の生理用品が普及していないという事実。<br>生理期間中に働くことが困難になり、経済的自立がさらに遠のくという悪循環が生まれています。<br>そこで、コーセーは再利用可能な生理用品に着目。<br>経済的負担を抑え、働く女性の大きな支援になると考えています。</p>
							</div>
							<div class="about-ethiopia__map">
								<img class="w-100" src="/infinity/resources/images/rfc2021/place_map.png" alt="エチオピア">
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		{#- about -#}
		<div class="place">
			<div class="bg-place"></div>
		</div>
		{#- gallery -#}
		<section id="gallery" class="gallery">
			<div class="flower-box">
				<img class="motion-box flower-side flower-side__004" src="/infinity/resources/images/rfc2021/flower/side_004.png" alt="">
				<img class="motion-box flower-side flower-side__005" src="/infinity/resources/images/rfc2021/flower/side_005.png" alt="">
				<img class="motion-box flower-side flower-side__006" src="/infinity/resources/images/rfc2021/flower/side_006.png" alt="">
				<img class="motion-box flower-side flower-side__007" src="/infinity/resources/images/rfc2021/flower/side_007.png" alt="">
				<img class="motion-box flower-side flower-side__008" src="/infinity/resources/images/rfc2021/flower/side_008.png" alt="">
			</div>
			<div class="sec-wrap">
				<div class="gallery-col motion-box">
					<h2 class="section-title">未来を切り拓く新しい力、<span><br class="sp"></span>アフリカンローズ。</h2>
					<p class="section-text">日照時間が長く、昼夜の温度差があり、年間を通じて日中の気温が20度前後の気象条件。「赤道に近い高地」であるエチオピアは、バラの栽培に最適といわれています。美しく咲くバラは、ヨーロッパや中東、日本などのアジアへ。主産業であるコーヒーに続く輸出品目として期待されています。また、女性たちにバラ農園で働くという雇用を生み出し、所得向上につなげることで、生活環境の改善を実現する新しい力でもあるのです。</p>
				</div>
				<div class="gallery-box motion-box">
					<h2 class="section-title section-title__s">フォトギャラリー</h2>
					<ul class="gallery-ul">
						<li class="gallery-li">
							<a class="gallery-link hover-scale" href="">
								<img class="w-100" src="/infinity/resources/images/rfc2021/gallery_001.png" alt="">
							</a>
						</li>
						<li class="gallery-li">
							<a class="gallery-link hover-scale" href="">
								<img class="w-100" src="/infinity/resources/images/rfc2021/gallery_002.png" alt="">
							</a>
						</li>
						<li class="gallery-li">
							<a class="gallery-link hover-scale" href="">
								<img class="w-100" src="/infinity/resources/images/rfc2021/gallery_003.png" alt="">
							</a>
						</li>
						<li class="gallery-li">
							<a class="gallery-link hover-scale" href="">
								<img class="w-100" src="/infinity/resources/images/rfc2021/gallery_004.png" alt="">
							</a>
						</li>
						<li class="gallery-li">
							<a class="gallery-link hover-scale" href="">
								<img class="w-100" src="/infinity/resources/images/rfc2021/gallery_005.png" alt="">
							</a>
						</li>
						<li class="gallery-li">
							<a class="gallery-link hover-scale" href="">
								<img class="w-100" src="/infinity/resources/images/rfc2021/gallery_006.png" alt="">
							</a>
						</li>
						<li class="gallery-li">
							<a class="gallery-link hover-scale" href="">
								<img class="w-100" src="/infinity/resources/images/rfc2021/gallery_007.png" alt="">
							</a>
						</li>
						<li class="gallery-li">
							<a class="gallery-link hover-scale" href="">
								<img class="w-100" src="/infinity/resources/images/rfc2021/gallery_008.png" alt="">
							</a>
						</li>
						<li class="gallery-li">
							<a class="gallery-link hover-scale" href="">
								<img class="w-100" src="/infinity/resources/images/rfc2021/gallery_009.png" alt="">
							</a>
						</li>
					</ul>
					<button class="page-btn gallery-btn hover-alpha">
						<span class="page-btn__text">さらに読み込む</span>
					</button>
					<div class="gallery-mask">
						<ul class="gallery-ul gallery-ul_02">
							<li class="gallery-li">
								<a class="gallery-link hover-scale" href="">
									<img class="w-100" src="/infinity/resources/images/rfc2021/gallery_010.png" alt="">
								</a>
							</li>
							<li class="gallery-li">
								<a class="gallery-link hover-scale" href="">
									<img class="w-100" src="/infinity/resources/images/rfc2021/gallery_011.png" alt="">
								</a>
							</li>
							<li class="gallery-li">
								<a class="gallery-link hover-scale" href="">
									<img class="w-100" src="/infinity/resources/images/rfc2021/gallery_012.png" alt="">
								</a>
							</li>
							<li class="gallery-li">
								<a class="gallery-link hover-scale" href="">
									<img class="w-100" src="/infinity/resources/images/rfc2021/gallery_013.png" alt="">
								</a>
							</li>
							<li class="gallery-li">
								<a class="gallery-link hover-scale" href="">
									<img class="w-100" src="/infinity/resources/images/rfc2021/gallery_014.png" alt="">
								</a>
							</li>
							<li class="gallery-li">
								<a class="gallery-link hover-scale" href="">
									<img class="w-100" src="/infinity/resources/images/rfc2021/gallery_015.png" alt="">
								</a>
							</li>
							<li class="gallery-li">
								<a class="gallery-link hover-scale" href="">
									<img class="w-100" src="/infinity/resources/images/rfc2021/gallery_016.png" alt="">
								</a>
							</li>
							<li class="gallery-li">
								<a class="gallery-link hover-scale" href="">
									<img class="w-100" src="/infinity/resources/images/rfc2021/gallery_017.png" alt="">
								</a>
							</li>
							<li class="gallery-li">
								<a class="gallery-link hover-scale" href="">
									<img class="w-100" src="/infinity/resources/images/rfc2021/gallery_018.png" alt="">
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		{#- gallery -#}
		{#- detail -#}
		<section id="detail" class="detail">
			<div class="sec-wrap">
				<div class="motion-box">
					<h2 class="section-title">商品情報</h2>
					<div class="detail-product">
						<div class="detail-product__ph">
							<img class="w-100" src="/infinity/resources/images/rfc2021/detaile_product.png" alt="ロイヤルフラワーコレクション X コンパクトパウダー">
						</div>
						<div class="detail-product__col">
							<div class="detail-product__box">
								<p class="detail-product__day">2021年11月16日限定発売</p>
								<h3 class="detail-product__title">インフィニティ <br>
									ロイヤルフラワーコレクション X <br>
									コンパクトパウダー </h3>
								<ul class="detail-product__ul">
									<li class="detail-product__li">9g</li>
									<li class="detail-product__li">9g×2個（レフィル・替えパフ付き）</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="detail-set motion-box">
					<h3 class="detail-alltitle">セット内容</h3>
					<ul class="detail-set__ul">
						<li class="detail-set__li">
							<p class="detail-set__ph"><img class="w-100" src="/infinity/resources/images/rfc2021/detaile_set_001.png" alt="コンパクトパウダー"></p>
							<h4 class="detail-set__title">コンパクトパウダー</h4>
							<p class="detail-set__text">ロイヤルフラワーコレクション10周年を迎え、品質を全面的に見直した新製法を採用。しっとり溶けこみ、ツヤのある肌を叶えます。一輪のローズを手にしたプレス模様には、"開花する可能性をシェアする"という想いがこめられています。</p>
						</li>
						<li class="detail-set__li">
							<p class="detail-set__ph"><img class="w-100" src="/infinity/resources/images/rfc2021/detaile_set_002.png" alt="コンパクトケース"></p>
							<h4 class="detail-set__title">コンパクトケース</h4>
							<p class="detail-set__text">アフリカンローズの力強い生命力にインスパイアされた、華やかで温かみのある彩りのデザイン。</p>
						</li>
						<li class="detail-set__li">
							<p class="detail-set__ph"><img class="w-100" src="/infinity/resources/images/rfc2021/detaile_set_003.png" alt="パフ"></p>
							<h4 class="detail-set__title">パフ</h4>
							<p class="detail-set__text">ヒアルロン酸コーティングした繊細な生地を採用。なめらかな肌あたりで、パウダーをふんわり均一にフィットさせます。</p>
						</li>
					</ul>
				</div>


				<section class="sec-online detail-set">
					<h2 class="sec-online__title text-vollkorn">ONLINE SHOP</h2>
					<p class="sec-online__text">下記オンラインショップでもお求めいただけます。</p>
					<ul class="sec-online__ul">
						<li>
							<a href="https://maison.kose.co.jp/site/infinity/c/c04/" target="_blank">
								<img class="w-100" src="/infinity/resources/images/rfc2021/online_logo_001.png" alt="maisonkose">
							</a>
						</li>
						<li>
							<a href="https://aeonretail.com/list/infinity" target="_blank">
								<img class="w-100" src="/infinity/resources/images/rfc2021/online_logo_002.png" alt="aeon">
							</a>
						</li>
						<li>
							<a href="https://iyec.omni7.jp/basic/10400?intpr=iy_frmng_top_headnav_cate" target="_blank">
								<img class="w-100" src="/infinity/resources/images/rfc2021/online_logo_003.png" alt="omni7">
							</a>
						</li>
						<li>
							<a href="https://www.e-welcia.com/products/list.php?category_id=54200" target="_blank">
								<img class="w-100" src="/infinity/resources/images/rfc2021/online_logo_004.png" alt="welcia">
							</a>
						</li>
					</ul>
					<p class="sec-online__note">ここから先は外部サイトへ移動します。価格やサービス内容については、外部サイトの利用規約に従うもので、当社は一切責任を負いません。</p>
				</section>


				<div class="detail-col motion-box">
					<h3 class="detail-alltitle">商品特徴</h3>
					<div class="detail-col__wrap">
						<ul class="detail-col__ul">
							<li class="detail-col_li">肌にしっとり溶けこむようになじみ、極上の透明感を湛える気品に満ちた肌を叶えるフェイスパウダー。<br>くすみ・色ムラ・シワ・毛穴までふんわりと補正し、キメ細やかで自然なつやのある美しい仕上がりが続きます。</li>
							<li class="detail-col_li">パウダーのひとつひとつをローズエキスで均一にコーティングする、独自のフラワーエッセンスシャワー製法を採用。<br>どんな肌状態でもしっとり溶けこむように緻密に密着し、薄膜で均一、粉感のない仕上がりが持続します。</li>
							<li class="detail-col_li">肌に温かみのある自然なつやと明るさを与える“グロウルビーパウダー”を新たに配合。<br>くすみ・色ムラ・シワ・毛穴を自然にカバーしながら、内側から輝くつややかな肌を演出します。</li>
							<li class="detail-col_li">やわらかく、すべすべとした手触りの肌に仕上げます。</li>
							<li class="detail-col_li">余分な皮脂を吸収し、皮脂によるくすみやテカリも防いで化粧もちを高め、つけたての美しさが持続します。</li>
							<li class="detail-col_li">紫外線から肌をまもり、日やけによるシミ・ソバカスを防ぎます。</li>
							<li class="detail-col_li">SPF 15 / PA+</li>
							<li class="detail-col_li">微香性</li>
						</ul>
						<div class="detail-col__block js-accordion">
							<div class="detail-col__btn js-accordion-btn hover-alpha">
								<h4 class="detail-alltitle">ご使用方法</h4>
							</div>
							<div class="detail-col__mask js-accordion-contents">
								<ul class="detail-col__ul detail-col__use">
									<li class="detail-col_li">パウダーの表面をやさしく円を描くようにして、パフに適量をとり、手の甲でつき具合をみてから、軽くすべらせるように肌にのばします。メイクアップのくずれやすい小鼻のまわりなどは、ていねいにおさえるようにしてください。</li>
									<li class="detail-col_li">お化粧なおしのときは、ティッシュペーパーなどで汗やあぶらうきをおさえてから、パフに少量ずつとってお使いください。</li>
								</ul>
							</div>
						</div>
						<div class="detail-col__block js-accordion">
							<div class="detail-col__btn js-accordion-btn hover-alpha">
								<h4 class="detail-alltitle">配合成分</h4>
							</div>
							<div class="detail-col__mask js-accordion-contents">
								<div>
								<div class="detail-col__poit">
									<div class="detail-col__area">
										<dl class="detail-col__dl">
											<dt class="detail-col__dt">輝き・透明感演出成分</dt>
											<dd class="detail-col__dd">ダイヤモンドパウダー</dd>
										</dl>
										<dl class="detail-col__dl">
											<dt class="detail-col__dt">小ジワカバー成分</dt>
											<dd class="detail-col__dd">小ジワカバーパウダー</dd>
										</dl>
										<dl class="detail-col__dl">
											<dt class="detail-col__dt">なめらかさ付与成分</dt>
											<dd class="detail-col__dd">植物性パウダー</dd>
										</dl>
									</div>
									<div class="detail-col__area">
										<dl class="detail-col__dl">
											<dt class="detail-col__dt">つや・透明感持続成分</dt>
											<dd class="detail-col__dd">ルーセントグロウパウダー</dd>
										</dl>
										<dl class="detail-col__dl">
											<dt class="detail-col__dt">やわらかさ演出成分</dt>
											<dd class="detail-col__dd">もち肌パウダー</dd>
										</dl>
										<dl class="detail-col__dl">
											<dt class="detail-col__dt">植物性保湿成分</dt>
											<dd class="detail-col__dd">ローズエキス・植物性スクワラン</dd>
										</dl>
									</div>
									<div class="detail-col__area">
										<dl class="detail-col__dl">
											<dt class="detail-col__dt">くすみ・色むらカバー成分</dt>
											<dd class="detail-col__dd">美肌パウダー</dd>
										</dl>
										<dl class="detail-col__dl">
											<dt class="detail-col__dt">肌なじみ成分</dt>
											<dd class="detail-col__dd">アミノ酸パウダー</dd>
										</dl>
									</div>
									<div class="detail-col__area">
										<dl class="detail-col__dl">
											<dt class="detail-col__dt">明るくつややかな肌演出成分</dt>
											<dd class="detail-col__dd">グロウルビーパウダー</dd>
										</dl>
										<dl class="detail-col__dl">
											<dt class="detail-col__dt">明るさ演出成分</dt>
											<dd class="detail-col__dd">真珠パウダー</dd>
										</dl>
									</div>
								</div>
								<p class="detail-col__text">ルーセントグロウパウダーは窒化ホウ素、美肌パウダーは酸化チタン・マイカ、グロウルビーパウダーはルビー末・マイカ・酸化チタン、小ジワカバーパウダーはシリカ、もち肌パウダーは（ビニルジメチコン／メチコンシルセスキオキサン）クロスポリマー、アミノ酸パウダーはラウロイルリシン、真珠パウダーはパール、植物性パウダーはセルロース、ローズエキスはダマスクバラ花エキスです。</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		{#- /detail -#}

		{#- oneoflove -#}
		<section id="oneoflove" class="oneoflove">
			<div class="flower-box">
				<img class="motion-box flower-side flower-side__009" src="/infinity/resources/images/rfc2021/flower/side_009.png" alt="">
			</div>
			<div id="movie" class="sec-wrap">
				<div class="oneoflove-box motion-box">
					<h2 class="oneoflove-title">One of Loveプロジェクト</h2>
					<div class="oneoflove-block">
						<div class="oneoflove-logo">
							<img class="w-100" src="/infinity/resources/images/rfc2021/oneoflove_logo.png" alt="One of Love">
						</div>
						<div class="oneoflove-col">
							<p class="oneoflove-text">音楽とバラで、途上国の子供たちの教育環境、そしてその母親でもある働く女性たちの雇用整備の向上を目指す支援活動です。継続的に途上国を支援し、子供たちの健全な教育と地域の振興を支えていきたいと考えています。また、労働者が誇りを持って仕事に従事出来るよう、生活基盤の向上を目指します。INFINITYのブランドミューズである夏木マリさんが中心となって推進するこのプロジェクトに、2021年からコーセーも賛同しています。</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		{#- /oneoflove -#}
	</div>
</div>
<div class="modal-lineup">
	<div class="modal-lineup__base">
		<div class="modal-g carousel-lineup">
			<button class="modal-lineup__close"><img class="w-100" src="/infinity/resources/images/rfc2021/modal/btn_close.png" alt="CLOSE" /></button>
			<button class="modal-lineup__left carousel-ui__prev"><img class="w-100" src="/infinity/resources/images/rfc2021/modal/arrow_left.png" alt="←" /></button>
			<button class="modal-lineup__right carousel-ui__next"><img class="w-100" src="/infinity/resources/images/rfc2021/modal/arrow_right.png" alt="→" /></button>
			<div class="modal-block">
				<div class="modal-cat">
					<ul class="carousel-main">
						<li><img class="w-100" src="/infinity/resources/images/rfc2021/modal/modal_001.png" alt=""></li>
						<li><img class="w-100" src="/infinity/resources/images/rfc2021/modal/modal_002.png" alt=""></li>
						<li><img class="w-100" src="/infinity/resources/images/rfc2021/modal/modal_003.png" alt=""></li>
						<li><img class="w-100" src="/infinity/resources/images/rfc2021/modal/modal_004.png" alt=""></li>
						<li><img class="w-100" src="/infinity/resources/images/rfc2021/modal/modal_005.png" alt=""></li>
						<li><img class="w-100" src="/infinity/resources/images/rfc2021/modal/modal_006.png" alt=""></li>
						<li><img class="w-100" src="/infinity/resources/images/rfc2021/modal/modal_007.png" alt=""></li>
						<li><img class="w-100" src="/infinity/resources/images/rfc2021/modal/modal_008.png" alt=""></li>
						<li><img class="w-100" src="/infinity/resources/images/rfc2021/modal/modal_009.png" alt=""></li>
						<li><img class="w-100" src="/infinity/resources/images/rfc2021/modal/modal_010.png" alt=""></li>
						<li><img class="w-100" src="/infinity/resources/images/rfc2021/modal/modal_011.png" alt=""></li>
						<li><img class="w-100" src="/infinity/resources/images/rfc2021/modal/modal_012.png" alt=""></li>
						<li><img class="w-100" src="/infinity/resources/images/rfc2021/modal/modal_013.png" alt=""></li>
						<li><img class="w-100" src="/infinity/resources/images/rfc2021/modal/modal_014.png" alt=""></li>
						<li><img class="w-100" src="/infinity/resources/images/rfc2021/modal/modal_015.png" alt=""></li>
						<li><img class="w-100" src="/infinity/resources/images/rfc2021/modal/modal_016.png" alt=""></li>
						<li><img class="w-100" src="/infinity/resources/images/rfc2021/modal/modal_017.png" alt=""></li>
						<li><img class="w-100" src="/infinity/resources/images/rfc2021/modal/modal_018.png" alt=""></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-lineup__bg"></div>
</div>
{%- endblock -%}