{%- set pageCategory = "cat-rfc2025" -%}
{%- set cssFile = "rfc2025.css" -%}
{%- set jsFile = "rfc2025.js" -%}
{%- set cssTimeStamp = "?v=20210912" -%}
{%- set jsTimeStamp = "?v=20210912" -%}
{%- set pageTitle = "ロイヤルフラワーコレクション XIII コンパクトパウダー" -%}
{%- set pageDescription = "力強く花開くアフリカンローズに共鳴し、誕生したロイヤルフラワーコレクションXIII。対象商品の売上を通じて、アフリカのバラ農園で働く女性を応援します。" -%}
{%- set noKeyword = "true" -%}
{%- set pageOgFile = "resources/images/rfc2025/og.jpg" -%}
{%- set isOG = "true" -%}
{%- block option_js -%}
<script src="https://players.brightcove.net/6034685923001/default_default/index.min.js"></script>
{%- endblock -%}

{%- extends "_layout/_base.njk" -%}

{%- block content_main -%}

<div class="wrap">
	<div class="modal">
		<div class="modal-bg"></div>
		<div class="modal-wrap">
			<div class="modal-box">
				<button class="modal-btn__close modal-close">
					<img class="w-100" src="/infinity/resources/images/cm_2019/btn_close.png" alt="CLOSE">
				</button>
				<div class="modal-layer"></div>
			</div>
		</div>
	</div>
	<section id="mv" class="mv">
		<div class="mv-box">
			<div class="loop_wrap"></div>
		</div>
		<div class="mv-arrow">
			<picture>
				<source srcset="/infinity/resources/images/rfc2025/sp/arrow_scrolldown.png" media="(max-width: 640px)">
				<img class="w-100" src="/infinity/resources/images/rfc2025/arrow_scrolldown.png" alt="">
			</picture>
		</div>
		<a href="" class="mv-banner pc btn-anker">
			<img class="w-cover" src="/infinity/resources/images/rfc2025/mv-banner.jpg" alt="インフィニティインフィニティロイヤルフラワーコレクション XIV" width="280" height="300">
		</a>
	</section>
	<div class="bg">
		<h1 class="title">
			<picture>
				<source srcset="/infinity/resources/images/rfc2025/sp/kv_logo.png"
					media="(max-width: 640px)" width="520" height="443">
					<img class="w-cover" src="/infinity/resources/images/rfc2025/kv_logo.png" alt="Share the Bloom 美しさは力になる。 咲かせよう、可能性の花。"  width="1018" height="500">
			</picture>
		</h1>
		<p class="description pc">
			インフィニティ ロイヤルフラワーコレクションは<br class="sp">「One of Love プロジェクト」とともに、<br>
			アフリカのバラ農園で働く人々の支援を行っています。<br>
			その一環で、<br class="sp">お客さまにご購入いただいた対象商品1点につき、<br>
			再利用可能な生理用品1枚を、<br class="sp">エチオピアのバラ農園で働く女性にお届けしております。
		</p>
		<a href="" class="banner sp btn-anker">
			<img class="w-cover" src="/infinity/resources/images/rfc2025/sp/mv-banner.jpg" alt="インフィニティインフィニティロイヤルフラワーコレクション XIV" width="480" height="220">
		</a>
		<p class="description sp">
			インフィニティ ロイヤルフラワーコレクションは<br class="sp">「One of Love プロジェクト」とともに、<br>
			アフリカのバラ農園で働く人々の支援を行っています。<br>
			その一環で、<br class="sp">お客さまにご購入いただいた対象商品1点につき、<br>
			再利用可能な生理用品1枚を、<br class="sp">エチオピアのバラ農園で働く女性にお届けしております。
		</p>
		<section id="about" class="about">
			<div class="sec-wrap">
				<div class="wrap-retative">
					<div class="about-product">
						<div class="about-product__ph motion-box">
							<picture>
								<source srcset="/infinity/resources/images/rfc2025/sp/about_product.png" media="(max-width: 640px)" width="560" height="450" />
								<img loading="lazy" class="w-cover" src="/infinity/resources/images/rfc2025/about_product.png" alt="Share the Bloom キャンペーン" width="600" height="477">
							</picture>
						</div>
						<div class="about-product__panel motion-box">
							<div class="about-product__panel--box">
								<h2 class="about-product__title">Share the Bloom キャンペーン</h2>
								<h3 class="about-product__lead is-01">&lt;対象期間&gt;</h3>
								<p class="about-product__text text-center en">2025年11月16日（日）<span class="about-product__text--space">～</span> 2025年12月31日（水）</p>
								<h3 class="about-product__lead is-02">&lt;内容&gt;</h3>
								<p class="about-product__text en">
									お客さまにご購入いただいた対象商品1点につき、<br class="pc">再利用可能な生理用品1枚を、エチオピアのバラ農<br class="pc">園で働く女性にお届けします。
									<br><span class="about-product__text--note">※お一人につき複数枚のお渡しを予定しております。</span>
								</p>
								<h3 class="about-product__lead is-03">&lt;対象商品&gt;</h3>
								<p class="about-product__text">2025年11月16日限定発売</p>
								<p class="about-product__text en space">
									インフィニティ ロイヤルフラワーコレクション XIV <br>セラムイン パウダー
									<small>・9g×1個(レフィル)</small>
									<small>・9g×2個(レフィル・替えパフ付き)</small>
								</p>
								<p class="about-product__text about-product__text--mt-1-5em en space">
									インフィニティ ロイヤルフラワーコレクション XIV <br>セラムルージュ
									<small>・3.5g 全2色</small>
								</p>
								<a href="" class="about-product__btn btn-anker">
									<span>商品詳細はこちら</span>
									<i></i>
								</a>
							</>
						</div>
					</div>
				</div>
				<div class="about-report">
					<div class="about-report__inner">
						<div class="about-report__contents">
							<div class="about-report__block">
								<h2 class="about-report__title text-alin-center">活動報告</h2>
								<p class="about-report__lead text-alin-center">累計活動実績をご報告します。</p>
								<div class="about-report__box">
									<dl class="about-report__dl">
										<dt class="about-report__dt">累計配布枚数</dt>
										<dd class="about-report__dd"><span>約</span>120,000<span>枚</span></dd>
										<span class="about-report__label">今後変更可能性あり</span>
									</dl>
									<dl class="about-report__dl none-bar">
										<dt class="about-report__dt">累計配布人数</dt>
										<dd class="about-report__dd"><span>約</span>13,800<span>名</span></dd>
										<span class="about-report__label">今後変更可能性あり</span>
									</dl>
								</div>
								<p class="about-report__text">４年間で、累計約120,000枚の生理用品を<br>約13,800名の方にお渡しすることができました</p>
								<span class="about-report__label is-03">今後変更可能性あり</span>
							</div>
						</div>
						<div class="about-report__ph">
							<img loading="lazy" class="w-cover" src="/infinity/resources/images/rfc2025/report_ph.jpg" alt="活動報告" width="686" height="491">
						</div>
					</div>
				</div>

				<div class="about-ethiopia">
					<div class="point-box sp">
						<img class="motion-box point-side point-box__w100 point-box__02" src="/infinity/resources/images/rfc2025/flowerside/sp/add_g_01.png" alt="">
					</div>
					<h2 class="section-title">美しさは力になる。<span><br class="sp"></span>咲かせよう、可能性の花。</h2>
					<div class="about-ethiopia__new">
						<div class="about-ethiopia__flex">
							<div class="about-ethiopia__col about-ethiopia__text magin-t">
								<h3 class="about-ethiopia__title color-text-red">活動概要</h3>
								<p class="section-text">「美しさは力になる。咲かせよう、可能性の花。」をメッセージに掲げている“Share the Bloom”<span><br
											class="sp"></span>キャンペーン。</p>
								<p class="section-text magin-t">発展途上国の女性や子どもの生活環境を改善する「One of Loveプロジェクト」（事務局：一般社団法人 One
									of Loveプロジェクト）に賛同し、2021年から“Share the Bloom”<span><br
											class="pc"></span>キャンペーンを実施しています。</p>
								<p class="section-text magin-t">アフリカ北東部に位置する国、
									<br>エチオピアの女性たちに生理用品を寄付。
									<br>世界を自由に、美しくする取り組みを進めています。
								</p>
							</div>
							<div class="about-ethiopia__map motion-box">
								<div class="img-map">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/place_map.png"
										alt="アフリカ地図">
								</div>
							</div>
						</div>

						<div class="about-ethiopia__flex flex-reverse">
							<div class="about-ethiopia__col about-ethiopia__text">
								<h3 class="about-ethiopia__title color-text-red">2023年の活動内容</h3>
								<div class="about-ethiopia__box">
									<dl class="about-ethiopia__dl">
										<dt class="about-ethiopia__dt">配布枚数</dt>
										<dd class="about-ethiopia__dd">32,000<span>枚</span>
										</dd>
									</dl>
									<dl class="about-ethiopia__dl none-bar">
										<dt class="about-ethiopia__dt">配布人数</dt>
										<dd class="about-ethiopia__dd">4,000<span>名</span>
										</dd>
									</dl>
								</div>
								<p class="section-text">
									累計32,000枚を4,000名以上の女性にお届けしました。
								</p>
								<hr class="about-ethiopia__hr">
								<h3 class="about-ethiopia__title color-text-red">2022年の活動内容</h3>
								<div class="about-ethiopia__box">
									<dl class="about-ethiopia__dl">
										<dt class="about-ethiopia__dt">配布枚数</dt>
										<dd class="about-ethiopia__dd">20,000<span>枚</span>
										</dd>
									</dl>
									<dl class="about-ethiopia__dl none-bar">
										<dt class="about-ethiopia__dt">配布人数</dt>
										<dd class="about-ethiopia__dd">2,500<span>名</span>
										</dd>
									</dl>
								</div>
								<p class="section-text">累計20,000枚を2,500名以上の女性にお届けしました。現地のお声を聞き、2021年度よりも1人あたりの配布枚数を減らし、1人でも多くの方へ配布しました。
								</p>
								<hr class="about-ethiopia__hr">
								<h3 class="about-ethiopia__title color-text-red">2021年の活動内容</h3>
								<div class="about-ethiopia__box">
									<dl class="about-ethiopia__dl">
										<dt class="about-ethiopia__dt">配布枚数</dt>
										<dd class="about-ethiopia__dd">20,000<span>枚</span>
										</dd>
									</dl>
									<dl class="about-ethiopia__dl none-bar">
										<dt class="about-ethiopia__dt">配布人数</dt>
										<dd class="about-ethiopia__dd">1,300<span>名</span>
										</dd>
									</dl>
								</div>
								<p class="section-text">第1回“Share the Bloom”キャンペーン開始。<br>累計20,000枚を1,300名以上の女性にお届けしました。
								</p>
							</div>
							<div class="about-ethiopia__map magin-t motion-box">
								<div class="img-map2">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/place_map_e.png"
										alt="エチオピア地図">
								</div>
								<hr class="about-ethiopia__hr sp">
							</div>
						</div>
					</div>
				</div>

				<div class="about-sdgs motion-box">
					<div class="point-box pc">
						<img loading="lazy" class="motion-box point-side point-box__02__left--01"
							src="/infinity/resources/images/rfc2025/flowerside/pc/add_002_left_01.png" alt="">
					</div>
					<p class="about-lead">わたしたちは、国連が定める持続可能な<span><br class="sp"></span>開発目標（SDGs）を支援しています。</p>
					<p class="about-ph">
						<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/about_sdgs.png" alt="SDGs">
					</p>
					<p class="about-text">17の目標のうち、特に「目標3: すべての人に健康と福祉を」
						<br>「目標5: ジェンダー平等を実現しよう」の<span><br class="sp"></span>達成に向けて、貢献していきます。
					</p>
				</div>
				<div class="place">
					<div class="bg-place"></div>
				</div>
				<div class="wrap-retative">
					<div class="about-col motion-box">
						<h2 class="section-title">いまだ、世界の最貧国の<span><br class="sp"></span>一つとされるエチオピア。</h2>
						<div class="about-ethiopia">
							<div class="about-ethiopia__block">
								<div class="about-ethiopia__col">
									<p class="section-text margin-t2em padding-l50">「アフリカの角」と呼ばれる<br class="pc">アフリカ大陸の北東部に位置するエチオピア。
										<br class="pc">アフリカ最古の独立国といわれる歴史を持ち、<br class="pc">日本の約3倍の大地が広がる大国です。
										<br class="pc">しかし近年高い成長率を記録しながらも、<br class="pc">衛生事情も未発達で、いまだ世界の最貧国の一つ。
										<br class="pc">干ばつによる飢饉や長引く内戦に加え、<br class="pc">約 940 万人<sup>※</sup>が緊急食糧援助を<br class="pc">必要とすると国連が発表するなど、
										<br class="pc">貧困解決の道のりにはさまざまな課題が待ち受けています。
										<br><a href="https://ja.wfp.org/emergencies/ethiopia-emergency" target="_blank">※エチオピア緊急支援より</a>
									</p>
								</div>
								<div class="">
									<img loading="lazy" class="w-100 motion-box" src="/infinity/resources/images/rfc2025/ph_map.png"
										alt="エチオピア">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card-photo js-Parallax">
					<p class="card-photo__text">未来を切り拓く新しい力、アフリカンローズ。</p>
					<div class="card-photo__ph js-parallax-obj">
						<div class="photo--01">
							<picture>
								<source srcset="/infinity/resources/images/rfc2025/sp/pa_ph_01.jpg"
									media="(max-width: 640px)">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/pa_ph_01.jpg" alt="">
							</picture>
							
						</div>
						<div class="photo--02">
							<picture>
								<source srcset="/infinity/resources/images/rfc2025/sp/pa_ph_02.jpg"
									media="(max-width: 640px)">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/pa_ph_02.jpg" alt="">
							</picture>
						</div>
						<div class="photo--03">
							<picture>
								<source srcset="/infinity/resources/images/rfc2025/sp/pa_ph_03.jpg"
									media="(max-width: 640px)">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/pa_ph_03.jpg" alt="">
							</picture>
						</div>
						<div class="photo--04">
							<picture>
								<source srcset="/infinity/resources/images/rfc2025/sp/pa_ph_04.jpg"
									media="(max-width: 640px)">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/pa_ph_04.jpg" alt="">
							</picture>
						</div>
						
					</div>
				</div>
			</div>
		</section>
		<section id="gallery" class="gallery">
			<!-- <div class="point-box sp">
				<img class="motion-box point-side point-box__w100 point-box__04"
					src="/infinity/resources/images/rfc2025/flowerside/sp/add_g_04.png" alt="">
			</div> -->
			<div class="sec-wrap">
				<div class="gallery-col motion-box">
					<h2 class="section-title">未来を切り拓く新しい力、<span><br class="sp"></span>アフリカンローズ。</h2>
					<p class="section-text width-per100">
						日照時間が長く、昼夜の温度差があり、年間を通じて日中の気温が20 度前後の気象条件。「赤道に近い高地」であるエチオピアは、バラの栽培に最適といわれています。美しく咲くバラは、ヨーロッパや中東、日本などのアジアへ。主産業であるコーヒーに続く輸出品目として期待されています。また、女性たちにバラ農園で働くという雇用を生み出し、所得向上につなげることで、生活環境の改善を実現する新しい力でもあるのです。
					</p>
				</div>
				<div class="gallery-box motion-box">
					<h2 class="section-title section-title__s">フォトギャラリー</h2>
					<ul class="gallery-ul">
						<li class="gallery-li" data-id="1">
							<a class="gallery-link hover-scale" href="">
								<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2024_001.jpg"
									alt="">
							</a>
						</li>
						<li class="gallery-li" data-id="2">
							<a class="gallery-link hover-scale" href="">
								<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2024_002.jpg"
									alt="">
							</a>
						</li>
						<li class="gallery-li" data-id="3">
							<a class="gallery-link hover-scale" href="">
								<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2024_003.jpg"
									alt="">
							</a>
						</li>
						<li class="gallery-li" data-id="4">
							<a class="gallery-link hover-scale" href="">
								<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2024_004.jpg"
									alt="">
							</a>
						</li>
						<li class="gallery-li" data-id="5">
							<a class="gallery-link hover-scale" href="">
								<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2024_005.jpg"
									alt="">
							</a>
						</li>
						<li class="gallery-li" data-id="6">
							<a class="gallery-link hover-scale" href="">
								<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2024_006.jpg"
									alt="">
							</a>
						</li>
						<li class="gallery-li" data-id="7">
							<a class="gallery-link hover-scale" href="">
								<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2024_007.jpg"
									alt="">
							</a>
						</li>
						<li class="gallery-li" data-id="8">
							<a class="gallery-link hover-scale" href="">
								<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2024_008.jpg"
									alt="">
							</a>
						</li>
						<li class="gallery-li" data-id="9">
							<a class="gallery-link hover-scale" href="">
								<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2024_009.jpg"
									alt="">
							</a>
						</li>
						<li class="gallery-li sp" data-id="10">
							<a class="gallery-link hover-scale" href="">
								<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2024_010.jpg"
									alt="">
							</a>
						</li>
					</ul>
					<button class="page-btn gallery-btn hover-alpha">
						<span class="page-btn__text">さらに読み込む</span>
					</button>
					<div class="gallery-mask">
						<ul class="gallery-ul gallery-ul_02">
							<li class="gallery-li pc" data-id="10">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2024_010.jpg"
										alt="">
								</a>
							</li>
							<li class="gallery-li" data-id="11">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2024_011.jpg"
										alt="">
								</a>
							</li>
							<li class="gallery-li" data-id="12">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2024_012.jpg"
										alt="">
								</a>
							</li>

							<li class="gallery-li gallery-li__old">
							<a class="gallery-link hover-scale" href="">
								<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2023/modal/modal_2023_001.jpg" alt="">
							</a>
						</li>
						<li class="gallery-li gallery-li__old">
							<a class="gallery-link hover-scale" href="">
								<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2023/modal/modal_2023_002.jpg" alt="">
							</a>
						</li>
						<li class="gallery-li gallery-li__old">
							<a class="gallery-link hover-scale" href="">
								<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2023/modal/modal_2023_011.jpg" alt="">
							</a>
						</li>

						<li class="gallery-li gallery-li__old">
							<a class="gallery-link hover-scale" href="">
								<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2023/modal/modal_2023_005.jpg" alt="">
							</a>
						</li>

						<li class="gallery-li gallery-li__old">
							<a class="gallery-link hover-scale" href="">
								<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2023/modal/modal_2023_006.jpg" alt="">
							</a>
						</li>

						<li class="gallery-li gallery-li__old">
							<a class="gallery-link hover-scale" href="">
								<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2023/modal/modal_013.jpg" alt="">
							</a>
						</li>

						<li class="gallery-li gallery-li__old">
							<a class="gallery-link hover-scale" href="">
								<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2023/modal/modal_003.jpg" alt="">
							</a>
						</li>

						<li class="gallery-li gallery-li__old">
							<a class="gallery-link hover-scale" href="">
								<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2023/modal/modal_2023_008.jpg" alt="">
							</a>
						</li>


						<li class="gallery-li gallery-li__old">
							<a class="gallery-link hover-scale" href="">
								<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2023/modal/modal_2023_010.jpg" alt="">
							</a>
						</li>
						<li class="gallery-li gallery-li__old">
							<a class="gallery-link hover-scale" href="">
								<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2023/modal/modal_2023_003.jpg" alt="">
							</a>
						</li>


						<li class="gallery-li gallery-li__old">
							<a class="gallery-link hover-scale" href="">
								<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2023/modal/modal_015.jpg" alt="">
							</a>
						</li>


						<li class="gallery-li gallery-li__old">
							<a class="gallery-link hover-scale" href="">
								<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2023/modal/modal_2023_009.jpg" alt="">
							</a>
						</li>
						

						<li class="gallery-li gallery-li__old">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2023/modal/modal_001.jpg" alt="">
								</a>
							</li>
							<li class="gallery-li gallery-li__old">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2023/modal/modal_002.jpg" alt="">
								</a>
							</li>

							<li class="gallery-li gallery-li__old">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2023/modal/modal_2023_012.jpg" alt="">
								</a>
							</li>
							<li class="gallery-li gallery-li__old">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2023/modal/modal_016.jpg" alt="">
								</a>
							</li>



							<li class="gallery-li gallery-li__old">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2023/modal/modal_005.jpg" alt="">
								</a>
							</li>


							<li class="gallery-li gallery-li__old">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2023/modal/modal_006.jpg" alt="">
								</a>
							</li>
							<li class="gallery-li gallery-li__old">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2023/modal/modal_007.jpg" alt="">
								</a>
							</li>

							<li class="gallery-li gallery-li__old">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2023/modal/modal_011.jpg" alt="">
								</a>
							</li>
							<li class="gallery-li gallery-li__old">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2023/modal/modal_009.jpg" alt="">
								</a>
							</li>
							<li class="gallery-li gallery-li__old">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2023/modal/modal_019.jpg" alt="">
								</a>
							</li>
							<li class="gallery-li gallery-li__old">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2023/modal/modal_008.jpg" alt="">
								</a>
							</li>
							<li class="gallery-li gallery-li__old">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2023/modal/modal_012.jpg" alt="">
								</a>
							</li>
							<li class="gallery-li gallery-li__old">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2023/modal/modal_2023_004.jpg" alt="">
								</a>
							</li>
							<li class="gallery-li gallery-li__old">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2023/modal/modal_017.jpg" alt="">
								</a>
							</li>
							<li class="gallery-li gallery-li__old">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2023/modal/modal_2023_007.jpg" alt="">
								</a>
							</li>

							<li class="gallery-li gallery-li__old">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2023/modal/modal_004.jpg" alt="">
								</a>
							</li>
							<li class="gallery-li gallery-li__old">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2023/modal/modal_014.jpg" alt="">
								</a>
							</li>
							<li class="gallery-li gallery-li__old">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2023/modal/modal_018.jpg" alt="">
								</a>
							</li>
							<li class="gallery-li gallery-li__old">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2023/modal/modal_010.jpg" alt="">
								</a>
							</li>
							<li class="gallery-li gallery-li__old">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2023/modal/modal_020.jpg" alt="">
								</a>
							</li>
							<li class="gallery-li gallery-li__old">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2023/modal/modal_021.jpg" alt="">
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<section id="detail" class="detail">
			<div class="sec-wrap">
				<div class="motion-box">
					<h2 class="section-title">商品情報</h2>
					<div class="detail-product">
						<div class="detail-product__col">
							<div class="detail-product__box">
								<p class="detail-product__day">2024年11月16日発売　限定品</p>
								<h3 class="detail-product__title">インフィニティ　<br class="sp">ロイヤルフラワーコレクション XⅢ コンパクトパウダー</h3>
								<ul class="detail-product__ul">
									<li class="detail-product__li">9g×1個(レフィル)　</li>
									<li class="detail-product__li">9g×2個(レフィル・替えパフ付き)</li>
								</ul>
								<img class="w-100 sp" src="/infinity/resources/images/rfc2025/sp/detail_product.png" alt="">
							</div>
						</div>
					</div>
				</div>
				<div class="detail-set motion-box padding-top-0-sp">
					<div class="detail-set-first">
						<div class="detail-col__block js-accordion">
							<div class="detail-col__btn js-accordion-btn hover-alpha">
								<h4 class="detail-alltitle">セット内容</h4>
							</div>
							<div class="detail-col__mask js-accordion-contents">
								<ul class="detail-set__ul">
									<li class="detail-set__li">
										<p class="detail-set__ph">
											<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/detaile_set_001.png"
												alt="コンパクトパウダー">
										</p>
										<h4 class="detail-set__title">コンパクトパウダー</h4>
										<p class="detail-set__text">磨き上げたようなつやといきいきとした血色感、透明感によって、健やかで気品に満ちた印象をあたえます。<br class="sp">ローズを手にしたプレス模様には、“開花する可能性をシェアする”という想いが込められています。
										</p>
									</li>
									<li class="detail-set__li">
										<p class="detail-set__ph">
											<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/detaile_set_002.png"
												alt="コンパクトケース">
										</p>
										<h4 class="detail-set__title">コンパクトケース</h4>
										<p class="detail-set__text">
											アフリカンローズの、気高く、気品に満ちた姿を１本のバラで力強く表現しデザインしました。コンパクトの角度を変えることにより、花が開き、美しさや可能性が開花するという思いを込めています。
										</p>
									</li>
									<li class="detail-set__li">
										<p class="detail-set__ph">
											<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/detaile_set_003.png"
												alt="パフ">
										</p>
										<h4 class="detail-set__title">パフ</h4>
										<p class="detail-set__text">ヒアルロン酸でコーティングした繊細な生地を採用。<br>なめらかな肌あたりで、パウダーをふんわり均一にフィットさせます。
										</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<hr class="about-set__hr margin-top-0-sp">
					<h3 class="detail-alltitle">商品特長</h3>
					<div class="detail-col__wrap">
						<div class="detail-col__ul">
							<div class="detail-col_li">
								ロイヤルフラワーコレクション13周年のコンセプトは、Noble Wild Roses ～ 朝露に濡れた原野のバラのように、力強く気高く。～
								<br>
								ひと塗りで肌にしっとりと溶け込み、美しいつや・血色感・透明感をあたえ、健やかで気品に満ちた肌を叶えるフェイスパウダー。くすみ・色ムラ・小ジワ・毛穴までなめらかに補整し、思わず触れたくなるほどキメ細やかで、内側から溢れるような自然なつやのある仕上がりが続きます。
							</div>
							<div id="product1" class="text-mask">
								<div class="text-mask__contents">
									<div class="detail-col_li">
									上質なつや肌を演出するソフトリフレクトパウダーを新配合。肌に触れた光を美しく拡散し、磨き上げたようなつやを演出します。
									</div>
									<div class="detail-col_li">
										肌を明るく健やかに魅せるブライトアップパウダーを新配合。肌表面で光を反射するため、疲れた印象を払拭し、ワントーン明るい肌を叶えます。
									</div>
									<div class="detail-col_li">肌の色に関するコーセー独自の研究に基づき、ライブリーピンクパウダーを配合。オレンジ～赤色領域の反射率が特に高いため、血色感をあたえ、どなたでもいきいきとした印象に変化させます。</div>
									<div class="detail-col_li">ローズエキスでパウダーを丁寧に包み込む、独自のフラワーエッセンスシャワー製法を採用。どんな肌状態でもしっとり溶け込むように密着し、薄膜で均一、粉感のない仕上がりが持続します。</div>
									<div class="detail-col_li">高湿度の環境下でも、余分な皮脂を吸収し、皮脂によるくすみやテカリも防いで化粧もちを高め、つけたての美しさが持続します。</div>
									<div class="detail-col_li">SPF15 /PA+ 紫外線から肌をまもり、日やけによるシミ・ソバカスを防ぎます。</div>
									<div class="detail-col_li">心まで華やぐライブリーローズフローラルの香りです。</div>
								</div>
							</div>
							<button class="page-btn page-btn_textMask hover-alpha" data-jump="product1">
								<span class="page-btn_textMask__text">Read More</span>
							</button>
						</div>
						<div class="detail-col__block js-accordion">
							<div class="detail-col__btn js-accordion-btn hover-alpha">
								<h4 class="detail-alltitle">使用方法</h4>
							</div>
							<div class="detail-col__mask js-accordion-contents">
								<ul class="detail-col__ul detail-col__use">
									<li class="detail-col_li">ベースメイクアップの最後の仕上げや、外出先でのお化粧なおしにお使いください。</li>
									<li class="detail-col_li">パウダーの表面をやさしく円を描くようにして、パフに適量をとり、手の甲でつき具合をみてから、軽くすべらせるように肌にのばします。メイクアップのくずれやすい小鼻のまわりなどは、ていねいにおさえるようにしてください。</li>
									<li class="detail-col_li">お化粧なおしのときは、ティッシュペーパーなどで汗やあぶらうきをおさえてから、パフに少量ずつとってお使いください。
									</li>
								</ul>
							</div>
						</div>
						<div class="detail-col__block js-accordion">
							<div class="detail-col__btn js-accordion-btn hover-alpha">
								<h4 class="detail-alltitle">配合成分</h4>
							</div>
							<div class="detail-col__mask js-accordion-contents">
								<div>
									<div class="detail-col__block">
										<div class="detail-col__flex">
											<div class="detail-col__poit detail-col__area__01">
												<div class="detail-col__area">
													<dl class="detail-col__dl w-max">
														<dt class="detail-col__dt">透明感・つや・明るさ仕上がり持続成分</dt>
														<dd class="detail-col__dd">＊ソフトリフレクトパウダー ＊ブライトアップパウダー ＊ルーセントグロウパウダーN ＊グロウルビーパウダー ＊グロウクラリファイパウダー</dd>
													</dl>
													<dl class="detail-col__dl w-min">
														<dt class="detail-col__dt">血色感演出成分</dt>
														<dd class="detail-col__dd">＊ライブリーピンクパウダー</dd>
													</dl>
													
												</div>
											</div>
											<div class="detail-col__poit detail-col__area__02">
												<div class="detail-col__area">
													<dl class="detail-col__dl w-min">
														<dt class="detail-col__dt">くすみ・色ムラ・小ジワカバ一成分</dt>
														<dd class="detail-col__dd">＊美肌パウダー　＊小ジワカバーパウダー</dd>
													</dl>
													<dl class="detail-col__dl w-max">
														<dt class="detail-col__dt">しっとり感・やわらかさ演出成分</dt>
														<dd class="detail-col__dd">＊セラミドコーティングパウダー　＊もち肌パウダー　＊アミノ酸パウダー　＊植物性パウダー〔セルロース〕</dd>
													</dl>
												</div>
											</div>
											<div class="detail-col__poit detail-col__poit__100per">
												<div class="detail-col__area">
													<dl class="detail-col__dl w-full">
														<dt class="detail-col__dt">植物性保湿成分</dt>
														<dd class="detail-col__dd">＊ローズエキス〔ダマスクバラ花エキス〕　＊植物性スクワラン</dd>
													</dl>
												</div>
											</div>
										</div>
									</div>
									<p class="detail-col__text">
										ライブリーピンクパウダーはマイカ・酸化チタン・酸化スズ、ソフトリフレクトパウダーはマイカ・酸化チタン、ブライトアップパウダーはホウケイ酸（Ca ／ Al）、ルーセントグロウパウダーN はオキシ塩化ビスマス・窒化ホウ素、グロウルビーパウダーはルビー末、グロウクラリファイパウダーはナイロン－12、美肌パウダーは合成フルオロフロゴパイト、小ジワカバーパウダーはシリカ、セラミドコーティングパウダーはタルク・セラミドNG、もち肌パウダーは（ビニルジメチコン／メチコンシルセスキオキサン）クロスポリマー、アミノ酸パウダーはラウロイルリシンです。
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>





			<div class="sec-wrap">
				<div class="motion-box">
					<div class="detail-product">
						<div class="detail-product__col">
							<div class="detail-product__box">
								<p class="detail-product__day">2024年11月16日発売　限定品</p>
								<h3 class="detail-product__title">インフィニティ　<br class="sp">ロイヤルフラワーコレクション XⅢ<br>ブライトグロウ ルージュ</h3>
								<ul class="detail-product__ul">
									<li class="detail-product__li dot-none">3.5g 全2色</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="detail-set motion-box">
					<h3 class="detail-alltitle">カラー</h3>
					<ul class="detail-set__ul detail-set__ul--color">
						<li class="detail-set__li detail-set__li_02">
							<p class="detail-set__ph">
								<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/detaile_rip_001.png" alt="">
							</p>
							<h4 class="detail-set__title">01 CLASSY PINK</h4>
							<p class="detail-set__text">血色感をあたえ肌を明るく導く上品ピンク</p>
						</li>
						<li class="detail-set__li detail-set__li_02">
							<p class="detail-set__ph">
								<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/detaile_rip_002.png" alt="">
							</p>
							<h4 class="detail-set__title">02 CLASSY ROSE</h4>
							<p class="detail-set__text">美発色で顔色を華やかに魅せる上品ローズ</p>
						</li>
					</ul>
					<hr class="about-set__hr">
					<h3 class="detail-alltitle">商品特長</h3>
					<div class="detail-col__wrap">
						<div class="detail-col__ul">
							<div class="detail-col_li">
								清涼感のある心地よいタッチでうるおいをあたえ、上質な血色感とつやのある、気品に満ちた唇を叶える美発色ルージュ。リッチな美容成分が唇をうるおいで満たし、あれ・乾燥を防いで、ふっくらとしたハリのある唇に。ひと塗りで、表情まで明るく輝かせます。
							</div>
							<div id="product2" class="text-mask">
								<div class="text-mask__contents">
									<div class="detail-col_li">
										唇と表情を明るく彩るインテンシブレッドピグメントを新配合。赤色顔料を細かく分散させるコーセー独自の高分散処理により、鮮やかな美発色を実現。血色感を補い、顔色を美しく健やかに魅せます。</div>
									<div class="detail-col_li">
										つや高い高屈折率のオイルを配合することで、唇に上質なつやをあたえ、気品のある印象に導きます。
									</div>
									<div class="detail-col_li">高い密着感と化粧もち効果を叶える高粘度のオイルを配合。<br>ぴったりと密着感のある仕上がりで、鮮やかな発色が長時間続き、健やかな印象を叶えます。
									</div>
									<div class="detail-col_li">バニリルブチルとメントールを配合。ずっとつけていたくなるほどの心地よい清涼感をあたえます。</div>
									<div class="detail-col_li">うるおいのヴェールで包み込み、しっとりとした唇をたもちます。</div>
									<div class="detail-col_li">心まで華やぐライブリーローズフローラルの香りです。</div>
								</div>
							</div>
							<button class="page-btn page-btn_textMask hover-alpha" data-jump="product2">
								<span class="page-btn_textMask__text">Read More</span>
							</button>
						</div>
						<div class="detail-col__block js-accordion">
							<div class="detail-col__btn js-accordion-btn hover-alpha">
								<h4 class="detail-alltitle">使用方法</h4>
							</div>
							<div class="detail-col__mask js-accordion-contents">
								<ul class="detail-col__ul detail-col__use">
									<li class="detail-col_li">とてもやわらかいため、2mmくらいくり出し、軽くすべらせるようにお使いください。
										<br>
										※強い力で塗布したり、出しすぎたりすると、折れ・くずれの原因になります。
										<br>
										※清涼感が苦手なかたや、肌の弱いかたはご使用をお控えください。
									</li>
								</ul>
							</div>
						</div>
						<div class="detail-col__block js-accordion">
							<div class="detail-col__btn js-accordion-btn hover-alpha">
								<h4 class="detail-alltitle">配合成分</h4>
							</div>
							<div class="detail-col__mask js-accordion-contents">
								<div>
									<div class="detail-col__flex detail-col__none">
										<div class="detail-col__area">
											<dl class="detail-col__dl w-full">
												<dt class="detail-col__dt">血色感演出成分</dt>
												<dd class="detail-col__dd">＊インテンシブレッドピグメント</dd>
											</dl>
										</div>
										<div class="detail-col__area">
											<dl class="detail-col__dl w-full">
												<dt class="detail-col__dt">美容成分</dt>
												<dd class="detail-col__dd">＊ローズヒップオイル〔カニナバラ果実油〕　＊トコフェロール　＊トコトリエノール　＊γオリザノール　＊ヒアルロン酸　＊植物性スクワラン（保湿）</dd>
											</dl>
										</div>
										<div class="detail-col__area">
											<dl class="detail-col__dl w-full">
												<dt class="detail-col__dt">心地よい清涼感成分</dt>
												<dd class="detail-col__dd">＊バニリルブチル　＊メントール<br>インテンシブレッドピグメントはトリイソステアリン酸ポリグリセリル－2・赤202です。</dd>
											</dl>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="sec-online detail">
			<div class="detail-set">
				<h2 class="sec-online__title text-vollkorn">ONLINE SHOP</h2>
				<p class="sec-online__text">下記オンラインショップでもお求めいただけます。</p>
				<ul class="sec-online__ul">
					<li>
						<a href="https://maison.kose.co.jp/site/infinity/c/c04/" target="_blank">
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/online_logo_001.png"
								alt="maisonkose">
						</a>
					</li>
					<li>
						<a href="https://aeonretail.com/list/infinity" target="_blank">
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/online_logo_002.png" alt="aeon">
						</a>
					</li>
					<li>
						<a href="https://iyec.omni7.jp/basic/10400?intpr=iy_frmng_top_headnav_cate" target="_blank">
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/online_logo_003.png" alt="omni7">
						</a>
					</li>
					<li>
						<a href="https://www.e-welcia.com/products/list.php?category_id=54200" target="_blank">
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/online_logo_004.png"
								alt="welcia">
						</a>
					</li>
				</ul>
				<p class="sec-online__note">ここから先は外部サイトへ移動します。価格やサービス内容については、外部サイトの利用規約に従うもので、当社は一切責任を負いません。</p>
			</div>
		</section>
		<section id="oneoflove" class="oneoflove">
			<div class="point-box pc">
				<img class="motion-box point-side point-box__03__left--01"
					src="/infinity/resources/images/rfc2025/flowerside/pc/add_003_left_01.png" alt="">
			</div>
			<div id="movie" class="sec-wrap">
				<div class="oneoflove-box motion-box">
					<h2 class="oneoflove-title">One of Loveプロジェクト</h2>
					<div class="oneoflove-block">
						<div class="oneoflove-logo">
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/oneoflove_logo.png"
								alt="One of Love">
						</div>
						<div class="oneoflove-col">
							<p class="oneoflove-text">
								音楽とバラで、途上国の子どもの教育環境、そしてその母親でもある働く女性たちの雇用整備の向上を目指す支援活動です。継続的に途上国を支援し、子どもの健全な教育と地域の振興を支えていきたいと考えています。また、労働者が誇りを持って仕事に従事出来るよう、生活基盤の向上を目指します。夏木マリさんが中心となって推進するこのプロジェクトに、2021年からコーセーも賛同しています。
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
<div class="modal-lineup">
	<div class="modal-lineup__base">
		<div class="modal-g carousel-lineup">
			<button class="modal-lineup__close">
				<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/btn_close.png" alt="CLOSE" />
			</button>
			<button class="modal-lineup__left carousel-ui__prev">
				<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/arrow_left.png" alt="←" />
			</button>
			<button class="modal-lineup__right carousel-ui__next">
				<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/arrow_right.png" alt="→" />
			</button>
			<div class="modal-block">
				<div class="modal-cat">
					<ul class="carousel-main">
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2024_001.jpg" alt="">
							<p class="modal-caption">&lt;2023年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2024_002.jpg" alt="">
							<p class="modal-caption">&lt;2023年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2024_003.jpg" alt="">
							<p class="modal-caption">&lt;2023年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2024_004.jpg" alt="">
							<p class="modal-caption">&lt;2023年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2024_005.jpg" alt="">
							<p class="modal-caption">&lt;2023年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2024_006.jpg" alt="">
							<p class="modal-caption">&lt;2023年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2024_007.jpg" alt="">
							<p class="modal-caption">&lt;2023年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2024_008.jpg" alt="">
							<p class="modal-caption">&lt;2023年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2024_009.jpg" alt="">
							<p class="modal-caption">&lt;2023年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2024_010.jpg" alt="">
							<p class="modal-caption">&lt;2023年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2024_011.jpg" alt="">
							<p class="modal-caption">&lt;2023年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2024_012.jpg" alt="">
							<p class="modal-caption">&lt;2023年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2023/modal/modal_2023_001.jpg" alt="">
							<p class="modal-caption">&lt;2022年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2023/modal/modal_2023_002.jpg" alt="">
							<p class="modal-caption">&lt;2022年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2023/modal/modal_2023_011.jpg" alt="">
							<p class="modal-caption">&lt;2022年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2023/modal/modal_2023_005.jpg" alt="">
							<p class="modal-caption">&lt;2022年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2023/modal/modal_2023_006.jpg" alt="">
							<p class="modal-caption">&lt;2022年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2023/modal/modal_013.jpg" alt="">
							<p class="modal-caption">&lt;2021年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2023/modal/modal_003.jpg" alt="">
							<p class="modal-caption">&lt;2021年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2023/modal/modal_2023_008.jpg" alt="">
							<p class="modal-caption">&lt;2022年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2023/modal/modal_2023_010.jpg" alt="">
							<p class="modal-caption">&lt;2022年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2023/modal/modal_2023_003.jpg" alt="">
							<p class="modal-caption">&lt;2022年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2023/modal/modal_015.jpg" alt="">
							<p class="modal-caption">&lt;2021年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2023/modal/modal_2023_009.jpg" alt="">
							<p class="modal-caption">&lt;2022年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2023/modal/modal_001.jpg" alt="">
							<p class="modal-caption">&lt;2021年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2023/modal/modal_002.jpg" alt="">
							<p class="modal-caption">&lt;2021年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2023/modal/modal_2023_012.jpg" alt="">
							<p class="modal-caption">&lt;2022年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2023/modal/modal_016.jpg" alt="">
							<p class="modal-caption">&lt;2021年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2023/modal/modal_005.jpg" alt="">
							<p class="modal-caption">&lt;2021年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2023/modal/modal_006.jpg" alt="">
							<p class="modal-caption">&lt;2021年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2023/modal/modal_007.jpg" alt="">
							<p class="modal-caption">&lt;2021年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2023/modal/modal_011.jpg" alt="">
							<p class="modal-caption">&lt;2021年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2023/modal/modal_009.jpg" alt="">
							<p class="modal-caption">&lt;2021年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2023/modal/modal_019.jpg" alt="">
							<p class="modal-caption">&lt;2021年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2023/modal/modal_008.jpg" alt="">
							<p class="modal-caption">&lt;2021年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2023/modal/modal_012.jpg" alt="">
							<p class="modal-caption">&lt;2021年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2023/modal/modal_2023_004.jpg" alt="">
							<p class="modal-caption">&lt;2022年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2023/modal/modal_017.jpg" alt="">
							<p class="modal-caption">&lt;2021年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2023/modal/modal_2023_007.jpg" alt="">
							<p class="modal-caption">&lt;2022年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2023/modal/modal_004.jpg" alt="">
							<p class="modal-caption">&lt;2021年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2023/modal/modal_014.jpg" alt="">
							<p class="modal-caption">&lt;2021年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2023/modal/modal_018.jpg" alt="">
							<p class="modal-caption">&lt;2021年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2023/modal/modal_010.jpg" alt="">
							<p class="modal-caption">&lt;2021年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2023/modal/modal_020.jpg" alt="">
							<p class="modal-caption">&lt;2021年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2023/modal/modal_021.jpg" alt="">
							<p class="modal-caption">&lt;2021年&gt;</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-lineup__bg"></div>
</div>
{%- endblock -%}