{%- set pageCategory = "cat-rfc2025" -%}
{%- set cssFile = "rfc2025.css" -%}
{%- set jsFile = "rfc2025.js" -%}
{%- set cssTimeStamp = "?v=20210912" -%}
{%- set jsTimeStamp = "?v=20210912" -%}
{%- set pageTitle = "ロイヤルフラワーコレクション XIII コンパクトパウダー" -%}
{%- set pageDescription = "力強く花開くアフリカンローズに共鳴し、誕生したロイヤルフラワーコレクションXIII。対象商品の売上を通じて、アフリカのバラ農園で働く女性を応援します。" -%}
{%- set noKeyword = "true" -%}
{%- set pageOgFile = "resources/images/rfc2025/og.jpg" -%}
{%- set isOG = "true" -%}
{%- block option_js -%}
<script src="https://players.brightcove.net/6034685923001/default_default/index.min.js"></script>
{%- endblock -%}

{%- extends "_layout/_base.njk" -%}

{%- block content_main -%}

<div class="wrap">
	<div class="modal">
		<div class="modal-bg"></div>
		<div class="modal-wrap">
			<div class="modal-box">
				<button class="modal-btn__close modal-close">
					<img class="w-100" src="/infinity/resources/images/cm_2019/btn_close.png" alt="CLOSE">
				</button>
				<div class="modal-layer"></div>
			</div>
		</div>
	</div>
	<section id="mv" class="mv">
		<div class="mv-box">
			<div class="loop_wrap"></div>
		</div>
		<div class="mv-arrow">
			<picture>
				<source srcset="/infinity/resources/images/rfc2025/sp/arrow_scrolldown.png" media="(max-width: 640px)">
				<img class="w-100" src="/infinity/resources/images/rfc2025/arrow_scrolldown.png" alt="">
			</picture>
		</div>
		<a href="" class="mv-banner pc btn-anker">
			<img class="w-cover" src="/infinity/resources/images/rfc2025/mv-banner.jpg" alt="インフィニティインフィニティロイヤルフラワーコレクション XIV" width="280" height="300">
		</a>
	</section>
	<div class="bg">
		<h1 class="title">
			<picture>
				<source srcset="/infinity/resources/images/rfc2025/sp/kv_logo.png"
					media="(max-width: 640px)" width="520" height="443">
					<img class="w-cover" src="/infinity/resources/images/rfc2025/kv_logo.png" alt="Share the Bloom 美しさは力になる。 咲かせよう、可能性の花。"  width="1018" height="500">
			</picture>
		</h1>
		<p class="description pc">
			インフィニティ ロイヤルフラワーコレクションは<br class="sp">「One of Love プロジェクト」とともに、<br>
			アフリカのバラ農園で働く人々の支援を行っています。<br>
			その一環で、<br class="sp">お客さまにご購入いただいた対象商品1点につき、<br>
			再利用可能な生理用品1枚を、<br class="sp">エチオピアのバラ農園で働く女性にお届けしております。
		</p>
		<a href="" class="banner sp btn-anker">
			<img class="w-cover" src="/infinity/resources/images/rfc2025/sp/mv-banner.jpg" alt="インフィニティインフィニティロイヤルフラワーコレクション XIV" width="480" height="220">
		</a>
		<p class="description sp">
			インフィニティ ロイヤルフラワーコレクションは<br class="sp">「One of Love プロジェクト」とともに、<br>
			アフリカのバラ農園で働く人々の支援を行っています。<br>
			その一環で、<br class="sp">お客さまにご購入いただいた対象商品1点につき、<br>
			再利用可能な生理用品1枚を、<br class="sp">エチオピアのバラ農園で働く女性にお届けしております。
		</p>
		<section id="about" class="about">
			<div class="sec-wrap">
				<div class="wrap-retative is-01">
					<div class="about-product">
						<div class="about-product__ph motion-box">
							<picture>
								<source srcset="/infinity/resources/images/rfc2025/sp/about_product.png" media="(max-width: 640px)" width="560" height="450" />
								<img loading="lazy" class="w-cover" src="/infinity/resources/images/rfc2025/about_product.png" alt="Share the Bloom キャンペーン" width="600" height="477">
							</picture>
						</div>
						<div class="about-product__panel motion-box">
							<div class="about-product__panel--box">
								<h2 class="about-product__title">Share the Bloom キャンペーン</h2>
								<h3 class="about-product__lead is-01">&lt;対象期間&gt;</h3>
								<p class="about-product__text text-center en">2025年11月16日（日）<span class="about-product__text--space">～</span> 2025年12月31日（水）</p>
								<h3 class="about-product__lead is-02">&lt;内容&gt;</h3>
								<p class="about-product__text en">
									お客さまにご購入いただいた対象商品1点につき、<br class="pc">再利用可能な生理用品1枚を、エチオピアのバラ農<br class="pc">園で働く女性にお届けします。
									<br><span class="about-product__text--note">※お一人につき複数枚のお渡しを予定しております。</span>
								</p>
								<h3 class="about-product__lead is-03">&lt;対象商品&gt;</h3>
								<p class="about-product__text">2025年11月16日限定発売</p>
								<p class="about-product__text en space">
									インフィニティ ロイヤルフラワーコレクション XIV <br>セラムイン パウダー
									<small>・9g×1個(レフィル)</small>
									<small>・9g×2個(レフィル・替えパフ付き)</small>
								</p>
								<p class="about-product__text about-product__text--mt-1-5em en space">
									インフィニティ ロイヤルフラワーコレクション XIV <br>セラムルージュ
									<small>・3.5g 全2色</small>
								</p>
								<a href="" class="about-product__btn btn-anker">
									<span>商品詳細はこちら</span>
									<i></i>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="about-report">
					<div class="about-report__inner">
						<div class="about-report__contents">
							<div class="about-report__block">
								<h2 class="about-report__title text-alin-center">活動報告</h2>
								<p class="about-report__lead text-alin-center">累計活動実績をご報告します。</p>
								<div class="about-report__box">
									<dl class="about-report__dl">
										<dt class="about-report__dt">累計配布枚数</dt>
										<dd class="about-report__dd"><span>約</span>120,000<span>枚</span></dd>
										<p class="c-label about-report__label">今後変更可能性あり</p>
									</dl>
									<dl class="about-report__dl none-bar">
										<dt class="about-report__dt">累計配布人数</dt>
										<dd class="about-report__dd"><span>約</span>13,800<span>名</span></dd>
										<p class="c-label about-report__label">今後変更可能性あり</p>
									</dl>
								</div>
								<p class="about-report__text">４年間で、累計約120,000枚の生理用品を<br>約13,800名の方にお渡しすることができました</p>
								<p class="c-label about-report__label is-03">今後変更可能性あり</p>
							</div>
						</div>
						<div class="about-report__ph">
							<picture>
								<source srcset="/infinity/resources/images/rfc2025/sp/report_ph.jpg" media="(max-width: 640px)" width="640" height="485" />
								<img loading="lazy" class="w-cover" src="/infinity/resources/images/rfc2025/report_ph.jpg" alt="活動報告" width="686" height="491">
							</picture>
						</div>
					</div>
				</div>
				<div class="about-video">
					<div class="about-video__inner">
						<picture>
							<source srcset="/infinity/resources/images/rfc2025/sp/about_video.jpg" media="(max-width: 640px)" width="560" height="381" />
							<img loading="lazy" class="w-cover" src="/infinity/resources/images/rfc2025/about_video.jpg" alt="" width="1440" height="593">
						</picture>
					</div>
				</div>
				<div class="about-ethiopia is-01">
					<div class="point-box sp">
						<img class="motion-box point-side point-box__w100 point-box__02" src="/infinity/resources/images/rfc2025/flowerside/sp/add_g_01.png" alt="">
					</div>
					<h2 class="section-title">「美しさは力になる。<br class="sp">咲かせよう、可能性の花」</h2>
					<div class="about-ethiopia__new">
						<div class="about-ethiopia__flex">
							<div class="about-ethiopia__col about-ethiopia__text">
								<h3 class="about-ethiopia__title color-text-red">活動概要</h3>
								<p class="section-text">
									「美しさは力になる。咲かせよう、可能性の花。」をメッセージに掲げている「Share the Bloom」キャンペーン。
								</p>
								<p class="section-text">発展途上国の女性や子どもの生活環境を改善する「One of Loveプロジェクト」（事務局：一般社団法人 One
									of Loveプロジェクト）に賛同し、2021年から「Share the Bloom」<span><br
											class="pc"></span>キャンペーンを実施しています。</p>
								<p class="section-text">
									アフリカ北東部に位置する国、<br class="pc">エチオピアの女性たちに生理用品を寄付。<br>世界を自由に、美しくする取り組みを進めています。
								</p>
							</div>
							<div class="about-ethiopia__map motion-box">
								<div class="img-map">
									<img loading="lazy" class="w-cover" src="/infinity/resources/images/rfc2025/place_map.png"
										alt="アフリカ地図" width="703" height="665">
								</div>
							</div>
						</div>

						<div class="about-ethiopia__flex flex-reverse">
							<div class="about-ethiopia__col about-ethiopia__text">
								<h3 class="about-ethiopia__title color-text-red">2024年の活動内容</h3>
								<div class="about-ethiopia__box is-01">
									<dl class="about-ethiopia__dl">
										<dt class="about-ethiopia__dt">配布枚数</dt>
										<dd class="about-ethiopia__dd"><span>約</span>48,000<span>枚</span></dd>
										<p class="c-label about-ethiopia__label is-01">今後変更可能性あり</p>
									</dl>
									<dl class="about-ethiopia__dl none-bar">
										<dt class="about-ethiopia__dt">配布人数</dt>
										<dd class="about-ethiopia__dd"><span>約</span>6,000<span>名</span></dd>
										<p class="c-label about-ethiopia__label is-02">今後変更可能性あり</p>
									</dl>
								</div>
								<p class="section-text is-01">
									1人あたり8枚ずつ計48,000枚を、約6,000名にお届けしました。
									<span class="c-label about-ethiopia__label is-03">今後変更可能性あり</span>
								</p>
								<hr class="about-ethiopia__hr is-01">
								<h3 class="about-ethiopia__title color-text-red">2023年の活動内容</h3>
								<div class="about-ethiopia__box">
									<dl class="about-ethiopia__dl">
										<dt class="about-ethiopia__dt">配布枚数</dt>
										<dd class="about-ethiopia__dd"><span>約</span>32,000<span>枚</span>
										</dd>
									</dl>
									<dl class="about-ethiopia__dl none-bar">
										<dt class="about-ethiopia__dt">配布人数</dt>
										<dd class="about-ethiopia__dd"><span>約</span>4,000<span>名</span>
										</dd>
									</dl>
								</div>
								<p class="section-text is-02">
									約32,000枚を4,000名以上の女性にお届けしました。
								</p>
								<hr class="about-ethiopia__hr is-02">
								<h3 class="about-ethiopia__title color-text-red">2022年の活動内容</h3>
								<div class="about-ethiopia__box">
									<dl class="about-ethiopia__dl">
										<dt class="about-ethiopia__dt">配布枚数</dt>
										<dd class="about-ethiopia__dd"><span>約</span>20,000<span>枚</span>
										</dd>
									</dl>
									<dl class="about-ethiopia__dl none-bar">
										<dt class="about-ethiopia__dt">配布人数</dt>
										<dd class="about-ethiopia__dd"><span>約</span>2,500<span>名</span>
										</dd>
									</dl>
								</div>
								<p class="section-text is-03">
									現地のお声を聞き、2021年度よりも1人あたりの配布枚数を減らし、1人でも多くの方へ配布しました。
								</p>
								<hr class="about-ethiopia__hr is-03">
								<h3 class="about-ethiopia__title color-text-red">2021年の活動内容</h3>
								<div class="about-ethiopia__box">
									<dl class="about-ethiopia__dl">
										<dt class="about-ethiopia__dt">配布枚数</dt>
										<dd class="about-ethiopia__dd"><span>約</span>20,000<span>枚</span>
										</dd>
									</dl>
									<dl class="about-ethiopia__dl none-bar">
										<dt class="about-ethiopia__dt">配布人数</dt>
										<dd class="about-ethiopia__dd"><span>約</span>1,300<span>名</span>
										</dd>
									</dl>
								</div>
								<p class="section-text">
									第1回「Share the Bloom」キャンペーン開始。
								</p>
							</div>
							<div class="about-ethiopia__map magin-t motion-box">
								<div class="img-map2">
									<img loading="lazy" class="w-cover" src="/infinity/resources/images/rfc2025/place_map_e.png"
										alt="エチオピア地図">
								</div>
								<hr class="about-ethiopia__hr sp">
							</div>
						</div>
					</div>
				</div>

				<div class="about-sdgs">
					<div class="about-sdgs__inner motion-box">
						<p class="about-lead">
							わたしたちは、国連が定める持続可能な<br class="sp">開発目標（SDGs）を支援しています。
							</p>
						<p class="about-ph">
							<img loading="lazy" class="w-cover" src="/infinity/resources/images/rfc2025/about_sdgs.png" alt="SDGs" width="585" height="135">
						</p>
						<p class="about-text">
							17の目標のうち、特に「目標3: すべての人に健康と福祉を」
							<br>「目標5: ジェンダー平等を実現しよう」の<span><br class="sp"></span>達成に向けて、貢献していきます。
						</p>
					</div>
				</div>

				<div class="place">
					<div class="bg-place"></div>
				</div>
				<div class="wrap-retative is-02">
					<div class="about-col motion-box">
						<h2 class="section-title">いまだ、世界の最貧国の<span><br class="sp"></span>一つとされるエチオピア。</h2>
						<div class="about-ethiopia is-02">
							<div class="about-ethiopia__block">
								<div class="about-ethiopia__col">
									<p class="section-text margin-t2em padding-l50">「アフリカの角」と呼ばれる<br class="pc">アフリカ大陸の北東部に位置するエチオピア。
										<br class="pc">アフリカ最古の独立国といわれる歴史を持ち、<br class="pc">日本の約3倍の大地が広がる大国です。
										<br class="pc">しかし近年高い成長率を記録しながらも、<br class="pc">衛生事情も未発達で、いまだ世界の最貧国の一つ。
										<br class="pc">干ばつによる飢饉や長引く内戦に加え、<br class="pc">約 1,020 万人<sup>※</sup>が緊急食糧援助を<br class="pc">必要とすると国連が発表するなど、
										<br class="pc">貧困解決の道のりにはさまざまな課題が待ち受けています。
										<br><a href="https://ja.wfp.org/emergencies/ethiopia-emergency" target="_blank">※エチオピア緊急支援より</a>
									</p>
								</div>
								<div class="about-ethiopia__img">
									<img loading="lazy" class="w-cover motion-box" src="/infinity/resources/images/rfc2025/ph_map.png"
										alt="エチオピア" width="640" height="496">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card-photo js-Parallax">
					<p class="card-photo__text">未来を切り拓く新しい力、アフリカンローズ。</p>
					<div class="card-photo__ph js-parallax-obj">
						<div class="photo--01">
							<picture>
								<source srcset="/infinity/resources/images/rfc2025/sp/pa_ph_01.jpg"
									media="(max-width: 640px)">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/pa_ph_01.jpg" alt="">
							</picture>
							
						</div>
						<div class="photo--02">
							<picture>
								<source srcset="/infinity/resources/images/rfc2025/sp/pa_ph_02.jpg"
									media="(max-width: 640px)">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/pa_ph_02.jpg" alt="">
							</picture>
						</div>
						<div class="photo--03">
							<picture>
								<source srcset="/infinity/resources/images/rfc2025/sp/pa_ph_03.jpg"
									media="(max-width: 640px)">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/pa_ph_03.jpg" alt="">
							</picture>
						</div>
						<div class="photo--04">
							<picture>
								<source srcset="/infinity/resources/images/rfc2025/sp/pa_ph_04.jpg"
									media="(max-width: 640px)">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/pa_ph_04.jpg" alt="">
							</picture>
						</div>
						
					</div>
				</div>
			</div>
		</section>
		<section id="gallery" class="gallery">
			<div class="sec-wrap">
				<div class="gallery-col motion-box">
					<h2 class="section-title">未来を切り拓く新しい力、<span><br class="sp"></span>アフリカンローズ。</h2>
					<p class="section-text width-per100">
						日照時間が長く、昼夜の温度差があり、年間を通じて日中の気温が20度前後の気象条件。「赤道に近い高地」<br class="pc">
						であるエチオピアは、バラの栽培に最適といわれています。美しく咲くバラは、ヨーロッパや中東、日本などのアジアへ。主産業であるコーヒーに続く輸出品目として期待されています。また、女性たちにバラ農園で働くという雇用を生み出し、所得向上につなげることで、生活環境の改善を実現する新しい力でもあるのです。
					</p>
				</div>
				<div class="gallery-box motion-box">
					<h2 class="section-title section-title__s">フォトギャラリー</h2>
					<ul class="gallery-ul">
						<li class="gallery-li" data-id="1">
							<a class="gallery-link hover-scale" href="">
								<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_001.jpg"
									alt="">
							</a>
						</li>
						<li class="gallery-li" data-id="2">
							<a class="gallery-link hover-scale" href="">
								<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_002.jpg"
									alt="">
							</a>
						</li>
						<li class="gallery-li" data-id="3">
							<a class="gallery-link hover-scale" href="">
								<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_003.jpg"
									alt="">
							</a>
						</li>
						<li class="gallery-li" data-id="4">
							<a class="gallery-link hover-scale" href="">
								<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_004.jpg"
									alt="">
							</a>
						</li>
						<li class="gallery-li" data-id="5">
							<a class="gallery-link hover-scale" href="">
								<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_005.jpg"
									alt="">
							</a>
						</li>
						<li class="gallery-li" data-id="6">
							<a class="gallery-link hover-scale" href="">
								<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_006.jpg"
									alt="">
							</a>
						</li>
						<li class="gallery-li" data-id="7">
							<a class="gallery-link hover-scale" href="">
								<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_007.jpg"
									alt="">
							</a>
						</li>
						<li class="gallery-li" data-id="8">
							<a class="gallery-link hover-scale" href="">
								<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_008.jpg"
									alt="">
							</a>
						</li>
						<li class="gallery-li pc" data-id="9">
							<a class="gallery-link hover-scale" href="">
								<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_009.jpg"
									alt="">
							</a>
						</li>
					</ul>
					<button class="page-btn gallery-btn hover-alpha">
						<span class="page-btn__text">さらに読み込む</span>
					</button>
					<div class="gallery-mask">
						<ul class="gallery-ul gallery-ul_02">
							<li class="gallery-li sp" data-id="9">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_009.jpg"
										alt="">
								</a>
							</li>
							<li class="gallery-li sp" data-id="10">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_010.jpg"
										alt="">
								</a>
							</li>
							<li class="gallery-li pc" data-id="10">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_010.jpg"
										alt="">
								</a>
							</li>
							<li class="gallery-li" data-id="11">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_011.jpg"
										alt="">
								</a>
							</li>
							<li class="gallery-li" data-id="12">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_012.jpg"
										alt="">
								</a>
							</li>
							<li class="gallery-li" data-id="13">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_013.jpg"
										alt="">
								</a>
							</li>
							<li class="gallery-li" data-id="14">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_014.jpg"
										alt="">
								</a>
							</li>
							<li class="gallery-li" data-id="15">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_015.jpg"
										alt="">
								</a>
							</li>
							<li class="gallery-li" data-id="16">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_016.jpg"
										alt="">
								</a>
							</li>
							<li class="gallery-li" data-id="17">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_017.jpg"
										alt="">
								</a>
							</li>
							<li class="gallery-li" data-id="18">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_018.jpg"
										alt="">
								</a>
							</li>
							<li class="gallery-li" data-id="19">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_019.jpg"
										alt="">
								</a>
							</li>
							<li class="gallery-li" data-id="20">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_020.jpg"
										alt="">
								</a>
							</li>
							<li class="gallery-li" data-id="21">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_021.jpg"
										alt="">
								</a>
							</li>
							<li class="gallery-li" data-id="22">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_022.jpg"
										alt="">
								</a>
							</li>
							<li class="gallery-li" data-id="23">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_023.jpg"
										alt="">
								</a>
							</li>
							<li class="gallery-li" data-id="24">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_024.jpg"
										alt="">
								</a>
							</li>
							<li class="gallery-li" data-id="25">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_025.jpg"
										alt="">
								</a>
							</li>
							<li class="gallery-li" data-id="26">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_026.jpg"
										alt="">
								</a>
							</li>
							<li class="gallery-li" data-id="27">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_027.jpg"
										alt="">
								</a>
							</li>
							<li class="gallery-li" data-id="28">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_028.jpg"
										alt="">
								</a>
							</li>
							<li class="gallery-li" data-id="29">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_029.jpg"
										alt="">
								</a>
							</li>
							<li class="gallery-li" data-id="30">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_030.jpg"
										alt="">
								</a>
							</li>
							<li class="gallery-li" data-id="31">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_031.jpg"
										alt="">
								</a>
							</li>
							<li class="gallery-li" data-id="32">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_032.jpg"
										alt="">
								</a>
							</li>
							<li class="gallery-li" data-id="33">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_033.jpg"
										alt="">
								</a>
							</li>
							<li class="gallery-li" data-id="34">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_034.jpg"
										alt="">
								</a>
							</li>
							<li class="gallery-li" data-id="35">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_035.jpg"
										alt="">
								</a>
							</li>
							<li class="gallery-li" data-id="36">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_036.jpg"
										alt="">
								</a>
							</li>
							<li class="gallery-li" data-id="37">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_037.jpg"
										alt="">
								</a>
							</li>
							<li class="gallery-li" data-id="38">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_038.jpg"
										alt="">
								</a>
							</li>
							<li class="gallery-li" data-id="39">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_039.jpg"
										alt="">
								</a>
							</li>
							<li class="gallery-li" data-id="40">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_040.jpg"
										alt="">
								</a>
							</li>
							<li class="gallery-li" data-id="41">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_041.jpg"
										alt="">
								</a>
							</li>
							<li class="gallery-li" data-id="42">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_042.jpg"
										alt="">
								</a>
							</li>
							<li class="gallery-li" data-id="43">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_043.jpg"
										alt="">
								</a>
							</li>
							<li class="gallery-li" data-id="44">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_044.jpg"
										alt="">
								</a>
							</li>
							<li class="gallery-li" data-id="45">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_045.jpg"
										alt="">
								</a>
							</li>
							<li class="gallery-li" data-id="46">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_046.jpg"
										alt="">
								</a>
							</li>
							<li class="gallery-li" data-id="47">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_047.jpg"
										alt="">
								</a>
							</li>
							<li class="gallery-li" data-id="48">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_048.jpg"
										alt="">
								</a>
							</li>
							<li class="gallery-li" data-id="49">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_049.jpg"
										alt="">
								</a>
							</li>
							<li class="gallery-li" data-id="50">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_050.jpg"
										alt="">
								</a>
							</li>
							<li class="gallery-li" data-id="51">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_051.jpg"
										alt="">
								</a>
							</li>
							<li class="gallery-li" data-id="52">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_052.jpg"
										alt="">
								</a>
							</li>
							<li class="gallery-li" data-id="53">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_053.jpg"
										alt="">
								</a>
							</li>
							<li class="gallery-li" data-id="54">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_054.jpg"
										alt="">
								</a>
							</li>
							<li class="gallery-li" data-id="55">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_055.jpg"
										alt="">
								</a>
							</li>
							<li class="gallery-li" data-id="56">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_056.jpg"
										alt="">
								</a>
							</li>
							<li class="gallery-li" data-id="57">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_057.jpg"
										alt="">
								</a>
							</li>
							<li class="gallery-li" data-id="58">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_058.jpg"
										alt="">
								</a>
							</li>
							<li class="gallery-li" data-id="59">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_059.jpg"
										alt="">
								</a>
							</li>
							<li class="gallery-li" data-id="60">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_060.jpg"
										alt="">
								</a>
							</li>
							<li class="gallery-li" data-id="61">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_061.jpg"
										alt="">
								</a>
							</li>
							<li class="gallery-li" data-id="62">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_062.jpg"
										alt="">
								</a>
							</li>
							<li class="gallery-li" data-id="63">
								<a class="gallery-link hover-scale" href="">
									<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_063.jpg"
										alt="">
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<section id="detail" class="detail">
			<div class="sec-wrap is-01">
				<div class="detail-set motion-box">
					<div class="motion-box">
						<h2 class="section-title">商品情報</h2>
						<div class="detail-product">
							<div class="detail-product__col">
								<div class="detail-product__box">
									<p class="detail-product__day">2025年11月16日発売 限定品</p>
									<h3 class="detail-product__title">インフィニティ <br class="sp">ロイヤルフラワーコレクション XIV<br>セラムイン パウダー</h3>
									<ul class="detail-product__ul">
										<li class="detail-product__li">9g×1個(レフィル)　</li>
										<li class="detail-product__li">9g×2個(レフィル・替えパフ付き)</li>
									</ul>
									<div class="detail-product__image">
										<img loading="lazy" class="w-cover" src="/infinity/resources/images/rfc2025/detail_product.png" alt="インフィニティロイヤルフラワーコレクション XIVセラムイン パウダー" width="304" height="303">
									</div>
									<p class="detail-product__desc">
										保湿力にすぐれた美容液成分配合。<br class="sp">なめらかに溶け込み、<br class="pc">高貴なつや肌が<br class="sp">ひと撫でで叶うフェイスパウダー。
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="detail-set-first">
						<div class="detail-col__block js-accordion open">
							<div class="detail-col__btn is-01 js-accordion-btn hover-alpha">
								<h4 class="detail-alltitle">セット内容</h4>
							</div>
							<div class="detail-col__mask js-accordion-contents">
								<ul class="detail-set__ul">
									<li class="detail-set__li">
										<div class="detail-set__ph">
											<img loading="lazy" class="w-cover" src="/infinity/resources/images/rfc2025/detaile_set_001.png"
												alt="セラムイン パウダー" width="190" height="199">
										</div>
										<h4 class="detail-set__title">セラムイン パウダー</h4>
										<p class="detail-set__text">
											ライスパワー®No.7などを配合したセラムで粉体を包み込む新製法を採用。しっとりと溶け込み、美しいつや肌を演出します。 ローズを手にしたプレス模様には、“開花する可能性をシェアする”という想いが込められています。
										</p>
									</li>
									<li class="detail-set__li">
										<div class="detail-set__ph">
											<img loading="lazy" class="w-cover" src="/infinity/resources/images/rfc2025/detaile_set_002.png"
												alt="コンパクトケース" width="212" height="203">
										</div>
										<h4 class="detail-set__title">コンパクトケース</h4>
										<p class="detail-set__text">
											咲き誇るバラを抽象的に描き、手に取るお客様一人ひとりのインスピレーションを引き出すような、高揚感を感じ取っていただけるデザインにしました。
										</p>
									</li>
									<li class="detail-set__li">
										<div class="detail-set__ph">
											<img loading="lazy" class="w-cover" src="/infinity/resources/images/rfc2025/detaile_set_003.png"
												alt="パフ" width="179" height="182">
										</div>
										<h4 class="detail-set__title">パフ</h4>
										<p class="detail-set__text">
											ヒアルロン酸でコーティングした繊細な生地を採用。なめらかな肌あたりで、パウダーをふんわり均一にフィットさせます。
										</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<hr class="about-set__hr is-01">
					<h3 class="detail-alltitle">商品特長</h3>
					<div class="detail-col__wrap">
						<div class="detail-col__ul">
							<div class="detail-col_li">
								ロイヤルフラワーコレクション14周年のコンセプトは、“Royal Bloom”。<br>
  							しっとりとなめらかにのび広がり、上質なつや・透明感をあたえ、高貴な花のような美しさが咲き誇るフェイスパウダー。くすみ・色ムラ・小ジワなどの年齢サインをソフトフォーカスし、どこまでもキメ細やかで、内側から光が溢れるような凛とした表情を叶えます。
							</div>
							<div class="detail-col_li">
								ライスパワー®No.7などを配合したセラムで、すべての粉体を包み込む独自のセラムラッピング製法を採用。<br>日中の乾燥やテカリを防ぎながら、保湿感溢れるなめらかな仕上がりを演出します。
							</div>
							<div id="product1" class="text-mask">
								<div class="text-mask__contents">
									<div class="detail-col_li">
										上質なつや肌を演出するソフトリフレクトパウダーや、肌を明るくすこやかに魅せるブライトアップパウダーを配合。<br>光を味方につけ、ワントーン明るい、磨き上げたようなつや肌を叶えます。
									</div>
									<div class="detail-col_li">
										肌の色に関するコーセー独自の研究に基づき、ライブリーピンクパウダーを配合。ひと塗りで血色感をあたえ、どなたでもいきいきとした印象にみちびきます。
									</div>
									<div class="detail-col_li">
										余分な皮脂を吸収し、皮脂によるくすみやテカリも防ぎます。化粧もちを高め、つけたての美しさが持続します。
									</div>
									<div class="detail-col_li">
										SPF15/PA+　紫外線から肌をまもり、日やけによるシミ・ソバカスを防ぎます。
									</div>
									<div class="detail-col_li">
										心まで華やぐライブリーローズフローラルの香りです。
									</div>
								</div>
							</div>
							<button class="page-btn page-btn_textMask hover-alpha" data-jump="product1">
								<span class="page-btn_textMask__text">Read More</span>
							</button>
						</div>
						<div class="detail-col__block js-accordion">
							<div class="detail-col__btn is-02 js-accordion-btn hover-alpha">
								<h4 class="detail-alltitle">ご使用方法</h4>
							</div>
							<div class="detail-col__mask js-accordion-contents">
								<ul class="detail-col__ul detail-col__use">
									<li class="detail-col_li">
										ベースメイクアップの最後の仕上げや、外出先でのお化粧なおしにお使いください。
									</li>
									<li class="detail-col_li">
										パウダーの表面をやさしく円を描くようにして、パフに適量をとり、手の甲でつき具合をみてから、軽くすべらせるように肌にのばします。メイクアップのくずれやすい小鼻のまわりなどは、ていねいにおさえるようにしてください。
									</li>
									<li class="detail-col_li">
										お化粧なおしのときは、ティッシュペーパーなどで汗やあぶらうきをおさえてから、パフに少量ずつとってお使いください。
									</li>
								</ul>
							</div>
						</div>
						<div class="detail-col__block js-accordion">
							<div class="detail-col__btn is-03 js-accordion-btn hover-alpha">
								<h4 class="detail-alltitle">配合成分</h4>
							</div>
							<div class="detail-col__mask js-accordion-contents">
								<div>
									<div class="detail-col__block">
										<div class="detail-col__flex">
											<div class="detail-col__poit detail-col__poit__100per">
												<div class="detail-col__area">
													<dl class="detail-col__dl w-full">
														<dt class="detail-col__dt">保湿成分</dt>
														<dd class="detail-col__dd">
															＊ライスパワー®No.7  ＊スクワラン
														</dd>
													</dl>
												</div>
											</div>
											<div class="detail-col__poit detail-col__area__01">
												<div class="detail-col__area">
													<dl class="detail-col__dl w-max">
														<dt class="detail-col__dt">透明感・つや・明るさ仕上がり持続成分</dt>
														<dd class="detail-col__dd">
															＊ソフトリフレクトパウダー　＊ブライトアップパウダー　＊グロウクラリファイパウダー
														</dd>
													</dl>
													<dl class="detail-col__dl w-min">
														<dt class="detail-col__dt">血色感演出成分</dt>
														<dd class="detail-col__dd">
															＊ライブリーピンクパウダー
														</dd>
													</dl>
													
												</div>
											</div>
											<div class="detail-col__poit detail-col__area__02">
												<div class="detail-col__area">
													<dl class="detail-col__dl w-min">
														<dt class="detail-col__dt">くすみ・色ムラ・小ジワカバー成分</dt>
														<dd class="detail-col__dd">
															＊美肌パウダー　＊小ジワカバーパウダー
														</dd>
													</dl>
													<dl class="detail-col__dl w-max">
														<dt class="detail-col__dt">しっとり感・やわらかさ演出成分</dt>
														<dd class="detail-col__dd">
															＊セラミドコーティングパウダー　＊もち肌パウダー　＊アミノ酸パウダー
														</dd>
													</dl>
												</div>
											</div>
										</div>
									</div>
									<p class="detail-col__text">
										ライスパワー®No.7 はコメ発酵液、ソフトリフレクトパウダーはマイカ・酸化チタン、ブライトアップパウダーはホウケイ酸（Ca ／ Al）、グロウクラリファイパウダーはナイロン－12、ライブリーピンクパウダーはマイカ・酸化チタン・酸化スズ、美肌パウダーは合成フルオロフロゴパイト、小ジワカバーパウダーはシリカ、セラミドコーティングパウダーはタルク・セラミドNG、もち肌パウダーは（ビニルジメチコン／メチコンシルセスキオキサン）クロスポリマー、アミノ酸パウダーはラウロイルリシンです。
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="sec-wrap is-02">
				<div class="detail-set motion-box">
					<div class="motion-box">
						<div class="detail-product is-02">
							<div class="detail-product__col">
								<div class="detail-product__box">
									<p class="detail-product__day">2025年11月16日発売 限定品</p>
									<h3 class="detail-product__title">インフィニティ <br class="sp">ロイヤルフラワーコレクション XIV<br>セラムルージュ</h3>
									<ul class="detail-product__ul">
										<li class="detail-product__li dot-none">3.5g 全2色</li>
									</ul>
									<div class="detail-product__image is-02">
										<img loading="lazy" class="w-cover" src="/infinity/resources/images/rfc2025/detail_product_02.png" alt="インフィニティ ロイヤルフラワーコレクション XIVセラムルージュ" width="232" height="282">
									</div>
									<p class="detail-product__desc is-02">
										唇をケアしながら、彩り、まもりつづける<br class="sp">エイジングケア<span class="num">※1</span>ルージュから、<br class="pc">シックな<br class="sp">バラの色香を感じる限定色&限定デザイ<br class="sp">ンが登場。
									</p>
								</div>
							</div>
						</div>
					</div>
					<h3 class="detail-alltitle">カラー</h3>
					<ul class="detail-set__ul detail-set__ul--color">
						<li class="detail-set__li detail-set__li_02">
							<p class="detail-set__ph">
								<img loading="lazy" class="w-cover" src="/infinity/resources/images/rfc2025/detaile_rip_001.png" alt="BE340" width="324" height="258">
							</p>
							<h4 class="detail-set__title">BE340</h4>
							<p class="detail-set__text">顔色を明るくみちびくピンクベージュ</p>
						</li>
						<li class="detail-set__li detail-set__li_02">
							<p class="detail-set__ph">
								<img loading="lazy" class="w-cover" src="/infinity/resources/images/rfc2025/detaile_rip_002.png" alt="RO640" width="322" height="257">
							</p>
							<h4 class="detail-set__title">RO640</h4>
							<p class="detail-set__text">顔色を華やかに魅せるローズ<br><span class="small">★メインカラー</span></p>
						</li>
					</ul>
					<hr class="about-set__hr is-02">
					<h3 class="detail-alltitle">商品特長</h3>
					<div class="detail-col__wrap">
						<div class="detail-col__ul">
							<div class="detail-col_li">
								塗るほどに縦ジワの目立たない、ふっくらとした唇にみちびくセラムルージュから、ロイヤルフラワーコレクションの限定色が登場。<br>うるおいが際立ち、いきいきと弾むようなハリのある仕上がりで、口もとから明るい表情を叶えます。
							</div>
							<div class="detail-col_li">
								高濃度<span class="num">※2</span>アスタキサンチン配合。使うたびに縦ジワやあれをケアし、ふっくらとハリのあるすこやかな唇にみちびきます。
							</div>
							<div id="product2" class="text-mask">
								<div class="text-mask__contents">
									<div class="detail-col_li">
										唇の美容液に使われる2種のオイルを配合。水分の蒸発を防ぎ、長時間しっとり美しい唇をまもります。
									</div>
									<div class="detail-col_li">
										美容液のようにやわらかくコクのあるタッチでなめらかにのび広がり、唇に均一にフィットします。
									</div>
									<div class="detail-col_li">
										唇の表面をなめらかにととのえ、上品なつやと彩りで、肌を明るく見せます。
									</div>
									<div class="detail-col_li">
										使い終わったケースは、「インフィニティ　セラムルージュ《レフィル》（別売り）」をセットすることができます。
									</div>
									<div class="detail-col_li">
										フローラルウッディの香り（微香性）です。
									</div>
									<div class="detail-col_li is-note">※1 年齢に応じたお手入れ　<br class="sp">※2 ブランド内比</div>
								</div>
							</div>
							<button class="page-btn page-btn_textMask hover-alpha" data-jump="product2">
								<span class="page-btn_textMask__text">Read More</span>
							</button>
						</div>
						<div class="detail-col__block js-accordion">
							<div class="detail-col__btn js-accordion-btn hover-alpha">
								<h4 class="detail-alltitle">ご使用方法</h4>
							</div>
							<div class="detail-col__mask js-accordion-contents">
								<ul class="detail-col__ul detail-col__use">
									<li class="detail-col_li">
										とてもやわらかな口紅です。3mmく<br class="sp">らいくり出してお使いください。(出しすぎると折れることがあります。)
									</li>
								</ul>
							</div>
						</div>
						<div class="detail-col__block js-accordion">
							<div class="detail-col__btn js-accordion-btn hover-alpha">
								<h4 class="detail-alltitle">配合成分</h4>
							</div>
							<div class="detail-col__mask js-accordion-contents">
								<div>
									<div class="detail-col__flex detail-col__none">
										<div class="detail-col__area">
											<dl class="detail-col__dl w-full">
												<dt class="detail-col__dt">保湿成分</dt>
												<dd class="detail-col__dd">＊高濃度<span class="num">※2</span>アスタキサンチン　＊スクワラン　＊ワセリン</dd>
											</dl>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="sec-online detail">
			<div class="detail-set">
				<h2 class="sec-online__title text-vollkorn">ONLINE SHOP</h2>
				<p class="sec-online__text">下記オンラインショップでもお求めいただけます。</p>
				<ul class="sec-online__ul">
					<li>
						<a href="https://maison.kose.co.jp/site/infinity/c/c04/" target="_blank">
							<img loading="lazy" class="w-cover" src="/infinity/resources/images/rfc2025/online_logo_001.jpg"
								alt="maisonkose" width="180" height="122">
						</a>
					</li>
					<li>
						<a href="https://aeonretail.com/list/infinity" target="_blank">
							<img loading="lazy" class="w-cover" src="/infinity/resources/images/rfc2025/online_logo_002.jpg" alt="aeon"  width="181" height="122">
						</a>
					</li>
					<li>
						<a href="#" target="_blank">
							<img loading="lazy" class="w-cover" src="/infinity/resources/images/rfc2025/online_logo_003.jpg" alt="イトーヨーカドーネット通販"  width="180" height="122">
						</a>
					</li>
					<li>
						<a href="https://www.e-welcia.com/products/list.php?category_id=54200" target="_blank">
							<img loading="lazy" class="w-cover" src="/infinity/resources/images/rfc2025/online_logo_004.jpg"
								alt="welcia"  width="180" height="122">
						</a>
					</li>
					<li>
						<a href="#" target="_blank">
							<img loading="lazy" class="w-cover" src="/infinity/resources/images/rfc2025/online_logo_005.jpg"
								alt="cosme shopping"  width="181" height="122">
						</a>
					</li>
				</ul>
				<p class="sec-online__note">ここから先は外部サイトへ移動します。価格やサービス内容については、外部サイトの利用規約に従うもので、当社は一切責任を負いません。</p>
			</div>
		</section>
		<section id="oneoflove" class="oneoflove">
			<div id="movie" class="sec-wrap">
				<div class="oneoflove-box motion-box">
					<h2 class="oneoflove-title">One of Loveプロジェクト</h2>
					<div class="oneoflove-block">
						<div class="oneoflove-logo">
							<img loading="lazy" class="w-cover" src="/infinity/resources/images/rfc2025/oneoflove_logo.png"
								alt="One of Love" width="307" height="216">
						</div>
						<div class="oneoflove-col">
							<p class="oneoflove-text">
								音楽とバラで、途上国の子供たちの教育環境、そしてその母親でもある働く女性たちの雇用整備の向上を目指す支援活動です。継続的に途上国を支援し、子供たちの健全な教育と地域の振興を支えていきたいと考えています。また、労働者が誇りを持って仕事に従事出来るよう、生活基盤の向上を目指します。夏木マリさんが中心となって推進するこのプロジェクトに、2021年からコーセーも賛同しています。
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
<div class="modal-lineup">
	<div class="modal-lineup__base">
		<div class="modal-g carousel-lineup">
			<button class="modal-lineup__close">
				<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/btn_close.png" alt="CLOSE" />
			</button>
			<button class="modal-lineup__left carousel-ui__prev">
				<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/arrow_left.png" alt="←" />
			</button>
			<button class="modal-lineup__right carousel-ui__next">
				<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/arrow_right.png" alt="→" />
			</button>
			<div class="modal-block">
				<div class="modal-cat">
					<ul class="carousel-main">
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_001.jpg" alt="">
							<p class="modal-caption">&lt;2025年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_002.jpg" alt="">
							<p class="modal-caption">&lt;2025年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_003.jpg" alt="">
							<p class="modal-caption">&lt;2025年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_004.jpg" alt="">
							<p class="modal-caption">&lt;2025年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_005.jpg" alt="">
							<p class="modal-caption">&lt;2025年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_006.jpg" alt="">
							<p class="modal-caption">&lt;2025年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_007.jpg" alt="">
							<p class="modal-caption">&lt;2025年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_008.jpg" alt="">
							<p class="modal-caption">&lt;2025年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_009.jpg" alt="">
							<p class="modal-caption">&lt;2025年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_010.jpg" alt="">
							<p class="modal-caption">&lt;2025年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_011.jpg" alt="">
							<p class="modal-caption">&lt;2025年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_012.jpg" alt="">
							<p class="modal-caption">&lt;2025年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_013.jpg" alt="">
							<p class="modal-caption">&lt;2025年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_014.jpg" alt="">
							<p class="modal-caption">&lt;2025年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_015.jpg" alt="">
							<p class="modal-caption">&lt;2025年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_016.jpg" alt="">
							<p class="modal-caption">&lt;2025年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_017.jpg" alt="">
							<p class="modal-caption">&lt;2025年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_018.jpg" alt="">
							<p class="modal-caption">&lt;2025年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_019.jpg" alt="">
							<p class="modal-caption">&lt;2025年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_020.jpg" alt="">
							<p class="modal-caption">&lt;2025年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_021.jpg" alt="">
							<p class="modal-caption">&lt;2025年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_022.jpg" alt="">
							<p class="modal-caption">&lt;2025年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_023.jpg" alt="">
							<p class="modal-caption">&lt;2025年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_024.jpg" alt="">
							<p class="modal-caption">&lt;2025年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_025.jpg" alt="">
							<p class="modal-caption">&lt;2025年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_026.jpg" alt="">
							<p class="modal-caption">&lt;2025年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_027.jpg" alt="">
							<p class="modal-caption">&lt;2025年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_028.jpg" alt="">
							<p class="modal-caption">&lt;2025年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_029.jpg" alt="">
							<p class="modal-caption">&lt;2025年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_030.jpg" alt="">
							<p class="modal-caption">&lt;2025年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_031.jpg" alt="">
							<p class="modal-caption">&lt;2025年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_032.jpg" alt="">
							<p class="modal-caption">&lt;2025年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_033.jpg" alt="">
							<p class="modal-caption">&lt;2025年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_034.jpg" alt="">
							<p class="modal-caption">&lt;2025年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_035.jpg" alt="">
							<p class="modal-caption">&lt;2025年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_036.jpg" alt="">
							<p class="modal-caption">&lt;2025年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_037.jpg" alt="">
							<p class="modal-caption">&lt;2025年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_038.jpg" alt="">
							<p class="modal-caption">&lt;2025年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_039.jpg" alt="">
							<p class="modal-caption">&lt;2025年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_040.jpg" alt="">
							<p class="modal-caption">&lt;2025年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_041.jpg" alt="">
							<p class="modal-caption">&lt;2025年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_042.jpg" alt="">
							<p class="modal-caption">&lt;2025年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_043.jpg" alt="">
							<p class="modal-caption">&lt;2025年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_044.jpg" alt="">
							<p class="modal-caption">&lt;2025年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_045.jpg" alt="">
							<p class="modal-caption">&lt;2025年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_046.jpg" alt="">
							<p class="modal-caption">&lt;2025年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_047.jpg" alt="">
							<p class="modal-caption">&lt;2025年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_048.jpg" alt="">
							<p class="modal-caption">&lt;2025年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_049.jpg" alt="">
							<p class="modal-caption">&lt;2025年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_050.jpg" alt="">
							<p class="modal-caption">&lt;2025年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_051.jpg" alt="">
							<p class="modal-caption">&lt;2025年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_052.jpg" alt="">
							<p class="modal-caption">&lt;2025年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_053.jpg" alt="">
							<p class="modal-caption">&lt;2025年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_054.jpg" alt="">
							<p class="modal-caption">&lt;2025年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_055.jpg" alt="">
							<p class="modal-caption">&lt;2025年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_056.jpg" alt="">
							<p class="modal-caption">&lt;2025年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_057.jpg" alt="">
							<p class="modal-caption">&lt;2025年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_058.jpg" alt="">
							<p class="modal-caption">&lt;2025年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_059.jpg" alt="">
							<p class="modal-caption">&lt;2025年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_060.jpg" alt="">
							<p class="modal-caption">&lt;2025年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_061.jpg" alt="">
							<p class="modal-caption">&lt;2025年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_062.jpg" alt="">
							<p class="modal-caption">&lt;2025年&gt;</p>
						</li>
						<li>
							<img loading="lazy" class="w-100" src="/infinity/resources/images/rfc2025/modal/modal_2025_063.jpg" alt="">
							<p class="modal-caption">&lt;2025年&gt;</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-lineup__bg"></div>
</div>
{%- endblock -%}